<h1>Listing Label Files</h1>
<% if @msg && !@msg.result %>
    <div class="error">
      <%= @msg.content %>
    </div>
<% end %>

<%= link_to '新建Label文件', send("new_label_path") %>
<br>
<table>
  <thead>
  <tr>
    <th></th>
    <th>Type</th>
    <th>Name</th>
    <th>PathName</th>
    <th>Path</th>
    <th>Version</th>
    <th>MD5</th>

    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @labels.each_with_index do |label, index| %>
      <tr>
        <td><%= index %>
        <td><%= label.type %></td>
        <td><%= label.name %></td>
        <td><%= label.path_name %></td>
        <td><%= label.path %></td>
        <td><%= label.version %></td>
        <td><%= label.md5 %></td>
        <td><%= link_to 'Destroy', label_path(label.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @labels, :page_links => false %>