<style>
    .col-sm-12 {
        height: 40px;
    }
</style>

<%= form_for(@tenant) do |f| %>
    <% if @tenant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

          <ul>
            <% @tenant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-sm-12" style="border-bottom: 1px dashed #ccc;">
          <div class="col-sm-3">
            <!-- <%= f.label :name %> -->
            <label for="tenant_name">公司名称</label>
            <%= f.text_field :name %>
          </div>
          <div class="col-sm-3">
            <!-- <%= f.label :code %> -->
            <label for="tenant_code">编码</label>
            <%= f.text_field :code %>
          </div>
          <div class="col-sm-3">
            <!-- <%= f.label :short_name %> -->
            <label for="tenant_short_name">简称</label>
            <%= f.text_field :short_name %>
          </div>
          <div class="col-sm-3">
            <!-- <%= f.label :address %> -->
            <label for="tenant_address">地址</label>
            <%= f.text_field :address %>
          </div>
        </div>

        <div class="col-sm-12" style="margin-top: 20px;border-bottom: 1px solid #000;">
          <div class="col-sm-3">
            <!-- <%= f.label :email %> -->
            <label for="tenant_email">邮件</label>
            <%= f.text_field :email %>
          </div>
          <div class="col-sm-3">
            <!-- <%= f.label :tel %> -->
            <label for="tenant_tel">电话</label>
            <%= f.text_field :tel %>
          </div>
          <div class="col-sm-3">
            <!-- <%= f.label :website %> -->
            <label for="tenant_website">网址</label>
            <%= f.text_field :website %>
          </div>
        </div>

        <div class="col-sm-12">
          <input type="submit" value="完成" name="commit" class="btn btn-primary" style="margin-top: 10px;width:200px;">
        </div>
      </div>
    </div>
<% end %>
