<%= form_for(@movement_list) do |f| %>
  <% if @movement_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement_list.errors.count, "error") %> prohibited this movement_list from being saved:</h2>

      <ul>
      <% @movement_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :builder %><br>
    <%= f.text_field :builder %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
