<style>
    .col-sm-12 {
        height: 40px;
        line-height: 40px;
    }

    .up_search {
        text-align: center;
        cursor: pointer;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    .label {
        font-size: 1em;
    }

    select {
        min-width: 150px;
    }
    
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">
      移库管理
    </li>
    <li class="active">
      移库单
    </li>
  </ol>
</div>
<div class="all-search">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div class="col-sm-12">
      <div class="col-sm-4">
        移库单号：
        <input type="text" name="movement_list[name]" value="<%= @name %>"/>
        <input type="hidden" name="movement_list[name_fuzzy]"/>
      </div>
      <div class="col-sm-4">
        状态：
        <%= select 'movement_list', 'state', MovementListState.menu, selected: @state, include_blank: true %>
      </div>
      <div class="col-sm-4">
        创建人：
        <input type="text" name="movement_list[builder]" value="<%= @builder %>"/>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-6">
        创建日期：
        <input type="text" name="movement_list[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
        ~ <input type="text" name="movement_list[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
      </div>

      <div class="col-sm-6">
        <input type="submit" value="查找" class="btn btn-primary" name="search" style="width: 200px;"/>
      </div>
    </div>
  </form>
</div>

<div class="col-sm-12 up_search">
  <i class=" glyphicon glyphicon-chevron-up" title="收起搜索条件"></i>
</div>

<div class="col-sm-12" style="margin-bottom: 20px;margin-top: 10px;">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @movement_lists %>
    </div>
    <%= will_paginate @movement_lists, :container => false %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>No.</th>
    <th>移库单名称</th>
    <th>移库单号</th>
    <th>状态</th>
    <th>清单
    </td>
    <th>导出
    </td>
    <th>创建人</th>
    <th>创建时间</th>
    <th>备注</th>
    <!--<th colspan="4"></th>-->
    <th colspan="3"></th>    
  </tr>
  </thead>

  <tbody>
  <% @movement_lists.each_with_index do |movement_list, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= movement_list.name %></td>
        <td><%= movement_list.id %></td>
        <td><%= MovementListState.display movement_list.state.to_i %></td>
        <td>
          <%= link_to content_tag(:span, '清单列表', :class => 'label label-primary'), movement_sources_movement_list_path(movement_list) %>

          <span class="badge pull-right"><%= movement_list.movement_sources.count %></td>
        <td>
          <%= link_to content_tag(:span, '导出移库单详细', :class => 'label label-primary'), exports_movement_lists_path(movement_list) %>
        </td>
        <% if builder=User.find_by_id(movement_list.builder) %>
            <td><%= builder.nr %></td>
        <% else %>
            <td></td>
        <% end %>
        <td><%= movement_list.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= movement_list.remarks %></td>
        <!--<td><%= link_to '详细', movement_list %></td>-->
        <!--<td><%= link_to '编辑', edit_movement_list_path(movement_list) %></td>-->
        <td><%= link_to '删除', movement_list, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<div class="digg_pagination">
  <%= will_paginate @movement_lists, :container => false %>
</div>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
    $('.up_search').click(function () {
        var this_arrow = $(this);
        $('.all-search').slideToggle(300, function () {
            if (this_arrow.children('i').hasClass('glyphicon-chevron-up')) {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-down');
                this_arrow.children('i').attr('title', '展开搜索条件');
            } else {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-up');
                this_arrow.children('i').attr('title', '收起搜索条件');
            }
        });
    })
</script>
