<h2>库存操作源数据列表</h2>

<div>
  <form method="get" action="<%= send("search_movement_sources_path") %>">
    <div>
      <div>
        <div>
            <span>零件号：
              <input type="text" name="movement_source[partNr]" value="<%= @partNr %>"/>
            </span>
            <span>唯一码：
              <input type="text" name="movement_source[packageId]" value="<%= @packageId %>"/>
            </span>
          <!--<span>类型：-->
          <!--<%= select_tag('movement_source[type_id]', options_from_collection_for_select(MoveType.all, :id, :typeId, @type_id), include_blank: true) %>-->
          <!--</span>-->
            <span>员工号：
              <input type="text" name="movement_source[employee_id]" value="<%= @employee_id %>"/>
            </span>
        </div>

        <div>
            <span>源仓库号：
              <%= select_tag('movement_source[from_id]', options_from_collection_for_select(Whouse.all, :name, :id, @from_id), include_blank: true) %>
            </span>
            <span>源库位号：
              <input type="text" name="movement_source[fromPosition]" value="<%= @fromPosition %>"/>
            </span>

            <span>目的仓库号：
              <%= select_tag('movement_source[to_id]', options_from_collection_for_select(Whouse.all, :name, :id, @to_id), include_blank: true) %>
            </span>
            <span>目的库位号：
              <input type="text" name="movement_source[toPosition]" value="<%= @toPosition %>"/>
            </span>
        </div>

        <div>
          <span>备注：
            <input type="text" name="movement_source[remarks]" value="<%= @remarks %>"/>
          </span>
            <span>
              创建日期：
              <input type="text" name="movement_source[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
              ~  <input type="text" name="movement_source[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
            </span>
            <span>
              FIFO：
              <input type="text" name="movement_source[fifo][start]" class="datepicker" value="<%= @fifo_start %>"/>
              ~  <input type="text" name="movement_source[fifo][end]" class="datepicker" value="<%= @fifo_end %>"/>
            </span>
        </div>
        <div>
          <input type="submit" value="查找" class="btn btn-primary" name="search"/>
          <input type="submit" value="导出" class="btn btn-primary" name="download"/>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @movement_sources %>
  </div>
  <%= will_paginate @movement_sources, :container => false %>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>NO.</th>
    <th>零件号</th>
    <th>唯一码</th>
    <th>数量</th>
    <th>FIFO</th>
    <th>创建时间</th>
    <th>源仓库</th>
    <th>源库位</th>
    <th>目的仓库</th>
    <th>目的库位</th>
    <th>员工号</th>
    <th>备注</th>
    <th>所属移库单</th>
    <th>状态</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @movement_sources.each_with_index do |movement, i| %>
      <tr>
        <td><%= @page_start+i+1 %></td>
        <td><%= movement.partNr if movement.partNr %></td>
        <td><%= movement.packageId if movement.packageId %></td>
        <td><%= movement.qty %></td>
        <td><%= movement.fifo.localtime if movement.fifo %> </td>
        <td><%= movement.created_at.localtime if movement.created_at %></td>
        <td><%= movement.fromWh if movement.fromWh %></td>
        <td><%= movement.fromPosition if movement.fromPosition %></td>
        <td><%= movement.toWh if movement.toWh %></td>
        <td><%= movement.toPosition if movement.toPosition %></td>
        <td><%= movement.employee_id if movement.employee_id %> </td>
        <td><%= movement.remarks if movement.remarks %> </td>
        <td><%= movement.movement_list_id %> </td>
        <td><%= MovementListState.display movement.movement_list.state.to_i %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<div class="digg_pagination">
  <%= will_paginate @movement_sources, :container => false %>
</div>

<%= link_to '返回', movement_lists_path, :class => "btn btn-default btn-lg" %>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
</script>