<style>
  .table > thead > tr > th, .table > tbody > tr > td {
    text-align: center;
  }

  .label {
    font-size: 1em;
  }

  .IconA {
    margin: 0 10px;
    font-size: 1.2em;
  }

  .IconA:hover {
    text-decoration: none;
    background-color: white;
  }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">
      退货生成
    </li>
    <li class="active">
      退货项
    </li>
  </ol>
</div>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>退货单号</th>
    <th>零件号</th>
    <th>数量</th>
    <th>退货原因</th>
    <th>样品</th>
    <th>备注</th>
    <th>仓库号</th>
    <th>库位号</th>
    <!--<th>操作</th>-->
  </tr>
  </thead>

  <tbody>
  <% @back_part_items.each do |back_part_item| %>
      <tr>
        <td><%= back_part_item.back_part.id %></td>
        <td><%= back_part_item.part.nr %></td>
        <td><%= back_part_item.qty %></td>
        <td><%= back_part_item.back_reason %></td>
        <td><%if back_part_item.has_sample %>
              <%= 'Y' %>
          <%else %>
              <%= 'N' %>
          <%end %>
        </td>
        <td><%= back_part_item.remark %></td>
        <td><%= back_part_item.whouse.blank? ? '' : back_part_item.whouse.nr %></td>
        <td><%= back_part_item.position.blank? ? '' : back_part_item.position.nr %></td>
        <!--<td><%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), back_part_item %></td>-->
        <!--<td><%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_back_part_item_path(back_part_item) %></td>-->
        <!--<td><%= link_to content_tag(:i, '', :class => ' glyphicon glyphicon-trash', :style => 'color:darkred;'), back_part_item, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>

<!--<%= link_to 'New Back part item', new_back_part_item_path %>-->
