<%= form_for(@led_state) do |f| %>
    <% if @led_state.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@led_state.errors.count, "error") %> prohibited this package from being saved:</h2>

          <ul>
            <% @led_state.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name,'状 态'%>
      <%=  f.select(:name,LedLightState.list,{include_blank: false})%>
    </p>

    <p>

    </p>

    <p>
      <%= f.label :led_code, 'LED闪烁代码'%>
      <%= f.text_field :led_code%>
    </p>

    <div class="actions">
      <%= f.submit value: '提 交', class: 'btn btn-primary btn-lg' %>
    </div>
<% end %>