<div class="container-fluid">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>库存</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-5">
          <%= form_tag("/storages/search_storage",method: "get") do%>
              <div class="input-group">
                <%= text_field_tag(:part_id,@part_id,class:"form-control",placeholder: "Search for...")%>
                <%= text_field_tag(:part_type_id,@part_type_id,class:"form-control hidden")%>
                <span class="input-group-btn">
                  <%= submit_tag("Go!",class:'btn btn-default')%>
                </span>
              </div>
          <% end%>
        </div>
        <div class="col-lg-7">
          <div class="container-fluid">
            <div class="btn-group" role="group" aria-label="...">
              <% PartType.all.each do |pt| %>
                  <%= link_to pt.name, panel_storages_path(part_type_id: pt.id), class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <%= render partial: 'result' %>
      </div>
    </div>
  </div>
</div>
