<style>
    #HasPermission > strong, #NoPermission > strong {
        margin: -3px 10px 0 2px;
    }

    .SavePermissions {
        width: 200px;
        font-size: 1.2em;
        margin: 10px 0 0 -37px;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-primary" style="margin: 20px 15px 0 15px;">
  <div class="panel-body" style="text-align: left;display: flex">
    <div class="col-md-2" style="border-right: 1px solid #ccc;">
      <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1em;">
        <li class="active">管理</li>
        <li class="active">基础信息设置</li>
        <li>
          <a href="/permission_groups">权限分组</a>
        </li>
        <li class="active">分配权限</li>
      </ol>
    </div>

    <div class="col-md-10" style="padding: 10px 0 0 0;">
      <h4 class="col-md-2" style="text-align: center;"><b>权限组名称:</b></h4>
      <strong class="col-md-10" style="margin: 10px 0 0 -30px;" title="<%= @permission_group.name %>">
        <span style="border: 1px solid steelblue;padding: 5px 20px;background: steelblue;color: white;border-radius: 50px;font-size: 1.2em;"><%= @permission_group.name %></span></strong>
    </div>
  </div>
</div>

<div class="col-md-12" style="margin: 20px 0 0 0;">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title" style="display: flex;">
        <div class="col-md-3">
          <h3>分配权限</h3>
        </div>
        <div class="col-md-9" style="text-align: right;">
          <button class="btn btn-primary SavePermissions"><i class="glyphicon glyphicon-ok"></i>&emsp;保存</button>
        </div>
      </div>
    </div>
    <div class="panel-body" style="text-align: center;border-bottom: 1px solid #000000;">
      <div class="col-md-2">
        <h4>已拥有权限</h4>
      </div>

      <div class="col-md-10" id="HasPermission" style="border-left: 1px solid #CCCCCC;min-height: 60px;">
      </div>
    </div>

    <div class="panel-body" style="text-align: center;">
      <div class="col-md-2">
        <h4>未拥有权限</h4>
        <h4>全选 <input id="pick-all-permission" type="checkbox"></h4>
      </div>

      <div class="col-md-10" id="NoPermission" style="border-left: 1px solid #CCCCCC;min-height: 60px;">
      </div>
    </div>
  </div>
</div>

<script>
    ShowPermission();

    var PermissionJSON = [];
    $('.SavePermissions').click(function () {
        $('.CheckBox').each(function () {
            var PerssionsID = $(this).attr('id');
            var PerssionsName = $(this).parent().children('strong').html();
            var PerssionsStatus = $(this).attr('ischecked');
            PermissionJSON.push({id: PerssionsID, name: PerssionsName, status: PerssionsStatus});
        });

        $.ajax({
            url: '/permission_groups/add_permissions',
            type: 'post',
            data: {
                permission_group_id: <%=@permission_group.id %>,
                permission_data: PermissionJSON
            },
            success: function (data) {
                location.reload();
            },
            error: function () {
            },
            complete: function (xhr) {
                if (xhr.status == 304) return;
            }
        });
    });

    function ShowPermission() {
        <% @permissions.each_with_index do |p| %>
        if (<%= p[:status] %>) {
            $('<div class="col-md-2" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;border: 1px solid lightseagreen;background: lightseagreen;color: white;border-radius: 4px;margin:0 5px 5px 5px;text-align: left;height: 30px;padding: 5px 0 0 10px;">' +
                    '<input type="checkbox" class="CheckBox" id="<%= p[:id]%>" ischecked="true" checked><strong title="<%= p[:description] %>">' + '<%= p[:description] %>' + '</strong></input></div>').appendTo('#HasPermission').ready(function () {
            });
        } else {
            $('<div class="col-md-2" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;border: 1px solid steelblue;background: steelblue;color: white; border-radius: 4px;margin:0 5px 5px 5px;text-align: left;height: 30px;padding: 5px 0 0 10px;">' +
                    '<input type="checkbox" class="CheckBox" id="<%= p[:id]%>" ischecked="false"> <strong title="<%= p[:description] %>">' + '<%= p[:description] %>' + '</strong></input></div>').appendTo('#NoPermission').ready(function () {
            });
        }
        <% end %>

        $(":checkbox").click(function () {
            if ($(this).attr('ischecked') == "true") {
                $(this).attr('ischecked', 'false');
            } else {
                $(this).attr('ischecked', 'true');
            }
        });
    }

    $(document).ready(function () {
        if ($(".col-md-2").length == $(".CheckBox:ischecked").length) {
            $("#CheckBox").prop("ischecked", true);
        } else {
            $("#CheckBox").prop("ischecked", false);
        }
    });
</script>


