<style>
    body {
        background-color: white;
    }

    .PerGroups {
        width: 250px;
        height: 180px;
        background: #f2f2f2;
        border-radius: 4px;
        border: 1px solid #CCCCCC;
        margin: 10px 0 0 10px;
    }

    .PerGroupsName {
        font-size: 20px;
        text-align: center;
        padding: 5px 0 5px 0;
        color: steelblue;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .PreGroupsDescription {
        margin: -20px 0 0 0;
        height: 90px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .PerGroupsIcon > a > i {
        font-size: 2em;
        margin: 15px 20px 0 20px;
        cursor: pointer;
    }

    .PerGroupsIcon > a:hover {
        background-color: #f2f2f2;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb col-md-6" style="background: transparent;padding: 20px 0 0 20px;">
    <li class="active">管理</li>
    <li class="active">基础信息设置</li>
    <li>
      权限分组
    </li>
  </ol>

  <div class="col-md-6" style="text-align: right;">
    <button class="btn btn-primary" style="width: 200px;margin: 15px 0 0 0;" data-toggle="modal" data-target="#NewPermissionModal">
      <i class="glyphicon glyphicon-plus" style="color: white;"></i> 新建权限组
    </button>
  </div>
</div>

<div class="col-sm-12" style="border: 1px solid steelblue;margin-top: 20px;margin-bottom: 20px;">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @permission_groups %>
    </div>
    <%= will_paginate @permissions, :container => false %>
  </div>
</div>

<div class="modal fade" id="NewPermissionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">新建权限组</h4>
      </div>
      <div class="modal-body">
        <strong>组名:</strong> <input type="text" class="form-control" id="NewPermissionGroupName" autocomplete="off">
        <br>
        <strong>描述:</strong>
        <br>
        <textarea cols="66" rows="5" id="NewPermissionGroupDescription" aria-autocomplete="none">
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="NewPermissionGroups()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="UpdatePermissionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Update Permission Groups</h4>
      </div>
      <div class="modal-body">
        <strong>Name:</strong>
        <input type="text" class="form-control" id="UpdatePermissionGroupName" autocomplete="off">
        <strong>Description:</strong>
        <textarea cols="66" rows="5" id="UpdatePermissionGroupDescription" aria-autocomplete="none">
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="UpdatePermissionGroups()">Update</button>
      </div>
    </div>
  </div>
</div>

<% @permission_groups.each do |permission_group| %>
    <div class="PerGroups col-md-2">
      <div class="PerGroupsName" title="<%= permission_group.name %>">
        <%= permission_group.name %>
      </div>
      <hr style="border-color: #ccc;margin: 2px 0 20px 0;">
      <div class="PreGroupsDescription">
        <strong title="<%= permission_group.description %>"><%= permission_group.description %></strong>
      </div>
      <hr style="border-color: #ccc;margin: 0">
      <div class="PerGroupsIcon">
        <!-- <a onclick="ShowModal(<%= permission_group.id %>,'<%= permission_group.name %>','<%= permission_group.description %>')">
          <i class="glyphicon glyphicon-pencil" style="color: steelblue;" title="编辑该权限组"></i>
        </a>-->

        <a href="<%= edit_permission_group_path(permission_group) %>">
          <i class="glyphicon glyphicon-pencil" style="color: steelblue;" title="编辑该权限组"></i>
        </a>

        <a href="<%= add_permissions_permission_groups_path(permission_group) %>">
          <i class="glyphicon glyphicon-cog" style="color: green;" title="修改改组权限"></i>
        </a>

        <a rel="nofollow" href="<%= permission_group_path(permission_group) %>" data-method="delete" data-confirm="Are you sure?">
          <i class="glyphicon glyphicon-trash" style="color: darkred;" title="删除该权限组"></i>
        </a>
      </div>
    </div>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @permission_groups, :container => false %>
</div>

<script>
    var ClientHeight = document.documentElement.clientHeight;
    $('.modal').css({top: (ClientHeight - 600) / 2 + 'px'});

    function NewPermissionGroups() {
        var NewPermissionGroupsNameData = $('#NewPermissionGroupName').val();
        var NewPermissionGroupsDescriptionData = $('#NewPermissionGroupDescription').val();

        if (NewPermissionGroupsNameData == "") {
            $('#NewPermissionGroupName').css({border: '2px solid darkred'});
        } else {
            $.ajax({
                url: '/permission_groups',
                data: {
                    permission_group: {
                        name: NewPermissionGroupsNameData,
                        description: NewPermissionGroupsDescriptionData
                    }
                },
                type: 'post',
                success: function (data) {
                },
                error: function () {
                    console.log("请求数据错误.无法链接到服务器.")
                },
                complete: function (xhr) {
                    if (xhr.status == 304) return;
                }
            });
            location.reload();
            $('#NewPermissionModal').modal('hide');
        }
    }

    function ShowModal(num, name, description) {
        $('#UpdatePermissionModal').modal('show');
        $('#UpdatePermissionGroupName').val(name);
        $('#UpdatePermissionGroupDescription').val(description);
        $('#UpdatePermissionModal').attr('Num', num);
    }

    function UpdatePermissionGroups() {
        var UpdatePermissionGroupsName = $('#UpdatePermissionGroupName').val();
        var UpdatePermissionGroupsDescription = $('#UpdatePermissionGroupDescription').val();
        var UpdateNum = $('#UpdatePermissionModal').attr('num');
        if (UpdatePermissionGroupsName == "") {
            $('#UpdatePermissionGroupName').css({
                border: '2px solid darkred'
            });
        } else {
            $.ajax({
                url: '/permission_groups/' + UpdateNum,
                type: 'post',
                data: {
                    permission_group: {
                        name: UpdatePermissionGroupsName,
                        description: UpdatePermissionGroupsDescription
                    }
                },
                success: function (data) {
                },
                error: function () {
                    console.log("请求数据错误.无法链接到服务器.")
                },
                complete: function (xhr) {
                    if (xhr.status == 304) return;
                }
            });
//            location.reload();
//            $('#UpdatePermissionModal').modal('hide');
        }
    }
</script>