<h2 class="col-md-3">Permission Groups</h2>

<div class="col-md-9" style="text-align: right;">
  <a href="/permission_groups/new">
    <button class="btn btn-primary" style="width: 200px;margin: 15px 0 0 0;">
      <i class="glyphicon glyphicon-plus" style="color: white;"></i> New
    </button>
  </a>
</div>

<div class="digg_pagination">
  <div class="page_info" style="width: auto;text-align: left;height: 40px;margin: 60px 0 0 0">
    <%= page_entries_info @permission_groups %>
  </div>
  <%= will_paginate @permissions, :container => false %>
</div>



<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>名称</th>
    <th>描述</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @permission_groups.each do |permission_group| %>
      <tr>
        <td><%= permission_group.name %></td>
        <td><%= permission_group.description %></td>
        <td><%= link_to '详细', permission_group %></td>
        <td><%= link_to '编辑', edit_permission_group_path(permission_group) %></td>
        <td><%= link_to '删除', permission_group, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td><%= link_to '添加成员', edit_permission_group_path(permission_group) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @permission_groups, :container => false %>
</div>