<h1>Listing permission_groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permission_groups.each do |permission_group| %>
      <tr>
        <td><%= permission_group.name %></td>
        <td><%= permission_group.description %></td>
        <td><%= link_to 'Show', permission_group %></td>
        <td><%= link_to 'Edit', edit_permission_group_path(permission_group) %></td>
        <td><%= link_to 'Destroy', permission_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission group', new_permission_group_path %>
