<h2>盘点项列表</h2>

<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <div>
        <div>
            <span>零件号：
              <input type="text" name="inventory_list_item[part_id]" value="<%= @part_id %>"/>
              <input type="hidden" name="inventory_list_item[part_id_fuzzy]"/>
            </span>


           <span>状态：
             <%= select 'inventory_list', 'state', InventoryListState.menu, selected: @inventory_list_state, include_blank: true %>
            </span>

            <span>仓库号：
              <%= select_tag('inventory_list_item[current_whouse]', options_from_collection_for_select(Whouse.all, :name, :id, @current_whouse), include_blank: true) %>
            </span>


            <span>库位号：
              <input type="text" name="inventory_list_item[current_position]" value="<%= @current_position %>"/>
              <input type="hidden" name="inventory_list_item[current_position_fuzzy]"/>
            </span>
        </div>
        <div>
          <input type="submit" value="查找" class="btn btn-primary" name="search"/>
          <!--<input type="submit" value="导出" class="btn btn-primary" name="download"/>-->
        </div>
      </div>
    </div>
  </form>
</div>

<%= link_to "新建盘点项", send("new_#{@model}_path"), :class => 'btn btn-default' %>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @inventory_list_items %>
  </div>
  <%= will_paginate @inventory_list_items, :container => false %>
</div>


<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>NO.</th>
    <th>零件号</th>
    <th>FIFO</th>
    <th>FIFO报表</th>
    <th>数量</th>
    <th>原数量</th>
    <th>盘点库位号</th>
    <th>唯一码</th>
    <th>目前仓库</th>
    <th>目前库位</th>
    <th>原材料/半成品/成品标记</th>
    <th>原材料线/非线标记</th>
    <th>需要转换</th>
    <th>创建人</th>
    <th>是否在库存</th>
    <th>是否已锁定包装箱库存</th>
    <th>是否已入库</th>
    <th>所属清单</th>
    <th>盘点状态</th>
    <th colspan="2">&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @inventory_list_items.each_with_index do |inventory_list_item, i| %>
      <tr>
        <td><%= i+1 %></td>
        <% unless inventory_list_item.in_stored? %>
            <td><%= best_in_place inventory_list_item, :part_id, as: :input %></td>
            <td><%= best_in_place inventory_list_item, :fifo_display, as: :input, display_as: :fifo_display %></td>
        <% else %>
            <td><%= inventory_list_item.part_id %></td>
            <td><%= inventory_list_item.fifo_display %></td>
        <% end %>
        <td><%= inventory_list_item.fifo_export_display %></td>
        <% unless inventory_list_item.in_stored? %>
            <td><%= best_in_place inventory_list_item, :qty, as: :input %></td>
            <td><%= best_in_place inventory_list_item, :origin_qty, as: :input %></td>
            <td><%= best_in_place inventory_list_item, :position, as: :input %></td>
        <% else %>
            <td><%= inventory_list_item.qty %></td>
            <td><%= inventory_list_item.origin_qty %></td>
            <td><%= inventory_list_item.position %></td>
        <% end %>
        <td><%= inventory_list_item.package_id %></td>
        <td><%= inventory_list_item.current_whouse %></td>
        <td><%= inventory_list_item.current_position %></td>
        <% unless inventory_list_item.in_stored? %>
            <td><%= best_in_place inventory_list_item, :part_form_mark, as: :input %></td>
            <td><%= best_in_place inventory_list_item, :part_wire_mark, as: :input %></td>
        <% else %>
            <td><%= inventory_list_item.part_form_mark %></td>
            <td><%= inventory_list_item.part_wire_mark %></td>
        <% end %>
        <td><%= inventory_list_item.need_convert_display %></td>
        <td><%= inventory_list_item.user_id %></td>
        <td><%= inventory_list_item.in_store_display %></td>
        <td><%= inventory_list_item.locked_display %></td>
        <td><%= inventory_list_item.in_stored_display %></td>
        <td><%= inventory_list_item.inventory_list.name %></td>
        <td><%= InventoryListState.display inventory_list_item.inventory_list.state %></td>
        <td><%= link_to 'Show', inventory_list_item %></td>
        <td>
          <% unless inventory_list_item.in_stored? %>
              <%= link_to 'Destroy', inventory_list_item, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<div class="digg_pagination">
  <%= will_paginate @inventory_list_items, :container => false %>
</div>
