<%= form_for(@whouse) do |f| %>
  <% if @whouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whouse.errors.count, "error") %> prohibited this whouse from being saved:</h2>

      <ul>
      <% @whouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :id%>
      <%= f.text_field :id%>
    </p>

    <p>
      <%= f.label :name%>
      <%= f.text_field :name%>
    </p>

    <p>
      <%=  f.select(:location_id,Location.all.collect{|l| [l.name,l.id]},{include_blank: false})%>
    </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
