<%= form_for(@whouse) do |f| %>
    <% if @whouse.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@whouse.errors.count, "error") %> prohibited this whouse from being saved:</h2>

          <ul>
            <% @whouse.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-sm-12" style="height: 40px;border-bottom: 1px dashed #000;">
          <div class="col-sm-4">
            <%= f.label :nr, '编 号' %>
            <%= f.text_field :nr %>
          </div>
          <div class="col-sm-4">
            <%= f.label :name, '名 称' %>
            <%= f.text_field :name %>
          </div>
          <div class="col-sm-4">
            <%= f.label :location_id, '地 点' %>
            <%= f.select(:location_id, Location.all.collect { |l| [l.name, l.id] }, {include_blank: false}) %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit value: '提 交', class: 'btn btn-primary', :style => 'width:200px;margin-top:20px;' %>
        </div>
      </div>
    </div>
<% end %>
