<h1>仓库列表</h1>

<%= link_to "新建分仓库", send("new_#{@model}_path") %>
<%= link_to "上传/更新分仓库", send("import_#{@model.pluralize}_path") %>
<%= link_to "下载", send("download_#{@model.pluralize}_path") %>

<table class="table table-bordered table-striped globle-table">
  <thead>
    <tr>
      <th>序号</th>
      <th>编号</th>
      <th>名称</th>
      <th>所属位置</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @whouses.each_with_index do |whouse,index| %>
      <tr>
        <td><%= index %>
        <td><%= whouse.id %> </td>
        <td><%= whouse.name %></td>
        <td><%= whouse.location.name if whouse.location %></td>
        <td><%= link_to 'Positions', positions_whouse_path(whouse) %></td>
        <td><%= link_to 'Show', whouse %></td>
        <td><%= link_to 'Edit', edit_whouse_path(whouse) %></td>
        <td><%= link_to 'Destroy', whouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @whouses, :page_links => false %>
<br>
