<h1><%= @whouse.name%></h1>
<span class="label label-primary"><%= @whouse.nr%></span>

<h4>所属地点: <small><%= @whouse.location.name %></small></h4>

<%= link_to '编辑', edit_whouse_path(@whouse),:class=>'btn btn-default' %> |
<%= link_to '返回', whouses_path ,:class=>'btn btn-default'%>
