<%= form_for(@movement_source) do |f| %>
  <% if @movement_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement_source.errors.count, "error") %> prohibited this movement_source from being saved:</h2>

      <ul>
      <% @movement_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movement_list_id %><br>
    <%= f.text_field :movement_list_id %>
  </div>
  <div class="field">
    <%= f.label :fromWh %><br>
    <%= f.text_field :fromWh %>
  </div>
  <div class="field">
    <%= f.label :fromPosition %><br>
    <%= f.text_field :fromPosition %>
  </div>
  <div class="field">
    <%= f.label :packageId %><br>
    <%= f.text_field :packageId %>
  </div>
  <div class="field">
    <%= f.label :partNr %><br>
    <%= f.text_field :partNr %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.text_field :qty %>
  </div>
  <div class="field">
    <%= f.label :fifo %><br>
    <%= f.text_field :fifo %>
  </div>
  <div class="field">
    <%= f.label :toWh %><br>
    <%= f.text_field :toWh %>
  </div>
  <div class="field">
    <%= f.label :toPosition %><br>
    <%= f.text_field :toPosition %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :remarks %><br>
    <%= f.text_field :remarks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
