<style>
    .col-sm-12 {
        height: 40px;
        line-height: 40px;
    }

    .up_search {
        text-align: center;
        cursor: pointer;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }
</style>
<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">
      移库管理
    </li>
    <li class="active">
      移库项列表
    </li>
  </ol>
</div>

<div class="all-search">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div class="col-sm-12">
      <div class="col-sm-3">
        移库单号：
        <input type="text" name="movement_source[movement_list_id]" value="<%= @movement_list_id %>"/>
      </div>
      <div class="col-sm-3">
        零件号：
        <input type="text" name="movement_source[partNr]" value="<%= @partNr %>"/>
        <input type="hidden" name="movement_source[partNr_fuzzy]"/>
      </div>
      <div class="col-sm-3">
        唯一码：
        <input type="text" name="movement_source[packageId]" value="<%= @packageId %>"/>
        <input type="hidden" name="movement_source[packageId_fuzzy]"/>
      </div>
      <div class="col-sm-3">
        员工号：
        <input type="text" name="movement_source[employee_id]" value="<%= @employee_id %>"/>
      </div>

    </div>

    <div class="col-sm-12">
      <div class="col-sm-3">
        源仓库号：
        <%= select_tag('movement_source[fromWh]', options_from_collection_for_select(Whouse.all, :nr, :name, @fromWh), include_blank: true) %>
      </div>
      <div class="col-sm-3">
        源库位号：
        <input type="text" name="movement_source[fromPosition]" value="<%= @fromPosition %>"/>
        <input type="hidden" name="movement_source[fromPosition_fuzzy]"/>
      </div>
      <div class="col-sm-3">
        目的仓库号：
        <%= select_tag('movement_source[toWh]', options_from_collection_for_select(Whouse.all, :nr, :name, @toWh), include_blank: true) %>
      </div>
      <div class="col-sm-3">
        目的库位号：
        <input type="text" name="movement_source[toPosition]" value="<%= @toPosition %>"/>
        <input type="hidden" name="movement_source[toPosition_fuzzy]"/>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4">
        创建日期：
        <input type="text" name="movement_source[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
        ~
        <input type="text" name="movement_source[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
      </div>
      <div class="col-sm-4">
        FIFO：
        <input type="text" name="movement_source[fifo][start]" class="datepicker" value="<%= @fifo_start %>"/>
        ~ <input type="text" name="movement_source[fifo][end]" class="datepicker" value="<%= @fifo_end %>"/>
      </div>
      <div class="col-sm-4">
        备注：
        <input type="text" name="movement_source[remarks]" value="<%= @remarks %>"/>
        <input type="hidden" name="movement_source[remarks_fuzzy]"/>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4">
        状态：
        <%= select 'state', 'state', MovementListState.menu, selected: @state, include_blank: true %>
      </div>
      <div class="col-sm-4">
        <input type="submit" value="查找" style="width:200px;" class="btn btn-primary" name="search"/>
      </div>
      <div class="col-sm-4">
        <input type="submit" value="导出" style="width: 200px;" class="btn btn-primary" name="download"/>
      </div>
    </div>
  </form>
</div>

<div class="col-sm-12 up_search">
  <i class=" glyphicon glyphicon-chevron-up" title="收起搜索条件"></i>
</div>

<div class="col-sm-12" style="margin-bottom: 20px">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @movement_sources %>
    </div>
    <%= will_paginate @movement_sources, :container => false %>
  </div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>移库单ID</th>
    <th>源仓库</th>
    <th>源库位</th>
    <th>唯一码</th>
    <th>零件号</th>
    <th>数量</th>
    <th>FIFO</th>
    <th>目的仓库</th>
    <th>目的库位</th>
    <th>员工号</th>
    <th>创建时间</th>
    <th>备注</th>
    <th>移库单状态</th>
    <th colspan="3">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @movement_sources.each do |movement_source| %>
      <tr>
        <td><%= movement_source.movement_list_id %></td>
        <td><%= movement_source.fromWh %></td>
        <td><%= movement_source.fromPosition %></td>
        <td><%= movement_source.packageId %></td>
        <td><%= movement_source.partNr %></td>
        <td><%= movement_source.qty %></td>
        <td><%= movement_source.fifo %></td>
        <td><%= movement_source.toWh %></td>
        <td><%= movement_source.toPosition %></td>
        <% if u=User.find_by_id(movement_source.employee_id) %>
            <td><%= u.nr %></td>
        <% else %>
            <td></td>
        <% end %>
        <td><%= movement_source.created_at.localtime %></td>
        <td><%= movement_source.remarks %></td>
        <td><%= MovementListState.display movement_source.state.to_i %></td>
        <!--<td><%= link_to 'Show', movement_source %></td>-->
        <!--<td><%= link_to 'Edit', edit_movement_source_path(movement_source) %></td>-->
        <% if movement_source.state.to_i != 300 %>
            <td><%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-trash', :style => 'darkred'), movement_source, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'IconA' %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @movement_sources, :container => false %>
</div>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();

    $('.up_search').click(function () {
        var this_arrow = $(this);
        $('.all-search').slideToggle(300, function () {
            if (this_arrow.children('i').hasClass('glyphicon-chevron-up')) {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-down');
                this_arrow.children('i').attr('title', '展开搜索条件');
            } else {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-up');
                this_arrow.children('i').attr('title', '收起搜索条件');
            }
        });
    })
</script>
