<%= form_for(@position) do |f| %>
    <% if @position.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>
          <ul>
            <% @position.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-sm-12" style="border-bottom: 1px dashed #000;">
          <div class="col-sm-4">
            <%= f.label :nr, '编 号' %>
             <%= f.text_field :nr %>
          </div>
          <div class="col-sm-4">
            <%= f.label :detail, '详细位置' %>
            <%= f.text_field :detail %>
          </div>
          <div class="col-sm-4">
            <%= f.label :detail, '所属仓库' %>
            <%= f.select(:whouse_id, Whouse.all.collect { |l| [l.name, l.id] }, {include_blank: false}) %>
          </div>
        </div>

        <div class="col-sm-12" style="margin-top: 20px;">
          <div class="actions">
            <%= f.submit value: '提 交', class: 'btn btn-primary', :style => 'width:150px;' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
