<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= f.label :id,'编 号'%>
      <%= f.text_field :id%>
    </p>

    <p>
      <%= f.label :detail,'详细位置'%>
      <%= f.text_field :detail%>
    </p>

    <p>
      <%= f.label :detail,'所属仓库'%>
      <%=  f.select(:whouse_id,Whouse.all.collect{|l| [l.name,l.id]},{include_blank: false})%>
    </p>

  <div class="actions">
    <%= f.submit value: '提 交', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
