<style>
    .col-sm-12 {
        height: 40px;
    }

    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    .label {
        font-size: 1em;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<% if @msg && !@msg.result %>
    <div class="error">
      <%= @msg.content %>
    </div>
<% end %>
<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">管理</li>
    <li class="active">
      基础信息设置
    </li>
    <li class="active">
      库位
    </li>
  </ol>
</div>
<form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="col-sm-12" style="border-bottom: 1px dashed #000;">
        <div class="col-sm-4">
          库位号：
          <input type="text" name="position[nr]" value="<%= @nr %>"/>
        </div>
        <div class="col-sm-4">
          所属仓库：
          <%= select_tag('position[whouse_id]', options_from_collection_for_select(Whouse.all, 'nr', 'name', @whouse_id), include_blank: true) %>
        </div>
        <div class="col-sm-4">
          <input type="submit" value="查 找" class="btn btn-primary" style="width:150px;"/>
        </div>
      </div>

      <div class="col-sm-12" style="margin-top: 20px;">
        <% if current_user.permission?(:operate_basic_info_create) %>
            <div class="col-sm-4">
              <%= link_to "新建库位", send("new_#{@model}_path"), :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
            </div>
            <div class="col-sm-4">
              <%= link_to "上传/更新库位", send("import_#{@model.pluralize}_path"), :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
            </div>
        <% end %>
        <div class="col-sm-4">
          <%= link_to "下载", send("download_#{@model.pluralize}_path"), data: {confirm: 'Are you sure?'}, :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="col-sm-12" style="margin-top: 10px;">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @positions %>
    </div>
    <%= will_paginate @positions, :container => false %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>序号</th>
    <th>编号</th>
    <th>详细库位</th>
    <th>所属仓库</th>
    <th>仓库默认库位</th>
    <!--<th>零件列表</th>-->
    <th colspan="3">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @positions.each_with_index do |position, index| %>
      <tr>
        <td><%= index+@positions.offset+1 %>
        <td><%= position.nr %></td>
        <td><%= position.detail %></td>
        <td><%= position.whouse.nil? ? '' : position.whouse.name %></td>
        <td><%= position.is_default %></td>
        <!--<td>-->
          <!--<%= link_to content_tag(:span, '零件列表', :class => 'label label-primary'), parts_position_path(position) %>-->
          <!--<span class="badge"><%= position.parts.count %></span>-->
        <!--</td>-->
        <td>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), position, :class => 'IconA', :title => '详细' %>
          <% if current_user.permission?(:operate_basic_info_edit) %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_position_path(position), :class => 'IconA', :title => '编辑' %>
          <% end %>
          <% if current_user.permission?(:operate_basic_info_delete) %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-trash', :style => 'color:darkred;'), position, method: :delete, data: {confirm: '确认删除?'}, :class => 'IconA', :title => '删除' %>
          <% end %>
          <% if position.is_delete %>
              <span class="label label-danger">Deleted</span>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @positions, :container => false %>
</div>

