<h1>位置列表</h1>

<%= link_to "新建库位", send("new_#{@model}_path") %>
<%= link_to "上传/更新库位", send("import_#{@model.pluralize}_path") %>
<%= link_to "下载", send("download_#{@model.pluralize}_path") %>

<br>

<table class="table table-bordered table-striped globle-table">
  <thead>
    <tr>
      <th>序号</th>
      <th>编号</th>
      <th>详细位置</th>
      <th>所属仓库</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each_with_index do |position,index| %>
      <tr>
        <td><%= index %>
        <td><%= position.id%></td>
        <td><%= position.detail%></td>
        <td><%= position.whouse.name %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @positions, :page_links => false %>

