<h2><%= @position.detail%>零件列表</h2>
<br/>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @parts %>
  </div>
  <%= will_paginate @parts, :container => false %>
</div>
<table class="table table-bordered table-striped globle-table table-hover">
  <thead>
  <tr>
    <td>NO.</td>
    <td>零件号</td>
  </tr>
  </thead>
  <tbody>
  <% @parts.each_with_index do |part,index|%>
      <tr>
        <td><%= index+@parts.offset+1%></td>
        <td><%= part.id %></td>
      </tr>
  <% end%>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @parts, :container => false %>
</div>
<%= link_to '返回', positions_path ,:class => "btn btn-default btn-lg" %>