<h1><%= @position.detail%></h1>
<span class="label label-primary"><%= @position.id%></span>

<h4>仓库: <small><%= @position.whouse.name%></small></h4>


<%= link_to '编辑', edit_position_path(@position) ,:class=>'btn btn-default'%> |
<%= link_to '返回', positions_path ,:class=>'btn btn-default'%>
