<p id="notice"><%= notice %></p>

<p>
  <string>ID:</string>
  <%= @position.id%>
</p>

<p>
  <string>Detail:</string>
  <%= @position.detail%>
</p>

<p>
  <string>Ware House:</string>
  <%= @position.whouse.name%>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
