<style>
    .col-sm-12 {
        height: 60px;
        border-bottom: 1px dashed #000;
        line-height: 60px;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }

    select {
        min-width: 150px;
    }
</style>
<%= form_for(@part) do |f| %>
    <% if @part.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

          <ul>
            <% @part.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <%= f.label :nr, '零件号' %>
            <%= f.text_field :nr %>
          </div>
          <div class="col-sm-3">
            <%= f.label :part_type_id, '零件类型' %>
            <%= f.select(:part_type_id, @part_types.collect { |p| [p.name, p.id] }, {include_blank: true}) %>
          </div>
          <div class="col-sm-3">
            <%= f.label :unit, '零件单位' %>
            <%= f.text_field :unit %>
          </div>
          <div class="col-sm-3">
            <%= f.label :unit_pack, '单位包装量' %>
            <%= f.text_field :unit_pack %>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-3">
            <%= f.label :package_type_id, '包装类型' %>
            <%= f.select(:package_type_id, PackageType.all.collect { |p| [p.name, p.id] }, {include_blank: true}) %>
          </div>
          <div class="col-sm-3">
            <%= f.label :unit_pack, '盘点单位转换标准' %>
            <%= f.text_field :convert_unit %>
          </div>
          <div class="col-sm-3">
            <%= f.label :safe_qty, '安全库存量' %>
            <%= f.text_field :safe_qty %>
          </div>
          <div class="col-sm-3">
            <%= f.label :description, '产品描述' %>
            <%= f.text_field :description %>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-3">
            <%= f.label :unit_pack, '是否已删除' %>
            <%= f.check_box :is_delete %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit value: '提 交', class: 'btn btn-primary', :style => 'width:150px;color:white;margin-top:20px;' %>
        </div>
      </div>
    </div>
<% end %>
