<%= form_for(@part) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :id%>
      <%= f.text_field :id%>
    </p>

    <p>
      <%= f.label :customernum%>
      <%= f.text_field :customernum%>
    </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
