<h2>零件列表</h2>
<% if @msg && !@msg.result %>
    <div class="error">
      <%= @msg.content %>
    </div>
<% end %>


<%= link_to "新建零件", send("new_#{@model}_path") %>
<%= link_to "上传/更新零件", send("import_#{@model.pluralize}_path") %>
<%= link_to "下载", send("download_#{@model.pluralize}_path") %>
<%= link_to "上传/更新零件位置", parts_import_positions_path %>
<%= link_to "下载零件位置", parts_download_positions_path %>
<br>
<table class="table table-bordered table-striped globle-table">
  <thead>
  <tr>
    <th>序号</th>
    <th>零件号</th>
    <th>单位包装量</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @parts.each_with_index do |part, index| %>
      <tr>
        <td><%= index %>
        <td><%= part.id %></td>
        <td><%= part.unit_pack %></td>
        <td><%= link_to '详细', part %></td>
        <td><%= link_to '编辑', edit_part_path(part) %></td>
        <td><%= link_to '删除', part, method: :delete, data: {confirm: '确认删除?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @parts, :page_links => false %>