<p id="notice"><%= notice %></p>

<P>
  <string>零件号:</string>
  <%= @part.id %>
</P>

<P>
  <string>零件类型:</string>
  <%= @part.part_type_id %>
</P>
<P>
  <string>单位包装量:</string>
  <%= @part.unit_pack %>
</P>

<p>
  <string>库位:</string>
<ul>
  <% @part.part_positions.each do |pp| %>
      <li>
        <string><%= pp.position.whouse.name %></string>
        <string><%= pp.position.detail %></string>
        <button type="button" class="btn btn-default" onclick="Manage.part.del_position('<%= pp.id.to_s %>',this)">Delete</button>
      </li>
  <% end %>
</ul>
</p>
<%= link_to '编辑', edit_part_path(@part) ,:class=>'btn btn-default'%> |
<%= link_to '返回', parts_path ,:class=>'btn btn-default'%>
