<style>
    .col-sm-6 {
        font-size: 1.4em;
        height: 60px;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">管理</li>
    <li>
      <%= link_to '零件', parts_path %>
    </li>
    <li class="active">
      零件详情
    </li>
  </ol>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= @part.nr %></h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-6">
        零件类型:<%= @part.part_type.name if @part.part_type %>
      </div>
      <div class="col-sm-6">
        零件单位:<%= @part.unit %>
      </div>
      <div class="col-sm-6">
        包装类型:<%= @part.package_type.name if @part.package_type %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-6">
        单位包装量:<%= @part.unit_pack %>
      </div>
      <div class="col-sm-6">
        安全库存量:<%= @part.safe_qty %>
      </div>
    </div>

    <div class="col-sm-12">
    <div class="col-sm-6">
        描述:<%= @part.description %>
    </div>
      <div class="col-sm-6" style="display: flex;">
        库位:
        <ul style="display: flex;">
          <% @part.part_positions.each do |pp| %>
              <li style="margin-left: 10px;height: 25px;line-height: 20px;">
                <string><%= pp.position.whouse.name %></string>
                <string><%= pp.position.nr %></string>
                <string><<<%= pp.sourceable.name if pp.sourceable %></string>
                <button type="button" class="btn btn-default" onclick="Manage.part.del_position('<%= pp.id.to_s %>',this)">Delete</button>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>