<%= form_for(@forklift, url: forklift_path) do |f| %>
    <% if @forklift.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@forklift.errors.count, "error") %> prohibited this forklift from being saved:</h2>
          <ul>
            <% @forklift.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          编辑托盘清单
        </div>
      </div>
      <div class="panel-body">
        <!--<div class="col-sm-4" style="margin-top: 10px;">-->
          <!--<%= f.label :state, '状 态' %>-->
          <!--<%= f.select(:state, MovableState.state, {include_blank: false}, :style => 'width:150px;') %>-->
        <!--</div>-->

        <div class="col-sm-4" style="margin-top: 10px;">
          <%= f.label :remark, '备 注' %>
          <%= f.text_field :remark, :style => 'width:300px;' %>
        </div>

        <div class="actions col-sm-4">
          <%= f.submit value: '提 交', class: 'btn btn-primary', :style => 'width:200px;' %>
        </div>
      </div>
    </div>
<% end %>
