<%= form_for(@forklift) do |f| %>
  <% if @forklift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forklift.errors.count, "error") %> prohibited this forklift from being saved:</h2>
      <ul>
      <% @forklift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= f.label :state,'状 态'%>
      <%=  f.select(:state,ForkliftState.state,{include_blank: false})%>
    </p>
    <p>
      <%= f.label :whouse_id, '备货仓库' %>
      <%= f.select(:whouse_id, @forklift.user.location.destination.whouses.collect { |l| [l.name, l.id] }, {include_blank: false}) %>
    </p>
    <p>
      <%= f.label :remark,'备 注'%>
      <%= f.text_field :remark%>
    </p>
  <div class="actions">
    <%= f.submit value: '提 交', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
