<h2>托盘列表</h2>
<br/>
<div>
  <form method="get" action="<%= send("search_logistics_containers_path") %>">
    <div>
      <div>
        <span>拖清单号：
          <input type="text" name="forklift[container_id]" value="<%= @forklift_container_id %>"/>
          <input type="hidden" name="forklift[container_id_fuzzy]"/>
        </span>
        <span>备货员工号：
          <input type="text" name="forklift[user_id]" value="<%= @forklift_user_id %>"/>
          <input type="hidden" name="forklift[user_id_fuzzy]"/>
        </span>
        <span>状态：
          <%= select 'forklift', 'state', MovableState.state, selected: @forklift_state, include_blank: true %>
        </span>
      </div>
      <div>
        <span>
        创建日期：
          <input type="text" name="forklift[created_at][start]" class="datepicker" value="<%= @forklift_created_at_start %>"/>
          ~  <input type="text" name="forklift[created_at][end]" class="datepicker" value="<%= @forklift_created_at_end %>"/>
        </span>
      </div>
      <div>
        <input type="hidden" name="model" value="forklift"/>
        <input type="submit" value="查找" class="btn btn-primary" name="search"/>
        <!--<input type="submit" value="下载为Excel" class="btn btn-primary" data-confirm="Are you sure?" name="download"/>-->
      </div>
    </div>
  </form>
</div>
<br/>
<input type="button" value="打印托清单" class='btn btn-warning' onclick="print_forklift_list();"/>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @forklifts %>
  </div>
  <%= will_paginate @forklifts, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>序号</th>
      <th>拖清单号</th>
      <th>状态</th>
      <th>所属运单</th>
      <th>创建信息</th>
      <th>目标仓库</th>
      <th>备注</th>
      <th>包装箱列表</th>
      <th>包装箱总数</th>
      <th>已接收包装箱数</th>
      <th>最新记录</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @forklifts.each_with_index do |forklift,index| %>
      <% fpresenter = ForkliftPresenter.new(forklift)%>
      <tr>
        <td><input type="checkbox" id="<%= forklift.id %>" class='print-check'></td>
        <td><%= index+@forklifts.offset+1%>
        <td><%= forklift.container_id%></td>
        <td><%= forklift.state_display %></td>
        <td>
              <%= link_to forklift.parent.container_id,delivery_path(forklift.parent),:class=>'btn btn-default' if forklift.parent%>
        </td>
        <td><%= forklift.create_info %></td>
        <td><%= forklift.destinationable.name%></td>
        <td><%= forklift.remark %></td>
        <td>
          <%= link_to fpresenter.packages.count, packages_forklift_path(forklift), :class=>'btn btn-default' %>
        </td>
        <td><%= fpresenter.sum_packages %></td>
        <td><%= fpresenter.accepted_packages%></td>
        <td><%= forklift.get_records.last.display %></td>
        <td><%= link_to '详细', forklift_path(forklift) ,:class=> 'btn btn-default' %></td>
        <td><%= link_to '编辑', edit_forklift_path(forklift) ,:class=> 'btn btn-default' if current_user.admin?%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @forklifts, :container => false %>
</div>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang:'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();
</script>
