<h2>托盘列表</h2>
<br/>
<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <div>
        <span>托清单号：
          <input type="text" name="forklift[id]" value="<%= @id %>"/>
          <input type="hidden" name="forklift[id_fuzzy]"/>
        </span>
        <span>备货员工号：
          <input type="text" name="forklift[stocker_id]" value="<%= @stocker_id %>"/>
          <input type="hidden" name="forklift[stocker_id_fuzzy]"/>
        </span>
        <span>托清单：
          <%= select 'forklift', 'state', ForkliftState.state, selected: @state ,include_blank: true %>
        </span>
      </div>
      <div>
        <span>
        创建日期：
          <input type="text" name="forklift[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
          ~  <input type="text" name="forklift[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
        </span>
      </div>
      <div>
        <input type="submit" value="查 找" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</div>
<br/>
<input type="button" value="打印托清单" class='btn btn-warning' onclick="print_forklift_list();"/>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @forklifts %>
  </div>
  <%= will_paginate @forklifts, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>序号</th>
      <th>编号</th>
      <th>状态</th>
      <th>所属运单</th>
      <th>包装箱列表</th>
      <th>备货员工</th>
      <th>备货仓库</th>
      <th>包装箱总数</th>
      <th>已接收包装箱数</th>
      <th>创建时间</th>
      <th>备注</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @forklifts.each_with_index do |forklift,index| %>
      <tr>
        <td><input type="checkbox" id="<%= forklift.id %>" class='print-check'></td>
        <td><%= index+@forklifts.offset+1%>
        <td><%= forklift.id%></td>
        <td><%= ForkliftState.display(forklift.state)%></td>
        <td>
        <% if forklift.delivery %>
        <%= link_to forklift.delivery do%>
        <span class="label label-info"><%= forklift.delivery.id %></span>
        <% end %>
        <% end %>
        </td>
        <td><%= link_to '包装箱列表', packages_forklift_path(forklift) %><span class='badge pull-right'><%= forklift.packages.count %></span></td>
        <td><%= forklift.stocker.name if forklift.stocker%></td>
        <td><%= forklift.whouse.name%></td>
        <td><%= forklift.sum_packages%></td>
        <td><%= forklift.accepted_packages%></td>
        <td><%= forklift.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= forklift.remark%></td>
        <td><%= link_to '详细', forklift ,:class=> 'btn btn-default' %></td>
        <td><%= link_to '编辑', edit_forklift_path(forklift) ,:class=> 'btn btn-default'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @forklifts, :container => false %>
</div>

<script>
    $(function () {
        $(".datepicker").datepicker({
            showButtonPanel: true,
            showWeek: true
        });
    });
    init_check();
</script>
