<h2>托盘列表</h2>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @forklifts %>
  </div>
  <%= will_paginate @forklifts, :container => false %>
</div>
<table class="table table-bordered table-striped globle-table">
  <thead>
    <tr>
      <th>序号</th>
      <th>编号</th>
      <th>状态</th>
      <th>所属运单</th>
      <th>备货员工</th>
      <th>创建员工</th>
      <th>备货仓库</th>
      <th>包装箱总数</th>
      <th>包装箱被接收数</th>
      <th>备注</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @forklifts.each_with_index do |forklift,index| %>
      <tr>
        <td><%= index+@forklifts.offset+1%>
        <td><%= forklift.id%></td>
        <td><%= ForkliftState.display(forklift.state)%></td>
        <td><%= forklift.delivery_id %></td>
        <td><%= forklift.stocker.id if forklift.stocker%></td>
        <td><%= forklift.user.id if forklift.user%></td>
        <td><%= forklift.whouse.name%></td>
        <td><%= forklift.sum_packages%></td>
        <td><%= forklift.accepted_packages%></td>
        <td><%= forklift.remark%></td>
        <td><%= link_to '详细', forklift %></td>
        <td><%= link_to '编辑', edit_forklift_path(forklift) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @forklifts, :container => false %>
</div>
<br>
