<h2>托盘列表</h2>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @forklifts %>
  </div>
  <%= will_paginate @forklifts, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>序号</th>
      <th>编号</th>
      <th>状态</th>
      <th>所属运单</th>
      <th>Package lists</th>
      <th>备货员工</th>
      <th>备货仓库</th>
      <th>包装箱总数</th>
      <th>包装箱被接收数</th>
      <th>备注</th>
      <th>打印</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @forklifts.each_with_index do |forklift,index| %>
      <tr>
        <td><%= index+@forklifts.offset+1%>
        <td><%= forklift.id%></td>
        <td><%= ForkliftState.display(forklift.state)%></td>
        <td>
        <% if forklift.delivery %>
        <%= link_to forklift.delivery do%>
        <span class="label label-info"><%= forklift.delivery.id %></span>
        <% end %>
        <% end %>
        </td>
        <td><%= link_to 'Packages list', packages_forklift_path(forklift) %><span class='badge'><%= forklift.packages.count %></span></td>
        <td><%= forklift.stocker.name if forklift.stocker%></td>
        <td><%= forklift.whouse.name%></td>
        <td><%= forklift.sum_packages%></td>
        <td><%= forklift.accepted_packages%></td>
        <td><%= forklift.remark%></td>
        <td><input type="button" value="托清单" class='btn btn-warning' onclick="print_forklift_list('<%= forklift.id %>');"/></td>
        <td><%= link_to '详细', forklift ,:class=> 'btn btn-default' %></td>
        <td><%= link_to '编辑', edit_forklift_path(forklift) ,:class=> 'btn btn-default'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @forklifts, :container => false %>
</div>
