<style type="text/css">
  .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
    
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
    .label{
      font-size: 1em;
    }
</style>
<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">运输管理</li>
    <li class="active">运输管理</li>
    <li class="active">
      发运流程
    </li>
    <li>
      <%= link_to '托盘', forklifts_path  %>
    </li>
    <li class="active">
      包装箱列表
      <span class="label label-primary"><%= @forklift.container_id%></span>
    </li>
  </ol>
</div>

<div class="col-sm-12" style="margin-bottom: 20px;">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @packages %>
    </div>
    <%= will_paginate @packages, :container => false %>
  </div>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>NO.</th>
    <th>唯一号</th>
    <th>零件号</th>
    <th>数量</th>
    <th>上架库位</th>
    <th>状态</th>
  </tr>
  </thead>
  <tbody>
  <% @packages.each_with_index do |package,index|%>
      <% ppresenter = PackagePresenter.new(package)%>
      <tr>
        <td><%= index+@packages.offset+1%></td>
        <td><%= link_to package.container_id,package_path(package),:class=>'label label-primary' %></td>
        <td><%=  package.package.part.nr_for_user(current_user) %></td>
        <td><%=  package.package.quantity_str %></td>
        <td><%= ppresenter.position_nr %></td>
        <td><%= package.state_display%></td>
      </tr>
  <% end%>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @packages, :container => false %>
</div>
