<h2><%= @forklift.id%>包装箱列表</h2>
<br/>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @packages %>
  </div>
  <%= will_paginate @packages, :container => false %>
</div>
<table class="table table-bordered table-striped globle-table table-hover">
  <thead>
  <tr>
    <td>NO.</td>
    <td>唯一号</td>
    <td>零件号</td>
    <td>数量</td>
    <td>库位</td>
    <td>状态</td>
  </tr>
  </thead>
  <tbody>
  <% @packages.each_with_index do |package,index|%>
      <tr>
        <td><%= index+@packages.offset+1%></td>
        <td><%= package.id %></td>
        <td><%= PackageLabelRegex.part_prefix_string+package.part_id %></td>
        <td><%= PackageLabelRegex.quantity_prefix_string + package.quantity_str %></td>
        <td><%= package.position.whouse_id + " "+package.position.detail if package.position %></td>
        <td><%= PackageState.display(package.state)%></td>
      </tr>
  <% end%>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @packages, :container => false %>
</div>
<%= link_to '返回', forklifts_path ,:class => "btn btn-default btn-lg" %>