<p id="notice"><%= notice %></p>

<p>
  <string>托盘号:</string>
  <%= @forklift.id%>
</p>

<p>
  <string>状 态:</string>
  <%= ForkliftState.display(@forklift.state)%>
</p>

<p>
  <string>所属运单号:</string>
  <%= @forklift.delivery_id%>
</p>

<p>
  <string>备货员工:</string>
  <%= @forklift.stocker.id if @forklift.stocker%>
</p>

<p>
  <string>创建员工:</string>
  <%= @forklift.user.id if @forklift.user%>
</p>

<p>
  <string>仓 库:</string>
  <%= @forklift.whouse.name%>
</p>

<p>
  <string>箱包装总数:</string>
  <%= @forklift.sum_packages%>
</p>

<p>
  <string>接收箱包装总数:</string>
  <%= @forklift.accepted_packages%>
</p>

<p>
  <string>备 注:</string>
  <%= @forklift.remark%>
</p>

<p>
  <string>箱包装:</string>
  <ul>
    <%@forklift.packages.each do |p|%>
    <li>
      <%=link_to p.id,p %>
    </li>
    <%end%>
  </ul>
</p>

<%= link_to '编辑', edit_forklift_path(@forklift) %> |
<%= link_to '返回', forklifts_path %>
