<h1><%= @forklift.container_id %></h1>
<% fpresenter = ForkliftPresenter.new(@forklift) %>
<span class="label label-primary"><%= @forklift.container_id %></span>
<h2>基础</h2>
<h4>状态:
  <small><%= @forklift.state_display %></small>
</h4>
<h4>所属运单:
  <small><%= @forklift.parent_id if @forklift.parent %></small>
</h4>
<h4>创建时间:
  <small><%= fpresenter.created_at %></small>
</h4>
<h4>创建员工号:
  <small><%= @forklift.user_id %></small>
</h4>
<h4>创建员工:
  <small><%= @forklift.user.name %></small>
</h4>
<h4>创建地:
  <small><%= @forklift.source.name %></small>
</h4>
<h4>目的地:
  <small><%= @forklift.destination.name if @forklift.destination %></small>
</h4>
<h4>所属运单:
  <small><%= link_to @forklift.parent.container_id, delivery_path(@forklift.parent), :class => "btn btn-default" if @forklift.parent %></small>
</h4>
<h4>备注:
  <small><%= @forklift.remark %></small>
</h4>

<h4>备货仓库:
  <small><%= @forklift.destinationable.name if @forklift.destinationable %></small>
</h4>
<h4>包装箱总数:
  <small><%= fpresenter.sum_packages %></small>
</h4>
<h4>已接收包装箱书:
  <small><%= fpresenter.accepted_packages %></small>
</h4>
<h2>包装箱列表</h2>
<% @packages = fpresenter.packages %>
<table class="table table-bordered table-striped globle-table table-hover">
  <thead>
  <tr>
    <td>NO.</td>
    <td>唯一号</td>
    <td>零件号</td>
    <td>数量</td>
    <td>上架库位</td>
    <td>状态</td>
  </tr>
  </thead>
  <tbody>
  <% @packages.each_with_index do |package, index| %>
      <% ppresenter = PackagePresenter.new(package) %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to package.container_id, package_path(package), :class => 'btn btn-default' %></td>
        <td><%= package.package.part_id %></td>
        <td><%= package.package.quantity_str %></td>
        <td><%= ppresenter.position_nr %></td>
        <td><%= package.state_display %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<h2>操作记录</h2>
<ul>
  <% @forklift.get_records.each do |r| %>
      <li><%= r.display %></li>
  <% end %>
</ul>
<%= link_to '返回', forklifts_path, :class => 'btn btn-default' %>
<% if current_user.can_edit_inventory? %>
    <%= link_to '编辑', edit_forklift_path, :class => 'btn btn-default' %>
<% end %>