<h1>零件颜色列表</h1>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @colors %>
  </div>
  <%= will_paginate @colors, :container => false %>
</div>

<%= link_to '新建零件类型', send("new_#{@model}_path"), :class => 'btn btn-default' %>
<%= link_to '导入数据', import_colors_path, :class => 'btn btn-default' %>


<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>编号</th>
    <th>颜色编号</th>
    <th>名称</th>
    <th>简称</th>
    <th>描述</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @colors.each_with_index do |color, i| %>
      <tr>
        <td><%= i+@colors.offset+1 %></td>
        <td><%= color.nr %></td>
        <td><%= color.name %></td>
        <td><%= color.short_name %></td>
        <td><%= color.description %></td>
        <td>
          <%= link_to '[详情]', color %>
          <%= link_to '[编辑]', edit_color_path(color) %>
          <%= link_to '[删除]', color, method: :delete, data: {confirm: '确定删除?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

