<% if @request_from == 'Pc' %>
    <div class="panel panel-primary form-signin-panel">
      <div class="panel-heading">
        <h2 class="panel-title">精密物料控制系统</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal form-signin', role: 'form'}) do |f| %>
          <p>
            <span class="alert error"><%= alert %></span>
          </p>

          <div class="form-group">
            <%= f.label :user_name, '员工号', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :user_name, autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, '密 码', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :remember_me %> 记住我
                    </label>
                  </div>
                </div>
              </div>
          <% end %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit value: '登 录', class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
      <% end %>
    </div>
<% else %>
    <style>
        .mui-content, .mui-content-padded {
            margin-top: 20px;
        }

        .mui-input-row {
            margin-top: 10px;
        }

    </style>

    <header class="mui-bar mui-bar-nav">
      <h1 class="mui-title">登录</h1>
    </header>

    <span class="alert error"><%= alert %></span>

    <div class="mui-content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'mui-input-group', role: 'form'}) do |f| %>
          <div class="mui-input-row">
            <%= f.label :user_name, '员工号' %>
            <%= f.text_field :user_name, autofocus: true, class: 'mui-input-clear mui-input', placeholder: "请输入员工号" %>
          </div>

          <div class="mui-input-row">
            <%= f.label :password, '密 码', class: 'col-sm-2 control-label' %>
            <%= f.password_field :password, autocomplete: "off", class: 'mui-input-clear mui-input', type: 'password', placeholder: "请输入密码" %>
          </div>

          <% if devise_mapping.rememberable? %>
              <form class="mui-input-group">
                <ul class="mui-table-view mui-table-view-chevron">
                  <li class="mui-table-view-cell">
                    自动登录
                    <div id="autoLogin" class="mui-switch">
                      <div class="mui-switch-handle"></div>
                    </div>
                  </li>
                </ul>
              </form>
          <% end %>

          <div class="mui-content-padded">
            <%= f.submit '登 录', class: 'mui-btn mui-btn-block mui-btn-primary' %>
          </div>
      <% end %>
    </div>
<% end %>