<% if @request_from == 'Pc' %>
    <div class="panel panel-primary form-signin-panel">
      <div class="panel-heading">
        <h2 class="panel-title">精密物料控制系统</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal form-signin', role: 'form'}) do |f| %>
          <p>
            <span class="alert error"><%= alert %></span>
          </p>

          <div class="form-group">
            <%= f.label :user_name, '员工号', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :user_name, autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, '密 码', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :remember_me %> 记住我
                    </label>
                  </div>
                </div>
              </div>
          <% end %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit value: '登 录', class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
      <% end %>
    </div>
<% else %>
    <style>

        .mui-bar-nav ~ .mui-content {
            padding-top: 0;
        }

        .mui-content {
            margin-top: 40px;
        }

        .mui-input-row {
            margin-top: 10px;
        }

        .login-title {
            background: steelblue;
            color: white;
            height: 50px;
            line-height: 50px;
            margin-bottom: -10px;
            font-size: 1.2em;
            text-align: center;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .mui-content-padded {
            margin: 0;
        }

        .mui-input-group input, .mui-input-group input textarea {
            background-color: steelblue;
        }
    </style>

    <header class="mui-bar mui-bar-nav">
      <h1 class="mui-title">登录</h1>
    </header>

    <div class="mui-content">
      <div class="login-title">
        精密物料控制系统
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'mui-input-group', role: 'form'}) do |f| %>
          <div class="mui-input-row">
            <%= f.label :user_name, '员工号' %>
            <%= f.text_field :user_name, autofocus: true, class: 'mui-input-clear mui-input', placeholder: "请输入员工号" %>
          </div>

          <div class="mui-input-row">
            <%= f.label :password, '密码' %>
            <%= f.password_field :password, autocomplete: "off", class: 'mui-input-clear mui-input', type: 'password', placeholder: "请输入密码" %>
          </div>

          <% if devise_mapping.rememberable? %>
              <ul class="mui-table-view mui-table-view-chevron">
                <li class="mui-table-view-cell">
                  自动登录
                  <div id="autoLogin" class="mui-switch mui-switch-blue mui-active">
                    <div class="mui-switch-handle"></div>
                  </div>
                </li>
              </ul>
          <% end %>

          <div class="mui-content-padded">
            <%= f.submit '登 录', class: 'mui-btn mui-btn-block mui-btn-primary login-in' %>
          </div>
      <% end %>
    </div>

    <script type="text/javascript" charset="utf-8">
        var oMeta = document.createElement('meta');
        oMeta.charset = 'utf-8';
        oMeta.setAttribute('name', 'viewport');
        oMeta.setAttribute('content', 'width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no');
        document.getElementsByTagName('head')[0].appendChild(oMeta);

        $('.login-in').click(function () {
            document.addEventListener('tap', function () {
                var alert_msg = "<%= alert %>";
                if (alert_msg == "") {
                    mui.toast("loading....");
                } else {
                    mui.toast(alert_msg);
                }
            });
        });
    </script>
<% end %>