<style>
    #main-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #main-menu li {
        display: inline;
    }
</style>

<ul id="main-menu" class="nav nav-pills">
  <Li id="welcome_li"><a href="/">首 页</a></li>
  <!--<li id="welcome_li"><a href="<%= panel_orders_path %>">需求面板</a></li>-->

  <% unless current_user.buyer? %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">面板<span class="caret"></span></a>
        <ul class="dropdown-menu" role="manage">
          <li id='panel_li'><a href="<%= panel_orders_path %>">需求</a></li>
          <li id='pick_panel_li'><a href="<%= pick_panel_orders_path %>">择货</a></li>
        </ul>
      </li>
  <% end %>

  <li id="notification"><a href="<%= notifications_path %>">通知面板</a></li>

  <% unless current_user.buyer? %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">择货流程<span class="caret"></span></a>
        <ul class="dropdown-menu" role="manage">
          <li id='pick_li'><a href="<%= pick_lists_path %>">择货单</a></li>
          <li id='pick_item_li'><a href="<%= pick_items_path %>">择货单项目</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">要货流程<span class="caret"></span></a>
        <ul class="dropdown-menu" role="manage">
          <li id='order_li'><a href="<%= orders_path %>">需求单</a></li>
          <li id='order_item_li'><a href="<%= order_items_path %>">需求单项目</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">发运流程<span class="caret"></span></a>
        <ul class="dropdown-menu" role="send">
          <li id='delivery_li'><a href="<%= deliveries_path %>">运 单</a></li>
          <li id='forklift_li'><a href="<%= forklifts_path %>">托 盘</a></li>
          <li id='package_li'><a href="<%= packages_path %>">包装箱</a></li>
        </ul>
      </li>
  <% end %>

  <% if current_user.inventoryer? %>
      <li class="dropdown">
        <a class="dropdown-toggle " data-toggle="dropdown" href="#">库存管理<span class="caret"></span></a>
        <ul class="dropdown-menu" role="manage">
          <li><a href="<%= n_storages_path %>">详细库存查询</a></li>
          <li><a href="<%= group_n_storages_path %>">库存汇总查询</a></li>
          <li><a href="<%= movement_lists_path %>">移库单列表</a></li>
          <!--<li><a href="<%= import_n_storages_path %>">库存文件导入</a></li>-->
          <!--<li><a href="<%= move_n_storages_path %>">文件移库</a></li>-->
          <li><a href="<%= movements_path %>">库存移动记录查询</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle " data-toggle="dropdown" href="#">材料盘点<span class="caret"></span></a>
        <ul class="dropdown-menu" role="manage">
          <li><a href="<%= inventory_lists_path %>">盘点清单</a></li>
          <li><a href="<%= inventory_list_items_path %>">盘点清单列表</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle " data-toggle="dropdown" href="#">报废生成<span class="caret"></span></a>
        <ul class="dropdown-menu" role="manage">
          <li><a href="<%= scrap_lists_path %>">报废单</a></li>
          <li><a href="<%= scrap_list_items_path %>">报废项</a></li>
        </ul>
      </li>
  <% end %>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">报表<span class="caret"></span></a>
    <ul class="dropdown-menu" role="reporter">
      <% if current_user.sender? || current_user.receiver? || current_user.buyer? || current_user.inventoryer? %>
          <li id="reports_reports"><a href="<%= reports_reports_path %>">收发货报表</a></li>
      <% end %>
      <% if current_user.sender? || current_user.receiver? || current_user.buyer? || current_user.inventoryer? %>
          <li id="reports_reports"><a href="<%= reports_discrepancy_path %>">收发货差异报表</a></li>
      <% end %>
      <% if current_user.stocker? || current_user.buyer? || current_user.inventoryer? %>
          <li id="reports_order_report"><a href="<%= reports_orders_report_path %>">要货报表</a></li>
      <% end %>
      <li id="reports_removal_report"></li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle " data-toggle="dropdown" href="#">管理<span class="caret"></span></a>
    <ul class="dropdown-menu" role="manage">
      <li id='user_li'><a href="<%= users_path %>">员 工</a></li>
    </ul>
  </li>

  <li><a href="<%= destroy_user_session_path %>">|注 销|</a></li>
</ul>