<script type="text/javascript" charset="utf-8">
    $(function () {
        $("#menu").menu();
    });
</script>

<ul class="menu boxed">
  <li id="welcome_li"><a href="/"><i class="glyphicon glyphicon-home"></i> &nbsp;主页</a></li>

  <li>
    <a href="#">运输管理 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:black;"></i></a>
    <ul>
      <% if current_user.permission?(:view_pick) %>
          <li><a href="<%= panel_orders_path %>">要货需求</a></li>
      <% end %>

      <% if current_user.permission?(:view_order) %>
          <li><a href="<%= orders_path %>">需求单</a></li>
      <% end %>

      <% if current_user.permission?(:view_order) %>
          <li><a href="<%= import_orders_path %>">导入需求单</a></li>
      <% end %>

      <% if current_user.permission?(:view_pick) %>
          <li><a href="<%= pick_panel_orders_path %>">择货需求</a></li>
      <% end %>

      <% if current_user.permission?(:view_pick) %>
          <li><a href="<%= pick_lists_path %>">择货单</a></li>
      <% end %>

      <% if current_user.permission?(:view_delivery) %>
          <li><a href="">发运流程&nbsp;
            <i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:white;transform: rotate(-90deg);"></i>
          </a>
            <ul>
              <li id='delivery_li'><a href="<%= deliveries_path %>">运 单</a></li>
              <li id='forklift_li'><a href="<%= forklifts_path %>">托 盘</a></li>
              <li id='package_li'><a href="<%= packages_path %>">包装箱</a></li>
              <% if current_user.permission?(:view_extra) %>
                  <% if current_user.permission?(:jiaxuan_extra_export) %>
                      <li><a href="<%= generate_jiaxuan_deliveries_path %>">导入常州发运佳轩数据</a></li>
                  <% end %>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
  </li>

  <li>
    <a href="#">库存管理 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:black;"></i></a>
    <ul>
      <% if current_user.permission?(:view_inventory_list) %>
          <li><a href="#">材料盘点&nbsp;
            <i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:white;transform: rotate(-90deg);"></i>
          </a>
            <ul>
              <li><a href="<%= inventory_lists_path %>">盘点单清单</a></li>
              <li><a href="<%= inventory_list_items_path %>">盘点项列表</a></li>
            </ul>
          </li>
      <% end %>

      <% if current_user.permission?(:view_scrap) %>
          <li><a href="#">报废生成&nbsp;
            <i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:white;transform: rotate(-90deg);"></i>
          </a>
            <ul>
              <li><a href="<%= scrap_lists_path %>">报废单</a></li>
              <li><a href="<%= scrap_list_items_path %>">报废项</a></li>
            </ul>
          </li>
      <% end %>

      <li><a href="#">移库管理&nbsp;
        <i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:white;transform: rotate(-90deg);"></i>
      </a>
        <ul>
          <% if current_user.permission?(:view_storage) %>
              <% if current_user.permission?(:operate_storage) %>
                  <li><a href="<%= move_n_storages_path %>">文件移库</a></li>
              <% end %>
          <% end %>

          <% if current_user.permission?(:view_movement_list) %>
              <li><a href="<%= movement_lists_path %>">移库单</a></li>
              <li><a href="<%= movement_sources_path %>">移库项列表</a></li>
          <% end %>

          <% if current_user.permission?(:view_storage) %>
              <li><a href="<%= movements_path %>">库存移动记录查询</a></li>
          <% end %>
        </ul>
      </li>

      <% if current_user.permission?(:view_storage) %>
          <% if current_user.permission?(:operate_storage) %>
              <li><a href="<%= import_n_storages_path %>">文件入库</a></li>
          <% end %>
      <% end %>

      <li><a href="#">库存查询&nbsp;
        <i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:white;transform: rotate(-90deg);"></i>
      </a>
        <ul>
          <% if current_user.permission?(:view_storage) %>
              <li><a href="<%= n_storages_path %>">详细库存查询</a></li>
              <li><a href="<%= group_n_storages_path %>">库存汇总查询</a></li>
              <li><a href="<%= storage_operation_records_path %>">库存操作记录</a></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </li>

  <li><a href="#">报表 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:black;"></i></a>
    <ul>
      <% if current_user.permission?(:view_report) %>
          <li><a href="<%= reports_reports_path %>">收发货报表</a></li>
          <!-- <li><a href="<%= reports_discrepancy_path %>">收发货差异报表</a></li> -->
          <li><a href="<%= reports_orders_report_path %>">要货报表</a></li>
      <% end %>
    </ul>
  </li>

  <li>
    <a href="#">应急 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:black;"></i></a>
    <ul>
      <% if current_user.permission?(:view_emergency) %>
          <li><a href="<%= generate_deliveries_path %>">导入发运数据</a></li>
          <li><a href="<%= receive_deliveries_path %>">导入接收数据</a></li>
      <% end %>
    </ul>
  </li>

  <!-- <li>
    <a href="#">消息 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:black;"></i></a>
    <ul>
      <li id="notification"><a href="<%= notifications_path %>">通知面板</a></li>
    </ul>
  </li> -->

  <li>
    <a href="#">管理 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:black;"></i></a>
    <ul>
      <% if current_user.permission?(:view_system_log) %>
          <li>
            <a href="<%= operation_logs_path %>">系统日志</a>
          </li>
      <% end %>

      <li>
        <a href="#">基础信息设置 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:white;transform: rotate(-90deg);"></i></a>
        <ul>
          <% if current_user.permission?(:view_basic_info) %>
              <li id='tenant_id'><a href="<%= tenants_path %>">客户</a></li>
              <li id='location_li'><a href="<%= locations_path %>">地 点</a></li>
              <li id='user_li'><a href="<%= users_path %>">员 工</a></li>
              <li id='whouse_li'><a href="<%= whouses_path %>">仓 库</a></li>
              <li id='position_li'><a href="<%= positions_path %>">库 位</a></li>
              <li class="divider"></li>
              <li id='part_type_li'><a href="<%= part_types_path %>">零件类型</a></li>
              <li id='part_li'><a href="<%= parts_path %>">零件</a></li>
              <li class="divider"></li>
              <li id='pick_item_filter_li'><a href="<%= pick_item_filters_path %>">员工择货规则</a></li>
          <% end %>
          <% if current_user.permission?(:manage_permission) %>
              <li class="divider"></li>
              <li id='led_li'><a href="<%= permissions_path %>">权限列表</a></li>
              <li id='led_li'><a href="<%= permission_groups_path %>">权限分组</a></li>
          <% end %>
        </ul>
      </li>

      <% if current_user.permission?(:view_extra) %>
          <li>
            <a href="#">配置&nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:white;transform: rotate(-90deg);"></i></a>
            <ul>
              <% if current_user.permission?(:view_configuration) %>
                  <li id='regex_li'><a href="<%= regex_categories_path %>">正则规范配置</a></li>
                  <li id='sys_config_li'><a href="<%= sys_configs_path %>">系统配置</a></li>
              <% end %>
              <% if current_user.permission?(:jiaxuan_extra_config) %>
                  <li><a href="<%= jiaxuan_extra_sys_configs_path %>">佳轩扩展配置</a></li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
  </li>

  <li>
    <a href="<%= destroy_user_session_path %>"><i class="glyphicon glyphicon-off" style="color:darkred;"></i>&nbsp;注销</a>
  </li>
</ul>