<style>
    .col-sm-12 {
        height: 40px;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">
      报废生成
    </li>
    <li class="active">
      报废项
    </li>
  </ol>
</div>

<form method="get" action="<%= send("search_scrap_list_items_path") %>">
  <div class="col-sm-12" style="border-bottom: 1px dashed #000;">
    <div class="col-sm-4">
      源仓库号：
      <%= select_tag(:src_warehouse, options_from_collection_for_select(Whouse.all, :name, :id, @src_warehouse), include_blank: true) %>
    </div>
    <div class="col-sm-4">
      目的仓库号：
      <%= select_tag(:dse_warehouse, options_from_collection_for_select(Whouse.all, :name, :id, @dse_warehouse), include_blank: true) %>
    </div>
    <div class="col-sm-4">
      <span class="label label-info">显示方式:</span>
      <%= select_tag :format, options_for_select([["Web", "html"], ["Excel File(MS 07 or later)", "xlsx"]], "html") %>
    </div>
  </div>

  <div class="col-sm-12" style="margin-top: 10px;">
    <div class="col-sm-8">
      登记时间：
      <input type="text" name="date_start" class="datepicker" value="<%= @date_start %>"/>
      ~ <input type="text" name="date_end" class="datepicker" value="<%= @date_end %>"/>
    </div>
    <div class="col-sm-4">
      <input type="submit" value="查找" class="btn btn-primary" name="search" style="width: 200px;"/>
    </div>
  </div>
</form>

<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @scrap_list_items %>
    </div>
    <%= will_paginate @scrap_list_items, :container => false %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>报废单号</th>
    <th>零件号</th>
    <th>总成号</th>
    <th>数量</th>
    <th>单位</th>
    <th>原因</th>
    <th>登记人</th>
    <th>登记时间</th>
    <th>状态</th>
    <th colspan="3">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @scrap_list_items.each do |scrap_list_item| %>
      <tr>
        <td><%= scrap_list_item.scrap_list_id %></td>
        <td><%= scrap_list_item.part_id %></td>
        <td><%= scrap_list_item.product_id %></td>
        <td><%= scrap_list_item.quantity %></td>
        0
        <td><%= scrap_list_item.IU %></td>
        <td><%= scrap_list_item.reason %></td>
        <td><%= scrap_list_item.name %></td>
        <td><%= scrap_list_item.time.blank? ? '' : scrap_list_item.time.localtime %></td>
        <td><%= ScrapListItemState.display(scrap_list_item.state) %></td>
        <% if current_user.can_edit_inventory? %>
            <td>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-trash', :style => 'color:darkred;'), scrap_list_item, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'IconA', :title => '删除' %>
            </td>
        <% end %>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @scrap_list_items, :container => false %>
</div>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();
</script>