<style>
    .col-sm-3 {
        font-size: 1.2em;
    }

    a:hover {
        background-color: white;
        color: black;
    }
</style>


<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">报废生成</li>
    <li>
      <a href="/scrap_lists" title="返回报废单">报废单</a>
    </li>
    <li class="active">导入报废项</li>
  </ol>
</div>




<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      报废单
    </div>
  </div>
  <div class="panel-body">
    <div class="col-sm-3">
      报废单号:<%= @scrap_list.id %>
    </div>
    <div class="col-sm-3">
      源仓库:<%= @scrap_list.src_warehouse %>
    </div>
    <div class="col-sm-3">
      目的仓库:<%= @scrap_list.dse_warehouse %>
    </div>
    <div class="col-sm-3">
      创建者:<%= @scrap_list.builder %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        data_upload("#item-data-uploader", 'xlsx');
    });
</script>

<p id="notice"><%= notice %></p>

<div class="container panel_show_msg"
     style="background: #EAEAEA;border-radius: 50px;padding: 10px 40px 10px 40px;box-shadow: 10px 10px 5px #ccc;margin-top: 20px;margin-bottom: 100px;">

  <div class="panel-heading" style="display: flex; border-bottom: 1px dashed steelblue;">
    <i class="glyphicon glyphicon-import"
       style="font-size: 3em;margin: 0 30px 0 0;color:steelblue;"></i>

    <h3 style="margin: 5px 0 0 0">
      报废项
    </h3>
  </div>

  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading" style="display: flex;height: 40px;">
        <i class="glyphicon glyphicon-record" style="font-size: 1em;margin: 1px 10px 0 0;"></i>
        <strong>上传报废项文件</strong>
      </div>

      <div class="panel-body">
        <div class="col-md-12" style="display: flex;">
          <h4 style="white-space: nowrap;">选择数据文件:</h4>
          </h4>
        </div>

        <div class="col-md-12" style="display: flex;">
          <input id="item-data-uploader" type="file" name="files[]" data-url="/scrap_list_items/import"/>

          <div class="abstractblock" id="item-data-uploader-preview" style="display:none;"></div>
        </div>

        <div class="col-sm-12" style="border-top: 1px dashed #000;margin-top:20px;padding-top: 10px;">
          <a href="/files/download?folder=template&file=scrap_list_items_template.xlsx">下载模板</a>
        </div>
      </div>
    </div>
  </div>
</div>