<%= form_for(@order_box) do |f| %>
    <% if @order_box.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order_box.errors.count, "error") %> prohibited this order_box from being saved:</h2>

          <ul>
            <% @order_box.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :nr %><br>
      <%= f.text_field :nr %>
    </div>
    <div class="field">
      <%= f.label :rfid_nr %><br>
      <%= f.text_field :rfid_nr %>
    </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.select(:status, OrderBoxStatus.menu, {include_blank: false}) %>
    </div>
    <div class="field">
      <%= f.label :part_id %><br>
      <%= f.text_field :part_id %>
    </div>
    <div class="field">
      <%= f.label :quantity %><br>
      <%= f.text_field :quantity %>
    </div>
    <div class="field">
      <%= f.label :whouse_id %><br>
      <%= f.select(:whouse_id, Whouse.options, {include_blank: false}) %>
    </div>
    <div class="field">
      <%= f.label :source_whouse_id %><br>
      <%= f.select(:source_whouse_id, Whouse.options, {include_blank: false}) %>
    </div>
    <div class="field">
      <%= f.label :order_box_type_id %><br>
      <%= f.select(:order_box_type_id, OrderBoxType.options, {include_blank: false}) %>
    </div>
    <div class="field">
      <%= f.label :position %><br>
      <%= f.select(:position, Position.options, {include_blank: false}) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
