<h1>料盒列表</h1>
<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <span>料盒编号：
        <input type="text" name="order_box[nr]" value="<%= @nr %>"/>
        <input type="hidden" name="order_box[nr_fuzzy]"/>
      </span>
      <span>RFID编号：
        <input type="text" name="order_box[rfid_nr]" value="<%= @rfid_nr %>"/>
        <input type="hidden" name="order_box[rfid_nr_fuzzy]"/>
      </span>
      <span>零件号：
        <input type="text" name="order_box[part_id]" value="<%= @part_id %>"/>
      </span>
      <span>状态：
        <%= select_tag('order_box[status]', options_for_select(OrderBoxStatus.menu, @status), include_blank: true) %>
      </span>
      <span> 要货仓库：
        <%= select_tag('order_box[whouse_id]', options_from_collection_for_select(Whouse.all, 'id', 'name', @whouse_id), include_blank: true) %>
      </span>
      <span> 出货仓库：
        <%= select_tag('order_box[source_whouse_id]', options_from_collection_for_select(Whouse.all, 'id', 'name', @source_whouse_id), include_blank: true) %>
      </span>
      <span> 料盒类型：
        <%= select_tag('order_box[order_box_type_id]', options_from_collection_for_select(OrderBoxType.all, 'id', 'name', @order_box_type_id), include_blank: true) %>
      </span>

      <input type="submit" value="查 找" class="btn btn-primary" name="search"/>
      <input type="submit" value="导出" class="btn btn-primary" name="download"/>
    </div>
  </form>
</div>

<%= link_to '新建料盒', send("new_#{@model}_path"), :class => 'btn btn-default'%>
<%= link_to '导入数据', import_order_boxes_path, :class => 'btn btn-default'%>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @order_boxes %>
  </div>
  <%= will_paginate @order_boxes, :container => false %>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>编号</th>
    <th>料盒</th>
    <th>RFID 编号</th>
    <th>状态</th>
    <th>零件号</th>
    <th>数量</th>
    <th>要货仓库</th>
    <th>出货仓库</th>
    <th>料盒类型</th>
    <th>料盒所属库位号</th>
    <th>LED</th>
    <th con="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @order_boxes.each_with_index do |order_box,i| %>
      <tr>
        <td><%= i+@order_boxes.offset+1 %></td>
        <td><%= order_box.nr %></td>
        <td><%= order_box.rfid_nr %></td>
        <td><%= OrderBoxStatus.display order_box.status %></td>
        <td><%= order_box.part.blank? ? '' : order_box.part.id %></td>
        <td><%= order_box.quantity %></td>
        <td><%= order_box.whouse.blank? ? '' : order_box.whouse.id %></td>
        <td><%= order_box.source_whouse.blank? ? '' : order_box.source_whouse.id %></td>
        <td><%= order_box.order_box_type.blank? ? '' : order_box.order_box_type.name %></td>
        <td><%= order_box.position.blank? ? '' : order_box.position.detail %></td>
        <td><%= order_box.led_id %></td>I
        <td>
          <%= link_to '[详情]', order_box %>
          <%= link_to '[编辑]', edit_order_box_path(order_box) %>
          <%= link_to '[删除]', order_box, method: :delete, data: {confirm: '确定删除?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
