<style>
    .col-sm-12 {
        height: 40px;
    }

    select {
        min-width: 150px;
    }
</style>

<%= form_for(@location) do |f| %>
    <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
          <ul>
            <% @location.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="col-sm-4">
            <%= f.label :nr %>
            <%= f.text_field :nr %>
          </div>
          <div class="col-sm-4">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="col-sm-4">
            <%= f.label :tenant_id %>
            <%= f.select(:tenant_id, Tenant.all.collect { |t| [t.name, t.id] }) %>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-4">
            <%= f.label :address %>
            <%= f.text_field :address %>
          </div>
          <div class="col-sm-4">
            <%= f.label :tel %>
            <%= f.text_field :tel %>
          </div>
          <div class="col-sm-4">
            <%= f.label :order_source_location_id %>
            <%= f.select(:order_source_location_id, Location.all.collect { |l| [l.name, l.id] }, {include_blank: false}) %>
          </div>
        </div>

        <div class="col-sm-12" style="border-bottom: 1px dashed #000;">


          <div class="col-sm-4">
            <%= f.label :default_whouse_id, '默认仓库' %>
            <%= f.select(:default_whouse_id, @location.whouses.all.collect { |l| [l.name, l.id] }, {include_blank: false}) %>
          </div>

          <div class="col-sm-4">
            <%= f.label :receive_whouse_id %>
            <%= f.select(:receive_whouse_id, @location.whouses.all.collect { |l| [l.name, l.id] }, {include_blank: false}) %>
          </div>
          <div class="col-sm-4">
            <%= f.label :send_whouse_id %>
            <%= f.select(:send_whouse_id, @location.whouses.all.collect { |l| [l.name, l.id] }, {include_blank: false}) %>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
          <div class="col-sm-4">
            <%= f.label :can_send_when_no_stock, '唯一码未入库可以发运' %>
            <%= f.check_box :can_send_when_no_stock %>
          </div>

          <div class="col-sm-4">
            <%= f.label :check_delivery_by_pick, '运单发运需通过择货单验证' %>
            <%= f.check_box :check_delivery_by_pick %>
          </div>

          <div class="col-sm-4">
            <%= f.label :receive_mode, '运单接收模式' %>
            <%= f.select(:receive_mode, DeliveryReceiveMode.to_select_list, {include_blank: false}) %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-4">
            <%= f.label :is_open_safe_qty, '开启库存预警' %>
            <%= f.check_box :is_open_safe_qty %>
          </div>

        </div>

        <div class="col-sm-12">
          <div class="col-sm-4">
            <%= f.label :safe_qty_emails, '库存预警通知邮件(多个以英文逗号分隔)' %>
            <%= f.text_area :safe_qty_emails, :style => 'width:400px;height:100px' %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit value: '提 交', class: 'btn btn-primary', :style => 'width:200px;margin-top:100px;' %>
        </div>
      </div>
    </div>
<% end %>


