<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :id%>
      <%= f.text_field :id%>
    </p>

  <p>
    <%= f.label :name%>
    <%= f.text_field :name%>
  </p>

    <p>
      <%= f.label :address%>
      <%= f.text_field :address%>
    </p>

    <p>
      <%= f.label :tel%>
      <%= f.text_field :tel%>
    </p>

    <p>
      <%= f.select(:destination_id,Location.where.not(id: @location.id).collect{|l| [l.name,l.id]},{include_blank: false})%>
    </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
