<style>
    .col-sm-12 {
        height: 40px;
    }

    .digg_pagination .page_info {
        text-align: left;
        width: auto;
        margin-left: -20px;
        margin-right: -20px;
    }

    .digg_pagination {
        background: transparent;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    .label {
        font-size: 1em;
    }

    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="col-sm-12" style="margin-top: 10px;">
  <% if current_user.permission?(:operate_basic_info_create) %>
      <div class="col-sm-4">
        <%= link_to "新建地点", send("new_#{@model}_path"), :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
      </div>
      <div class="col-sm-4">
        <%= link_to "上传/更新地点", send("import_#{@model.pluralize}_path"), :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
      </div>

  <% end %>
  <div class="col-sm-4">
    <%= link_to "下载", send("download_#{@model.pluralize}_path"), data: {confirm: 'Are you sure?'}, :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
  </div>
</div>

<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @locations %>
    </div>
    <%= will_paginate @locations, :container => false %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>序号</th>
    <th>编号</th>
    <th>名称</th>
    <th>目的地</th>
    <th>接收仓库</th>
    <th>在途仓库</th>
    <th>运单接收模式</th>
    <th>所有员工</th>
    <th>所有仓库</th>
    <th>所属公司</th>
    <th>地址</th>
    <th colspan="4">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @locations.each_with_index do |location, index| %>
      <tr>
        <td><%= index+@locations.offset+1 %>
        <td><%= location.nr %></td>
        <td><%= location.name %></td>
        <td>
          <ul>
            <% location.destinations.each do |d| %>
                <li><%= d.name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= location.receive_whouse.name if location.receive_whouse %>
        </td>
        <td>
          <%= location.send_whouse.name if location.send_whouse %>
        </td>
        <td>
          <%= DeliveryReceiveMode.display(location.receive_mode) %>
        </td>
        <td>
          <%= link_to content_tag(:span, '员工列表', :class => 'label label-primary'), users_location_path(location) %>
          <span class="badge"><%= location.users.count %></span>
        </td>
        <td>
          <%= link_to content_tag(:span, '仓库列表', :class => 'label label-primary'), whouses_location_path(location) %>
          <span class="badge"><%= location.whouses.count %></span>

        </td>
        <td><%= location.tenant.name if location.tenant %></td>
        <td><%= location.address %></td>
        <td>

          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), location, :class => 'IconA', :title => '详细' %>

          <% if current_user.permission?(:operate_basic_info_edit) %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_location_path(location), :class => 'IconA', :title => '编辑' %>

              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-edit'), destinations_location_path(location), :class => 'IconA', :title => '编辑目的地' %>

          <% end %>
          <% if current_user.permission?(:operate_basic_info_delete) %>

              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-trash', :style => 'color:darkred;'), location, method: :delete, data: {confirm: '确认删除?'}, :class => 'IconA', :title => '删除' %>

          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
  <%= will_paginate @locations, :container => false %>
</div>

