<p id="notice"><%= notice %></p>

<p>
  <string>编 号:</string>
  <%= @location.id%>
</p>

<p>
  <string>名 称:</string>
  <%= @location.name%>
</p>

<p>
  <string>地 址:</string>
  <%= @location.address%>
</p>

<p>
  <string>联系方式:</string>
  <%= @location.tel%>
</p>

<p>
  <string>目的地:</string>
  <%= @location.destination.name if @location.destination%>
</p>

<!--<p>-->
  <!--<string>Is Base?:</string>-->
  <!--<%= @location.is_base%>-->
<!--</p>-->

<%= link_to '编辑', edit_location_path(@location) %> |
<%= link_to '返回', locations_path %>
