<p id="notice"><%= notice %></p>

<p>
  <string>ID:</string>
  <%= @location.id%>
</p>

<p>
  <string>Name:</string>
  <%= @location.name%>
</p>

<p>
  <string>Address:</string>
  <%= @location.address%>
</p>

<p>
  <string>Telephone:</string>
  <%= @location.tel%>
</p>

<p>
  <string>Is Base?:</string>
  <%= @location.is_base%>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
