<table class="table table-striped globle-table table-hover">
  <tr>
    <td>规范名称</td>
    <td>规范代码</td>
    <td>前缀</td>
    <td>前缀长度</td>
    <td>后缀</td>
    <td>后缀长度</td>
    <td>正则式</td>
    <td>备注</td>
  </tr>
  <tr>
  <tr>
    <td><input type="text" class="name" value="包装箱号" name="regex[0][name]" readonly/></td>
    <td><input type="text" class="code" value="UNIQ" name="regex[0][code]" readonly/></td>
    <td><input type="text" class="prefix_string" name="regex[0][prefix_string]"/></td>
    <td><span><%= 0 %></span></td>
    <td><input type="text" class="suffix_string" name="regex[0][suffix_string_string]"/></td>
    <td><span><%= 0 %></span></td>
    <td><input type="text" class="regex_string" name="regex[0][regex_string]"/></td>
    <td><input type="text" class="remark" width="300px" name="regex[0][remark]"/></td>
  </tr>
  <tr>
    <td><input type="text" class="name" value="零件号" name="regex[1][name]" readonly/></td>
    <td><input type="text" class="code" value="PART" name="regex[1][code]" readonly/></td>
    <td><input type="text" class="prefix_string" name="regex[1][prefix_string]"/></td>
    <td><span><%= 0 %></span></td>
    <td><input type="text" class="suffix_string" name="regex[1][suffix_string]"/></td>
    <td><span><%= 0 %></span></td>
    <td><input type="text" class="regex_string" name="regex[1][regex_string]"/></td>
    <td><input type="text" class="remark" width="300px" name="regex[1][remark]"/></td>
  </tr>
  <tr>
    <td><input type="text" class="name" value="数量" name="regex[2][name]" readonly/></td>
    <td><input type="text" class="code" value="QUANTITY" name="regex[2][code]" readonly/></td>
    <td><input type="text" class="prefix_string" name="regex[2][prefix_string]"/></td>
    <td><span><%= 0 %></span></td>
    <td><input type="text" class="suffix_string" name="regex[2][suffix_string]"/></td>
    <td><span><%= 0 %></span></td>
    <td><input type="text" class="regex_string" name="regex[2][regex_string]"/></td>
    <td><input type="text" class="remark" width="300px" name="regex[2][remark]"/></td>
  </tr>
  <tr>
    <td><input type="text" class="name" value="入库时间" name="regex[3][name]" readonly/></td>
    <td><input type="text" class="code" value="DATE" name="regex[3][code]" readonly/></td>
    <td><input type="text" class="prefix_string" name="regex[3][prefix_string]"/></td>
    <td><span><%= 0 %></span></td>
    <td><input type="text" class="suffix_string" name="regex[3][suffix_string]"/></td>
    <td><span><%= 0 %></span></td>
    <td><input type="text" class="regex_string" name="regex[3][regex_string]"/></td>
    <td><input type="text" class="remark" width="300px" name="regex[3][remark]"/></td>
  </tr>
</table>