<style>
    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }
</style>
<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">管理</li>
    <li class="active">
      配置
    </li>
    <li class="active">
      正则规范配置
    </li>
  </ol>
</div>
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <%= link_to '新建正则规范', new_regex_category_path, :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>序号</th>
    <th>名称</th>
    <th>描述</th>
    <th>类别</th>
    <th colspan="2">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @regex_categories.each_with_index do |regex_category, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= regex_category.name %></td>
        <td><%= regex_category.desc %></td>
        <td><%= RegexType.display(regex_category.type) %></td>
        <td>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), edit_regex_category_path(regex_category), :class => 'IconA', :title => '详情' %>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-trash', :style => 'color:darkred;'), regex_category, method: :delete, data: {confirm: '确认删除?'}, :class => 'IconA', :title => '删除' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>