<style>
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
</style>

<%= form_for(@regex_category) do |f| %>
    <% if @regex_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@regex_category.errors.count, "error") %> prohibited this regex_category from being
            saved:</h2>

          <ul>
            <% @regex_category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-default">
      <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
        <li class="active">管理</li>
        <li>
          <%= link_to '正则规范配置', regex_categories_path, :title => '返回正则规范配置' %>
        </li>
        <li class="active">
          新建正则规范
        </li>
      </ol>
    </div>


    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="col-sm-4">
            <%= f.label :type, '类型：' %>
            <%= f.select(:type, RegexType.types.collect { |l| [RegexType.display(l), l] }, {include_blank: false}, {onchange: 'render_regex_template()'}) %>
          </div>
          <div class="col-sm-4">
            <%= f.label :name, '名称：' %>
            <%= f.text_field :name %>
          </div>
          <div class="col-sm-4">
            <%= f.label :desc, '描述：' %>
            <%= f.text_field :desc %>
          </div>
        </div>
      </div>
    </div>

    <div id="regex-template">
      <%= render 'pack_label_regex' %>
    </div>


    <div class="actions">
      <input type="submit" value="新增正则规范" name="commit" class="btn btn-primary" style="margin-left: 20px;">
    </div>
<% end %>



<script type="text/javascript">
    function render_regex_template() {
        $.get('/regex_categories/regex_template', {type: $("#regex_category_type").val()}, function (template) {
            $("#regex-template").html(template)
        }, 'html');
    }
</script>
