<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @ptl_jobs %>
  </div>
  <%= will_paginate @ptl_jobs, :container => false %>
</div>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th>ID</th>
      <th>Params</th>
      <th>State</th>
      <th>Msg</th>
      <th>Is dirty</th>
      <th>Is new</th>
      <th>Is delete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ptl_jobs.each do |ptl_job| %>
      <tr>
        <td><%=ptl_job.id%></td>
        <td><%= ptl_job.params %></td>
        <td><%= ptl_job.state_display %></td>
        <td><%= ptl_job.msg %></td>
        <td><%= ptl_job.is_dirty %></td>
        <td><%= ptl_job.is_new %></td>
        <td><%= ptl_job.is_delete %></td>
        <td><%= link_to 'Show', ptl_job %></td>
        <td><%= link_to 'Edit', edit_ptl_job_path(ptl_job) %></td>
        <td><%= link_to 'Destroy', ptl_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @ptl_jobs, :container => false %>
</div>
