<%= form_for(@order_car) do |f| %>
    <% if @order_car.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order_car.errors.count, "error") %> prohibited this order_car from being saved:</h2>

          <ul>
            <% @order_car.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :nr %><br>
          <%= f.text_field :nr %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :rfid_nr %><br>
          <%= f.text_field :rfid_nr %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :whouse_id %><br>
          <%= f.select(:whouse_id, Whouse.options, {include_blank: false}) %>
        </div>
      </div>
    </div>

    <div class="col-sm-12" style="border-bottom: 2px solid #999;">
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :status %><br>
          <%= f.select(:status, OrderCarStatus.menu, {include_blank: false}) %>
        </div>
      </div>
    </div>

    <div class="actions">
      <input type="submit" class="btn btn-primary" name="commit" value="完成" style="margin: 30px 0 10px 20px;width: 200px;">
    </div>
<% end %>
