<style type="text/css">
    th, td {
        text-align: center;
    }
</style>

<p class="title">料车列表 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<div class="slide">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div class="col-md-12" style="height: 50px;">
      <div class="col-sm-4">
           <span>料车编号：
        <input type="text" name="order_car[nr]" value="<%= @nr %>"/>
        <input type="hidden" name="order_car[nr_fuzzy]"/>
      </span>
      </div>
      <div class="col-sm-4">
           <span>RFID编号：
        <input type="text" name="order_car[rfid_nr]" value="<%= @rfid_nr %>"/>
        <input type="hidden" name="order_car[rfid_nr_fuzzy]"/>
      </span>
      </div>
      <div class="col-sm-4">
           <span>状态：
             <%= select_tag('order_car[status]', options_for_select(OrderCarStatus.menu, @status), include_blank: true, :style => 'min-width:100px;') %>
      </span>
      </div>
    </div>
    <div class="col-md-12" style="border-bottom: 2px solid #999;margin-top: 20px;">
      <div class="col-sm-4">
          <span> 所属仓库：
            <%= select_tag('order_car[whouse_id]', options_from_collection_for_select(Whouse.all, 'id', 'name', @whouse_id), include_blank: true) %>
      </span>
      </div>
      <div class="col-sm-4">
        <input style="margin: -10px 0 10px 0; width: 200px;" type="submit" value="查 找" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</div>

<div style="display: inline-flex;">
  <div class="trapezoid" style="margin: 20px 0 0 0;">
    <p style="padding-top: 20px;">料车列表</p>
  </div>
  <div style="display: inline-flex;">
    <div class="digg_pagination" style="padding-top: 10px;padding-left: 10px;margin-top: 10px;">
      <div class="page_info">
        <%= page_entries_info @order_car %>
      </div>
      <%= will_paginate @order_car, :container => false %>
    </div>

    <div style="margin-left: 200px;">
      <%= link_to '新建料车', send("new_#{@model}_path"), :class => 'btn btn-primary',
                  :style => 'color:#fff;padding-top:10px;margin:10px 0 0 20px;' %>
      <%= link_to '导入数据', import_order_cars_path, :class => 'btn btn-primary',
                  :style => 'color:#fff;padding-top:10px;margin-left:50px;margin-top:10px;' %>
    </div>
  </div>
</div>

<div class="table-show" style="overflow: auto;">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>料车编号</th>
      <th>RFID 编号</th>
      <th>所属仓库</th>
      <th>状态</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @order_cars.each do |order_car| %>
        <tr>
          <td><%= order_car.nr %></td>
          <td><%= order_car.rfid_nr %></td>
          <td><%= order_car.whouse.blank? ? '' : order_car.whouse.id %></td>
          <td><%= OrderBoxStatus.display order_car.status %></td>
          <td>
            <%= link_to '[详情]', order_car %>
            <%= link_to '[编辑]', edit_order_car_path(order_car) %>
            <%= link_to '[删除]', order_car, method: :delete, data: {confirm: '确定删除?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


<script type="text/javascript" charset="utf-8">
    var ClientHeight = document.documentElement.clientHeight;
    $('.table-show').css({height: (ClientHeight - 400) + 'px'});
</script>