<h1>料车列表</h1>
<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <span>料车编号：
        <input type="text" name="order_car[nr]" value="<%= @nr %>"/>
        <input type="hidden" name="order_car[nr_fuzzy]"/>
      </span>
      <span>RFID编号：
        <input type="text" name="order_car[rfid_nr]" value="<%= @rfid_nr %>"/>
        <input type="hidden" name="order_car[rfid_nr_fuzzy]"/>
      </span>
      <span>状态：
        <%= select_tag('order_car[status]', options_for_select(OrderCarStatus.menu, @status), include_blank: true, :style => 'min-width:100px;') %>
      </span>
      <span> 所属仓库：
        <%= select_tag('order_car[whouse_id]', options_from_collection_for_select(Whouse.all, 'id', 'name', @whouse_id), include_blank: true) %>
      </span>

      <input type="submit" value="查 找" class="btn btn-primary"/>
    </div>
  </form>
</div>

<%= link_to '新建料车', send("new_#{@model}_path"), :class => 'btn btn-default'%>
<%= link_to '导入数据', import_order_cars_path, :class => 'btn btn-default'%>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @order_cars %>
  </div>
  <%= will_paginate @order_cars, :container => false %>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>编号</th>
    <th>料车编号</th>
    <th>RFID 编号</th>
    <th>所属仓库</th>
    <th>状态</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @order_cars.each_with_index do |order_car,i| %>
      <tr>
        <td><%= i+@order_cars.offset+1 %></td>
        <td><%= order_car.nr %></td>
        <td><%= order_car.rfid_nr %></td>
        <td><%= order_car.whouse.blank? ? '' : order_car.whouse.id %></td>
        <td><%= OrderBoxStatus.display order_car.status %></td>
        <td>
          <%= link_to '[详情]', order_car %>
          <%= link_to '[编辑]', edit_order_car_path(order_car) %>
          <%= link_to '[删除]', order_car, method: :delete, data: {confirm: '确定删除?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>