<style>
    .col-sm-4 {
        font-size: 2em;
    }
</style>
<p id="notice"><%= notice %></p>

<p class="title">料车列表 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<div class="col-sm-12" style="margin-top: 100px;border-bottom: 1px solid #000;">
  <div class="col-sm-4">
    <strong>Nr:</strong>
    <%= @order_car.nr %>
  </div>

  <div class="col-sm-4">
    <strong>Rfid nr:</strong>
    <%= @order_car.rfid_nr %>
  </div>

  <div class="col-sm-4">
    <strong>Whouse:</strong>
    <%= @order_car.whouse_id %>
  </div>
</div>

<div class="col-sm-12" style="margin-top: 100px;border-bottom: 1px solid #000;">
  <div class="col-sm-4">
    <strong>Status:</strong>
    <%= @order_car.status %>
  </div>
</div>

<div class="col-sm-12">
  <%= link_to 'Edit', edit_order_car_path(@order_car), :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:150px;margin:20px 0 0 0;' %>
  <%= link_to 'Back', order_cars_path, :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:150px;margin:20px 0 0 20px;' %>
</div>