<style>
  .table > thead > tr > th, .table > tbody > tr > td {
    text-align: center;
  }

  a:hover, a:active {
    text-decoration: none;
    background-color: white;
    color: black;
    outline: none;
  }

  .label {
    font-size: 1em;
  }

  .IconA {
    margin: 0 10px;
    font-size: 1.2em;
  }

  .IconA:hover {
    text-decoration: none;
    background-color: white;
  }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">
      退货生成
    </li>
    <li class="active">
      退货单
    </li>
  </ol>
</div>

<form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="col-sm-12" >
        <div class="col-sm-3">
          退货单号：
          <input type="text" name="back_part[id]" value="<%= @id %>"/>
        </div>
        <div class="col-sm-3">
          创建者：
          <input type="text" name="back_part[user_id]" value="<%= @user_id %>"/>
        </div>
        <div class="col-sm-3">
          退货单创建地：
          <%= select_tag('back_part[src_location_id]', options_from_collection_for_select(Location.all, 'id', 'name', @src_location_id), include_blank: true) %>
        </div>
        <div class="col-sm-3">
          退货单接收地：
          <%= select_tag('back_part[des_location_id]', options_from_collection_for_select(Location.all, 'id', 'name', @des_location_id), include_blank: true) %>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-6">
          退货日期：
          <input type="text" name="back_part[back_time][start]" class="datepicker" value="<%= @back_time_start %>"/>
          ~
          <input type="text" name="back_part[back_time][end]" class="datepicker" value="<%= @back_time_end %>"/>
        </div>
        <div class="col-sm-6">
          创建日期：
          <input type="text" name="back_part[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
          ~
          <input type="text" name="back_part[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
        </div>
      </div>

      <div class="col-sm-8" style="text-align: right;">
        <div class="col-sm-4">
          <input type="submit" value="查找" class="btn btn-primary" name="search" style="width: 200px;"/>
        </div>
        <div class="col-sm-4">
          <input type="submit" value="导出" class="btn btn-primary" name="download" style="width: 200px;"/>
        </div>
      </div>

      <div class="col-sm-12" style="margin-top: 20px;">
        <% if current_user.permission?(:operate_back_part_create) %>
            <!--<div class="col-sm-12" style="margin-bottom: 20px;">-->
              <div class="col-sm-4">
                <%= link_to "新建退货单", new_back_part_path, :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
              </div>

            <!--</div>-->
        <% end %>
        <div class="col-sm-4">
          <button class="btn btn-warning" style="width: 150px;color: white;" onclick="print_back_parts_with_id();">打印退货单</button>
        </div>
      </div>
    </div>
  </div>
</form>



<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th></th>
    <th>退货单号</th>
    <th>创建者</th>
    <th>退货单接收地</th>
    <th>退货单创建地</th>
    <th>退货日期</th>
    <th>创建日期</th>
    <th>清单列表</th>
    <th>导入退货信息</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  <% @back_parts.each do |back_part| %>
      <tr>
        <td><input type="checkbox" id="<%= back_part.id %>" class='print-check'></td>
        <td><%= back_part.id %></td>
        <td><%= back_part.user.nr %></td>
        <td><%= back_part.des_location.nr %></td>
        <td><%= back_part.src_location.nr %></td>
        <td><%= back_part.back_time.blank? ? '' : back_part.back_time.utc %></td>
        <td><%= back_part.created_at.localtime.strftime('%y.%m.%d %H:%M') %></td>
        <td>
          <%= link_to content_tag(:span, '清单列表', :class => 'label label-primary'), back_part_items_back_part_path(back_part) %>
          <span class="badge"><%= back_part.back_part_items.count %></span>
        </td>
        <td>
          <%= link_to content_tag(:span, '导入退货信息', :class => 'label label-primary'), import_back_part_items_path(id: back_part.id) %>
        </td>

        <td>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), back_part, :class => 'IconA' %>
          <% unless SysConfigCache.inventory_enable_value=='true' && current_user.inventoryer? %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_back_part_path(back_part), :class => 'IconA' %>
              <%= link_to content_tag(:i, '', :class => ' glyphicon glyphicon-trash', :style => 'color:darkred;'), back_part, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'IconA' %>
          <% end %>
        </td>

        <!--<td><%= link_to 'Show', back_part %></td>
        <td><%= link_to 'Edit', edit_back_part_path(back_part) %></td>
        <td><%= link_to 'Destroy', back_part, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>


<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();

    $('.up_search').click(function () {
        var this_arrow = $(this);
        $('.all-search').slideToggle(300, function () {
            if (this_arrow.children('i').hasClass('glyphicon-chevron-up')) {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-down');
                this_arrow.children('i').attr('title', '展开搜索条件');
            } else {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-up');
                this_arrow.children('i').attr('title', '收起搜索条件');
            }
        });
    })
</script>