<style>
  .table > thead > tr > th, .table > tbody > tr > td {
    text-align: center;
  }

  a:hover, a:active {
    text-decoration: none;
    background-color: white;
    color: black;
    outline: none;
  }

  .label {
    font-size: 1em;
  }

  .IconA {
    margin: 0 10px;
    font-size: 1.2em;
  }

  .IconA:hover {
    text-decoration: none;
    background-color: white;
  }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">
      退货生成
    </li>
    <li class="active">
      退货单
    </li>
  </ol>
</div>

<div class="col-sm-12" style="margin-bottom: 20px;">
  <div class="col-sm-4">
    <%= link_to "新建退货单", new_back_part_path, :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-warning" style="width: 150px;color: white;" onclick="print_back_parts_with_id();">打印退货单</button>
  </div>
</div>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th></th>
    <th>退货单号</th>
    <th>创建者</th>
    <th>退货单接收地</th>
    <th>退货单创建地</th>
    <th>清单列表</th>
    <th>导入退货信息</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  <% @back_parts.each do |back_part| %>
      <tr>
        <td><input type="checkbox" id="<%= back_part.id %>" class='print-check'></td>
        <td><%= back_part.id %></td>
        <td><%= back_part.user.nr %></td>
        <td><%= back_part.des_location.nr %></td>
        <td><%= back_part.src_location.nr %></td>
        <td>
          <%= link_to content_tag(:span, '清单列表', :class => 'label label-primary'), back_part_items_back_part_path(back_part) %>
          <span class="badge"><%= back_part.back_part_items.count %></span>
        </td>
        <td>
          <%= link_to content_tag(:span, '导入退货信息', :class => 'label label-primary'), import_back_part_items_path(id: back_part.id) %>
        </td>

        <td>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), back_part, :class => 'IconA' %>
          <% unless SysConfigCache.inventory_enable_value=='true' && current_user.inventoryer? %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_back_part_path(back_part), :class => 'IconA' %>
              <%= link_to content_tag(:i, '', :class => ' glyphicon glyphicon-trash', :style => 'color:darkred;'), back_part, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'IconA' %>
          <% end %>
        </td>

        <!--<td><%= link_to 'Show', back_part %></td>
        <td><%= link_to 'Edit', edit_back_part_path(back_part) %></td>
        <td><%= link_to 'Destroy', back_part, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  init_check();
</script>

