<p id="notice"><%= notice %></p>

<p>
  <strong>Location container:</strong>
  <%= @location_container_pick_list.location_container_id %>
</p>

<p>
  <strong>Pick list:</strong>
  <%= @location_container_pick_list.pick_list_id %>
</p>

<%= link_to 'Edit', edit_location_container_pick_list_path(@location_container_pick_list) %> |
<%= link_to 'Back', location_container_pick_lists_path %>
