<%= form_for(@pick_item) do |f| %>
  <% if @pick_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick_item.errors.count, "error") %> prohibited this pick_item from being saved:</h2>

      <ul>
      <% @pick_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :part_id,'零件号' %><br>
    <%= f.text_field :part_id %>
  </div>

    <div class="field">
      <%= f.label :quantity,'数量' %><br>
      <%= f.text_field :quantity %>
    </div>

    <div class="field">
      <%= f.label :box_quantity,'箱数' %><br>
      <%= f.text_field :box_quantity %>
    </div>
    <div class="field">
      <%= f.label :destination_whouse_id,'项目' %><br>
      <%= f.text_field :destination_whouse_id %>
    </div>
  <div class="actions">
    <%= f.submit value: '提 交', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
