<%= form_for(@pick_item) do |f| %>
  <% if @pick_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick_item.errors.count, "error") %> prohibited this pick_item from being saved:</h2>

      <ul>
      <% @pick_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :pick_list_id %><br>
    <%= f.text_field :pick_list_id %>
  </div>
  <div class="field">
    <%= f.label :order_item_id %><br>
    <%= f.text_field :order_item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
