<div class="panel panel-warning">
  <div class="panel-heading">
    <h2>收货报表</h2>
    包括收货总量,实际接收量,以及拒收总量
  </div>
  <div class="panel-body">
    <br/>

    <div>
      <form method="get" action="<%= reports_entry_report_path %>">
        <div>
          <div>
            <span>地点:
              <%= select_tag(:location_id, options_for_select(Location.all.collect { |l| [l.name, l.id] }, @location_id), include_blank: false) %>
            </span>
            <span>时间范围:
              <input type="text" name="received_date_start" class="datepicker" value="<%= @received_date_start %>"/>
              ~ <input type="text" name="received_date_end" class="datepicker" value="<%= @received_date_end %>"/>
            </span>
            <span>报表类型:
              <%= select_tag(:type, options_for_select([["接收总量","total"],["实际接收","received"],["拒收总量","rejected"]], @type), include_blank: false) %>
            </span>
            <input type="submit" value="查找" class="btn btn-info"/>
          </div>
        </div>
      </form>
    </div>
    <br/>

    <div>
      <input type="submit" value="导出报表" class="btn btn-warning"/>
    </div>
    <table class="table table-striped table-condensed table-hover">
      <thead>
      <tr>
        <th>No.</th>
        <th>零件号</th>
        <th>最小包装量</th>
        <th>箱数</th>
        <th>部门</th>
        <th>运单号</th>
        <th>收货时间</th>
        <th>收货人</th>
        <th>已接收</th>
      </tr>
      </thead>
      <tbody>
      <% @packages.all.each_with_index do |p, index| %>
          <tr class=<%="danger" if p.state == PackageState::DESTINATION%>>
            <td><%= index+1 %></td>
            <td><span class="label label-info"><%= p.part_id %></span></td>
            <td><span class="badge"><%= p.upack%></span></td>
            <td><span class="badge"><%= p.count %></span></td>
            <td><%= p.whouse_id %></td>
            <td><span class="label label-info"><%= p.did %></span></td>
            <td><%= p.rdate.localtime.to_formatted_s(:db) if p.rdate%></td>
            <td>
              <%if u = User.find_by_id(p.receover_id)%>
              <%= u.name %>
              <%end%>
            </td>
            <td><%= p.state == PackageState::RECEIVED ? "是":"否"%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();
</script>
