<div class="panel panel-warning">
  <div class="panel-heading">
    <h2>差异报表报表</h2>
    导入原有系统的报表,选择位置,以及时间,可以在网页段查看或者到处xlsx格式的报表
  </div>
  <div class="panel-body">
    <br/>
    <div>
      <script type="text/javascript">
          $(function () {
              data_upload("#item-data-uploader", false, function (data) {
                  if (data.result) {
                      $("#file").val(JSON.stringify(data.content));
                      $("#item-data-uploader-preview > span[info]").html("文件上传成功");
                  } else {
                      $("#file").val('');
                  }
              });
          });
          function submitForm() {
              if ($("#file").val().length > 0)
                  document.forms[0].submit();
              else
                  alert('请上传文件');
          }
      </script>
      <div>
        <span>上传报表：</span>
        <input id="item-data-uploader" type="file" name="files[]" data-url="/reports/upload_file">
        <div class="abstractblock" id="item-data-uploader-preview" style="display:none;"></div>
      </div>
    </div>
    <div>
      <form method="get" action="<%= reports_entry_discrepancy_path %>">
          <div>
            <span>地点:
              <%= select_tag(:location_id, options_for_select(Location.list_menu, @location_id), include_blank: false) %>
            </span>
            <span>时间范围:
              <input type="text" name="received_date_start" class="datepicker" value="<%= @received_date_start %>"/>
              ~ <input type="text" name="received_date_end" class="datepicker" value="<%= @received_date_end %>"/>
            </span>
            <span>查看类型：
              <%= select_tag :format, options_for_select([["查找", "html"],["导出xlsx", "xlsx"]], "html") %>
            </span>
            <input type="hidden" id="file" name="file">
            <input type="button" value="确定" class="btn btn-warning" name="commit" onclick="submitForm()"/>
          </div>
      </form>
    </div>
  </div>
  <br/>
  <table class="table table-striped table-condensed table-hover">
    <thead>
    <tr>
      <th>编号</th>
      <th>零件号</th>
      <th>部门</th>
      <th>报表数量</th>
      <th>系统数量</th>
      <th>差异值</th>
    </tr>
    </thead>
    <tbody>
    <% i = 0%>
    <% @results.each do |key,value| %>
    <tr>
      <td><%= i+1 %><% i=i+1%></td>
      <td><span class="label label-info"><%= value["PartNr."]%></span></td>
      <td><%= value["Warehouse"]%></td>
      <td><span class="badge"><%= value["Amount"]%></span></td>
      <td><span class="badge"><%= @packages[key].nil? ? 0 : @packages[key]["Amount"]%></span></td>
      <td>
        <% d =  @packages[key].nil? ? value["Amount"] : value["Amount"] - @packages[key]["Amount"]%>
        <% if d > 0%>
            <span class="label label-warning"><%= d %></span>
        <% elsif d < 0%>
            <span class="label label-danger"><%= d %></span>
        <% else%>
        <span class="label label-primary"><%= d %></span>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%%>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();
</script>
