<style>
    .col-sm-12 {
        height: 40px;
    }

    .digg_pagination .page_info {
        text-align: left;
        width: auto;
        margin-left: -20px;
        margin-right: -20px;
    }

    .digg_pagination {
        background: transparent;
    }

    .up_search {
        text-align: center;
        cursor: pointer;
        margin-bottom: -15px;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">
      库存查询
    </li>
    <li class="active">
      库存操作记录
    </li>
  </ol>
</div>

<div class="all-search">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div class="col-sm-12">
      <div class="col-sm-4">
        零件号：
        <input type="text" name="storage_operation_record[partNr]" value="<%= @partNr %>"/>
        <input type="hidden" name="storage_operation_record[partNr_fuzzy]"/>
      </div>
      <div class="col-sm-4">
        唯一码：
        <input type="text" name="storage_operation_record[packageId]" value="<%= @packageId %>"/>
        <input type="hidden" name="storage_operation_record[packageId_fuzzy]"/>
      </div>
      <div class="col-sm-4">
        源仓库号：
        <%= select_tag('storage_operation_record[fromWh]', options_from_collection_for_select(Whouse.all, :name, :id, @fromWh), include_blank: true) %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4">
        源库位号：
        <input type="text" name="storage_operation_record[fromPosition]" value="<%= @fromPosition %>"/>
        <input type="hidden" name="storage_operation_record[fromPosition_fuzzy]"/>
      </div>
      <div class="col-sm-4">
        目的仓库号：
        <%= select_tag('storage_operation_record[toWh]', options_from_collection_for_select(Whouse.all, :name, :id, @toWh), include_blank: true) %>
      </div>
      <div class="col-sm-4">
        目的库位号：
        <input type="text" name="storage_operation_record[toPosition]" value="<%= @toPosition %>"/>
        <input type="hidden" name="storage_operation_record[toPosition_fuzzy]"/>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4">
        创建日期：
        <input type="text" name="storage_operation_record[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
        ~
        <input type="text" name="storage_operation_record[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
      </div>
      <div class="col-sm-4">
        FIFO：
        <input type="text" name="storage_operation_record[fifo][start]" class="datepicker" value="<%= @fifo_start %>"/>
        ~ <input type="text" name="storage_operation_record[fifo][end]" class="datepicker" value="<%= @fifo_end %>"/>
      </div>
      <div class="col-sm-4">
        <input type="submit" style="width: 200px;" value="查找" class="btn btn-primary" name="search"/>
      </div>
    </div>
  </form>
</div>

<div class="col-sm-12 up_search">
  <i class=" glyphicon glyphicon-chevron-up" title="收起搜索条件"></i>
</div>

<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @storage_operation_records %>
    </div>
    <%= will_paginate @storage_operation_records, :container => false %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>零件号</th>
    <th>数量</th>
    <th>FIFO</th>
    <th>源仓库</th>
    <th>源库位</th>
    <th>目的仓库</th>
    <th>目的库位</th>
    <th>唯一码</th>
    <th>类型</th>
    <th>备注</th>
    <th>员工号</th>
    <!--<th colspan="3"></th>-->
  </tr>
  </thead>

  <tbody>
  <% @storage_operation_records.each do |storage_operation_record| %>
      <tr>
        <td><%= storage_operation_record.partNr %></td>
        <td><%= storage_operation_record.qty %></td>
        <td><%= storage_operation_record.fifo %></td>
        <td><%= storage_operation_record.fromWh %></td>
        <td><%= storage_operation_record.fromPosition %></td>
        <td><%= storage_operation_record.toWh %></td>
        <td><%= storage_operation_record.toPosition %></td>
        <td><%= storage_operation_record.packageId %></td>
        <td><%= MoveType.find(storage_operation_record.type_id).typeId if storage_operation_record.type_id %></td>
        <td><%= storage_operation_record.remarks %></td>
        <td><%= storage_operation_record.employee_id %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @storage_operation_records, :container => false %>
</div>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();

    $('.up_search').click(function () {
        var this_arrow = $(this);
        $('.all-search').slideToggle(300, function () {
            if (this_arrow.children('i').hasClass('glyphicon-chevron-up')) {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-down');
                this_arrow.children('i').attr('title', '展开搜索条件');
            } else {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-up');
                this_arrow.children('i').attr('title', '收起搜索条件');
            }
        });
    })
</script>