<%= form_for(@inventory_list) do |f| %>
  <% if @inventory_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_list.errors.count, "error") %> prohibited this inventory_list from being saved:</h2>

      <ul>
      <% @inventory_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "名称" %><br>
    <%= f.text_field :name %>
  </div>
 <div class="field">
   <%= f.label :state %><br>
   <%= f.select(:state, InventoryListState.menu, { include_blank: false}) %>
 </div>
  <div class="field">
    <%= f.label :whouse_id %><br>
    <%= f.select(:whouse_id, Whouse.all.collect{|w| [w.name, w.id]}, { include_blank: false}) %>
  </div>
  <!-- 
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
	  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
