<h1>择货单列表</h1>

<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <div>
        <span>择货单号：
          <input type="text" name="pick_list[id]" value="<%= @id %>"/>
          <input type="hidden" name="pick_list[id_fuzzy]"/>
        </span>
        <span>择货员工：
          <input type="text" name="pick_list[user_id]" value="<%= @user_id %>"/>
          <input type="hidden" name="pick_list[user_id_fuzzy]"/>
        </span>
      </div>
      <div>
        <span>
        创建日期：
          <input type="text" name="pick_list[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
          ~  <input type="text" name="pick_list[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
        </span>
      </div>
      <div>
        <input type="submit" value="查 找" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</div>
<br/>
<input type="button" value="打印择货单" class='btn btn-warning' onclick="print_pick_list();"/>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @pick_lists %>
  </div>
  <%= will_paginate @pick_lists, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th></th>
    <th>NO.</th>
    <th>择货单号</th>
    <th>择货员工号</th>
    <th>创建时间</th>
    <th>状态</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @pick_lists.each_with_index do |pick_list, index| %>
      <tr>
        <td><input type="checkbox" id="<%= pick_list.id %>" class='print-check'></td>
        <td><%= index+@pick_lists.offset+1 %></td>
        <td><%= pick_list.id %></td>
        <td><%= pick_list.user_id %></td>
        <td><%= pick_list.created_at.localtime.localtime.strftime('%Y-%m-%d %H:%M:%S') if pick_list.created_at%></td>
        <td><%= pick_list.state %></td>
        <td><%= link_to '详细', pick_list_path(id: pick_list, show: true) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @pick_lists, :container => false %>
</div>
<br>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang:'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();
</script>