<% if @request_from == 'Pc' %>
    <h1>择货单列表</h1>

    <div>
      <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
        <div>
          <div>
        <span>择货单号：
          <input type="text" name="pick_list[id]" value="<%= @id %>"/>
          <input type="hidden" name="pick_list[id_fuzzy]"/>
        </span>
        <span>择货员工：
          <input type="text" name="pick_list[user_id]" value="<%= @user_id %>"/>
          <input type="hidden" name="pick_list[user_id_fuzzy]"/>
        </span>
          </div>
          <div>
        <span>
        创建日期：
          <input type="text" name="pick_list[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
          ~  <input type="text" name="pick_list[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
        </span>
          </div>
          <div>
            <input type="submit" value="查 找" class="btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
    <br/>
    <input type="button" value="打印择货单" class='btn btn-warning' onclick="print_pick_list();"/>
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @pick_lists %>
      </div>
      <%= will_paginate @pick_lists, :container => false %>
    </div>

    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th></th>
        <th>NO.</th>
        <th>择货单号</th>
        <th>择货员工号</th>
        <th>创建时间</th>
        <th>状态</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @pick_lists.each_with_index do |pick_list, index| %>
          <tr>
            <td><input type="checkbox" id="<%= pick_list.id %>" class='print-check'></td>
            <td><%= index+@pick_lists.offset+1 %></td>
            <td><%= pick_list.id %></td>
            <td><%= pick_list.user_id %></td>
            <td><%= pick_list.created_at.localtime.localtime.strftime('%Y-%m-%d %H:%M:%S') if pick_list.created_at %></td>
            <td><%= PickItemStatus.display(pick_list.state) %></td>
            <td><%= link_to '详细', pick_list_path(id: pick_list, show: true) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="digg_pagination">
      <%= will_paginate @pick_lists, :container => false %>
    </div>

    <script>
        init_check();
    </script>

<% else %>
    <style>
        .table > thead > tr > th {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
        }

        .mui-segmented-control {
            border-radius: 0;
            border: none;
            border-right: 1px solid steelblue;
        }

        .mui-control-header {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-top: 1px solid steelblue;
            border-bottom: 1px solid steelblue;
        }

        .mui-control-body {
            border: none;
            border-bottom: 1px solid steelblue;
        }

        .mui-list-item {
            line-height: 58px;
            display: table-cell;
            width: 1%;
            -webkit-transition: background-color .1s linear;
            transition: background-color .1s linear;
            text-align: center;
            border-color: steelblue;
            border-left: 1px solid steelblue;
            border-top: none;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .mui-table-view-cell {
            padding: 0;
            list-style: none;
        }

        .show-details {
            margin-top: -2px;
        }

        /*.table-show {
            margin-bottom: 120px;
        }*/

        .mui-popover {
            height: 200px;
        }

        .show-details-list > li {
            padding: 11px 15px;
        }

        .digg_pagination {
            background: transparent;
            margin: -40px -20px 0 -20px;
        }

        .digg_pagination .page_info {
            width: auto;
        }

        .page_info b {
            border-radius: 5px;
            color: white;
        }

        .digg_pagination a, .digg_pagination span, .digg_pagination em {
            border-radius: 5px;
            margin-bottom: 5px;
        }

        .digg_pagination a:active, .digg_pagination a:focus, .digg_pagination a:link, a:hover, a:focus, a:link {
            background-color: transparent;
            text-decoration: none;
        }

        .pick_list_search {
            margin-top: -35px;
            color: white;
            font-size: 1.2em;
        }

        .search {
            width: 200px;
            position: fixed;
            right: 0;
            top: 30px;
            z-index: 1000;
            background: white;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 10px;
            display: none;
            border: 1px solid steelblue;
        }
    </style>

    <div class="search">
      <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
        <div>
          <div>
        <span>择货单号：
          <input type="text" name="pick_list[id]" value="<%= @id %>" class="mui-input-clear"/>
          <input type="hidden" name="pick_list[id_fuzzy]"/>
        </span>
        <span>择货员工：
          <input type="text" name="pick_list[user_id]" value="<%= @user_id %>" class="mui-input-clear"/>
          <input type="hidden" name="pick_list[user_id_fuzzy]"/>
        </span>
          </div>
          <div>
        <span>
        创建日期：
          <input type="text" name="pick_list[created_at][start]" readonly class="datepicker mui-input-clear" value="<%= @created_at_start %>"/>
          ~
          <input type="text" name="pick_list[created_at][end]" readonly class="datepicker mui-input-clear" value="<%= @created_at_end %>"/>
        </span>
          </div>
          <div>
            <input type="submit" value="查 找" class="mui-btn mui-btn-block mui-btn-primary"/>
          </div>
        </div>
      </form>
    </div>

    <i class="glyphicon glyphicon-search mui-pull-right pick_list_search"></i>

    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @pick_lists %>
      </div>
      <%= will_paginate @pick_lists, :container => false %>
    </div>

    <div class="table-show">
      <div class="mui-segmented-control mui-control-header">
        <span class="mui-list-item">
          择货单号
        </span>
        <span class="mui-list-item">
          要货项目
        </span>
        <span class="mui-list-item">
          要货员工
        </span>
       <span class="mui-list-item">
          创建时间
        </span>
      </div>
    </div>

    <!--<div id="middlePopover" class="mui-popover">
      <div class="mui-popover-arrow"></div>
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <ul class="mui-table-view show-details-list">
          </ul>
        </div>
      </div>
    </div>
-->

    <script type="text/javascript" charset="utf-8">
        var ClientWidth = document.documentElement.clientWidth;
        var ClientHeight = document.documentElement.clientHeight;
        AddMeta('apple-mobile-web-app-capable', 'yes');
        AddMeta('apple-mobile-web-app-status-bar-style', 'black');

        $('.mui-tab-item-transfer').removeClass('nav-active');
        $('.mui-tab-item-transfer:first-child').addClass('nav-active');

        <% @pick_lists.each_with_index do |pick_list, index| %>
        $('<div class="mui-segmented-control"><li class="mui-table-view-cell">' +
                '<div class="mui-slider-right mui-disabled"><a href="<%= pick_list_path(id: pick_list,show:true) %>" id="<%= pick_list.id %>" object_id="<%= pick_list.object_id %>" user_id="<%= pick_list.user_id %>" create_at="<%= pick_list.created_at.localtime.localtime.strftime('%Y-%m-%d %H:%M:%S') if pick_list.created_at %>" style="background:steelblue;"  class="mui-btn glyphicon glyphicon-eye-open show-details">&emsp;详情</a></div>' +
                '<div class="mui-slider-handle"><div class="mui-table-cell"><div class="mui-segmented-control mui-control-body"><span class="mui-list-item">' + '<%= pick_list.id %>' + '</span>' +
                '<marquee class="mui-list-item" scrollamount="2" scrolldelay="50" hspace="3"  behavior="scroll">' + '<%= pick_list.object_id %>' + '</marquee>' +
                '<span class="mui-list-item">' + '<%= pick_list.user_id %>' + '</span>' +
                '<marquee class="mui-list-item" scrollamount="2" scrolldelay="50" hspace="3"  behavior="scroll">' + '<%= pick_list.created_at.localtime.localtime.strftime('%Y-%m-%d %H:%M:%S') if pick_list.created_at %>' + '</marquee>' +
                '</div></div></div></li></div>').appendTo('.table-show').ready(function () {
        });
        <% end %>

        $('.show-details').click(function () {
            var MarginTop = $(this).offset().top;
            var RealTop = MarginTop + 50;
            mui('#middlePopover').popover('show');

            if (RealTop > ($(window).height() - 200)) {
                $('#middlePopover').css({
                    top: RealTop - 260,
                    left: '75px',
                    transform: 'rotate(180deg)'
                });
                $('.mui-popover-arrow').css({
                    left: '75px'
                });

                $('.mui-scroll-wrapper').css({
                    transform: 'rotate(-180deg)'
                })
            } else {
                $('#middlePopover').css({
                    top: RealTop,
                    left: '75px'
                });
                $('.mui-popover-arrow').css({
                    left: (ClientWidth - 150) + 'px'
                });
            }
//            $('.show-details-list').children().remove();

            /*var ID = $(this).attr('id');
             var ObjectID = $(this).attr('object_id');
             var UserID = $(this).attr('user_id');
             var CreateAt = $(this).attr('create_at');

             $('<li class="mui-table-view-cell">择货单号:&emsp;' + ID + '</li>' +
             '<li class="mui-table-view-cell">要货项目:&emsp;' + ObjectID + '</li>' +
             '<li class="mui-table-view-cell">要货员工:&emsp;' + UserID + '</li>' +
             '<li class="mui-table-view-cell">创建时间:&emsp;' + CreateAt + '</li>').appendTo('.show-details-list').ready(function () {
             });*/
        });

        $('.pick_list_search').click(function () {
            $('.search').slideToggle();
        });

        $('.table-show').css({
            height: (ClientHeight - 120) + 'px'
        })
    </script>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
</script>
