<% if @request_from == 'Pc' %>
    <h1>择货单列表</h1>

    <div>
      <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
        <div>
          <div>
        <span>择货单号：
          <input type="text" name="pick_list[id]" value="<%= @id %>"/>
          <input type="hidden" name="pick_list[id_fuzzy]"/>
        </span>
        <span>择货员工：
          <input type="text" name="pick_list[user_id]" value="<%= @user_id %>"/>
          <input type="hidden" name="pick_list[user_id_fuzzy]"/>
        </span>
          </div>
          <div>
        <span>
        创建日期：
          <input type="text" name="pick_list[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
          ~  <input type="text" name="pick_list[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
        </span>
          </div>
          <div>
            <input type="submit" value="查 找" class="btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
    <br/>
    <input type="button" value="打印择货单" class='btn btn-warning' onclick="print_pick_list();"/>
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @pick_lists %>
      </div>
      <%= will_paginate @pick_lists, :container => false %>
    </div>

    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th></th>
        <th>NO.</th>
        <th>择货单号</th>
        <th>择货员工号</th>
        <th>创建时间</th>
        <th>状态</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @pick_lists.each_with_index do |pick_list, index| %>
          <tr>
            <td><input type="checkbox" id="<%= pick_list.id %>" class='print-check'></td>
            <td><%= index+@pick_lists.offset+1 %></td>
            <td><%= pick_list.id %></td>
            <td><%= pick_list.user_id %></td>
            <td><%= pick_list.created_at.localtime.localtime.strftime('%Y-%m-%d %H:%M:%S') if pick_list.created_at %></td>
            <td><%= PickItemStatus.display(pick_list.state) %></td>
            <td><%= link_to '详细', pick_list_path(id: pick_list, show: true) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="digg_pagination">
      <%= will_paginate @pick_lists, :container => false %>
    </div>

    <script>
        $(function () {
            $(".datepicker").datetimepicker({
                lang: 'ch',
                format: 'Y-m-d H:i'
            });
        });
        init_check();
    </script>

<% else %>
    <style>
        .digg_pagination {
            background: transparent;
            margin: -40px -20px 0 -20px;
        }

        .digg_pagination .page_info {
            width: auto;
        }

        .table > thead > tr > th {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
        }

        .mui-segmented-control {
            border-radius: 0;
        }

        .mui-control-header {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .mui-control-body {
            border: none;
            border-bottom: 1px solid steelblue;
        }

        .mui-list-item {
            line-height: 38px;
            display: table-cell;
            overflow: hidden;
            width: 1%;
            -webkit-transition: background-color .1s linear;
            transition: background-color .1s linear;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #007aff;
            border-color: #007aff;
            border-left: 1px solid #007aff;
        }

        .mui-table-view-cell {
            padding: 0;
            list-style: none;
        }

        .show-details {
            margin-top: -2px;
        }

        .mui-popover {
            height: 300px;
        }

        .show-details-list > li {
            padding: 11px 15px;
        }
    </style>

    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @pick_lists %>
      </div>
      <%= will_paginate @pick_lists, :container => false %>
    </div>

    <div class="table-show">
      <div class="mui-segmented-control mui-control-header">
        <span class="mui-list-item">
          择货单号
        </span>
        <span class="mui-list-item">
          要货项目
        </span>
        <span class="mui-list-item">
          要货员工
        </span>
       <span class="mui-list-item">
          创建时间
        </span>
      </div>
    </div>

    <!--<div class="mui-segmented-control">
      <li class="mui-table-view-cell">
        <div class="mui-slider-right mui-disabled show-details-icon">
          &lt;!&ndash;<span class="mui-btn mui-btn-primary glyphicon glyphicon-eye-open show-details">&emsp;详情</span>&ndash;&gt;
          &lt;!&ndash;<a class="mui-btn mui-btn-yellow mui-icon mui-icon-phone"></a>&ndash;&gt;
          &lt;!&ndash;<a class="mui-btn mui-btn-red mui-icon mui-icon-email"></a>&ndash;&gt;
        </div>
        <div class="mui-slider-handle">
          <div class="mui-table-cell">
            <div class="pick_list_view"></div>
          </div>
        </div>
      </li>
    </div>-->

    <!--<div id="show_details_info"></div>-->

    <div id="middlePopover" class="mui-popover">
      <div class="mui-popover-arrow"></div>
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <ul class="mui-table-view show-details-list">
          </ul>
        </div>
      </div>
    </div>

    <div class="digg_pagination">
      <%= will_paginate @pick_lists, :container => false %>
    </div>

    <script type="text/javascript" charset="utf-8">
        $('.mui-tab-item-transfer').removeClass('nav-active');
        $('.mui-tab-item-transfer:first-child').addClass('nav-active');

        <% @pick_lists.each_with_index do |pick_list, index| %>

        $('<a id=' + '<%= pick_list.id %>' + ' href="#middlePopover" class="mui-btn mui-btn-primary glyphicon glyphicon-eye-open show-details">&emsp;详情</a>').appendTo('.show-details-icon').ready(function () {
        });

        $('<div class="mui-segmented-control"><li class="mui-table-view-cell">' +
                '<div class="mui-slider-right mui-disabled"><a id=' + '<%= pick_list.id %>' + ' href="#middlePopover" class="mui-btn mui-btn-primary glyphicon glyphicon-eye-open show-details">&emsp;详情</a></div>' +
                '<div class="mui-slider-handle"><div class="mui-table-cell"><div class="mui-segmented-control mui-control-body"><span class="mui-list-item">' + '<%= pick_list.id %>' + '</span>' +
                '<marquee class="mui-list-item" scrollamount="2" scrolldelay="0">' + '<%= pick_list.object_id %>' + '</marquee>' +
                '<span class="mui-list-item">' + '<%= pick_list.user_id %>' + '</span>' +
                '<marquee class="mui-list-item" scrollamount="2" scrolldelay="0">' + '<%= pick_list.created_at.localtime.localtime.strftime('%Y-%m-%d %H:%M:%S') if pick_list.created_at %>' + '</marquee>' +
                '</div></div></div></li></div>').appendTo('.table-show').ready(function () {
        });
        <% end %>
        
        mui('body').on('shown', '.mui-popover', function (e) {
            $('.show-details-list').children().remove();
            $('<li class="mui-table-view-cell"> 择货单号:&emsp;' + '<%= pick_list.id %>' + '</li>' +
                    '<li class="mui-table-view-cell">要货项目:&emsp;' + '<%= pick_list.object_id%>' + '</li>' +
                    '<li class="mui-table-view-cell">要货员工:&emsp;' + '<%= pick_list.user_id%>' + '</li>' +
                    '<li class="mui-table-view-cell">创建时间:&emsp;' + '<%= pick_list.created_at.localtime.localtime.strftime('%Y-%m-%d %H:%M:%S') if pick_list.created_at %>' + '</li>').appendTo('.show-details-list').ready(function () {
            })
        });

        mui('body').on('hidden', '.mui-popover', function (e) {
        });


        /* var ShowDetails = document.getElementsByClassName('show-details');

         $('.show-details').each(function (index) {
         ShowDetails[index].addEventListener('tap', function () {
         mui.alert(ShowDetails[index].innerHTML, ShowDetails[index].getAttribute('id'), function () {
         });
         });
         })*/

        AddMeta('apple-mobile-web-app-capable', 'yes');
        AddMeta('apple-mobile-web-app-status-bar-style', 'black');
    </script>
<% end %>