<div>
  <a href="/orders/panel" class="btn btn-success">返 回</a>
</div>
<div class="header">
  <p>择货单号：<%= @pick_list.id %></p>

  <p>择货员工号：<%= @pick_list.user_id %></p>

  <p>生成时间：<%= @pick_list.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></p>
</div>

<div class="body">
  <table class="table table-bpicked table-striped globle-table">
    <thead>
    <tr>
      <th>NO.</th>
      <th>零件号</th>
      <th>数量</th>
      <th>箱数</th>
      <th>要货员工号</th>
      <th>要货项目</th>
      <th>要货库位</th>
      <th>是否加急</th>
      <th>备注</th>
    </tr>
    </thead>

    <tbody>
    <% @pick_items.each_with_index do |pick_item, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= pick_item.part_id %></td>
          <td><%= pick_item.quantity %></td>
          <td><%= pick_item.box_quantity %></td>
          <td><%= pick_item.user_id %></td>
          <td><%= pick_item.destination_whouse.name %></td>
          <td>
            <% if pp = OrderItemService.verify_department(pick_item.destination_whouse_id, pick_item.part_id) %><%= pp.position.detail %>
            <% end %></td>
          <td><%= '是' if pick_item.is_emergency %></td>
          <td><%= pick_item.remark %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div>
  <input type="button" value="打印择货单" class='btn btn-primary btn-lg' onclick="print_pick_list();"/>
</div>
<%= render :partial => "shared/handling_msg_box", :locals => {:handlemsg => "处理中..."} %>

<input type="hidden" value="<%= @print_url %>" id='print-url-hidden'>
<script type="text/javascript">
    function print_pick_list() {
        show_handle_dialog();
        $.ajax({
            url: $('#print-url-hidden').val(),
            type: 'get',
            dataType: 'json',
            async: false,
            timeout: 10000,
            crossDomain: true,
            success: function (data) {
                console.log(data);
               if(data){
                   alert(data.Content);
               }else{
                  alert('打印失败，请开启打印服务器或重新配置');
               }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
               if(XMLHttpRequest.status==500)    { alert('打印打印服务程序内部错误，请联系系统管理员或服务商');}else{
                alert('无法连接打等待印服务器，请开启打印服务器或重新配置');
               }
            }
        }).always(function () {
                    hide_handle_dialog();
       });
    }
</script>