<style>
  .col-sm-3>p{
    margin-top: 10px;
  }
    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">运输管理</li>
    <li class="active">
      择货单
    </li>
    <li class="active">
      查看择货单
    </li>
  </ol>
</div>

<div class="panel panel-primary"> 
  <div class="panel-body">
    <div class="col-sm-12" >
      <div class="col-sm-3">
          <p id="pick-list" pick_id = "<%= @pick_list.id %>">择货单号：<%= @pick_list.id %></p>
      </div>
      <div class="col-sm-3">
         <p>择货员工号：<%= @pick_list.user.nr %></p>
      </div>
      <div class="col-sm-3">
         <p>生成时间：<%= @pick_list.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></p>
      </div>
      <div class="col-sm-3">
         <p>备注：<%= @pick_list.remark%></p>
      </div>
    </div>
  </div>
</div>

<div class="body">
  <div class="panel panel-primary">
    <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <input type="button" value="打印择货单" class='btn btn-primary' id="print-pick-list" onclick="print_pick_list_with_id('<%= @pick_list.id %>');"/>
      </div>
      <div class="col-sm-3">
        <%= link_to '返回需求面板', panel_orders_path, :class=>'btn btn-default' %>
      </div>
      <div class="col-sm-3">
        <a href="<%=@back_url%>" class="btn btn-default">返回择货单列表</a>
      </div>
    </div>
    </div>
  </div>

  <table class="table table-bpicked table-striped table-bordered">
    <thead>
    <tr>
      <!--<th>-->
        <!--<input type="checkbox" id="check-all-unprinted"/><label class="label label-info">全选未打印</label>-->
      <!--</th>-->
      <th>NO.</th>
      <th>零件号</th>
      <th>数量</th>
      <!--<th>包装量</th>-->
      <th>要货员工号</th>
      <th>要货地点</th>
      <th>是否加急</th>
      <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <% @pick_items.each_with_index do |pick_item, index| %>
        <tr>
          <!--<td>-->
            <!--<div id="<%= pick_item.id %>">-->
              <!--&lt;!&ndash;<input type="checkbox" <%= "printed" if pick_item.state == PickItemState::PRINTED%> class="pick-item" id="<%= pick_item.id %>" state="<%= pick_item.state%>"/>&ndash;&gt;-->
              <!--&lt;!&ndash;<% if pick_item.state == PickItemState::PRINTED%>&ndash;&gt;-->
                  <!--&lt;!&ndash;<label>已打印</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<% elsif pick_item.state == PickItemState::PRINTING%>&ndash;&gt;-->
                  <!--&lt;!&ndash;<label>正在打印</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<% else %>&ndash;&gt;-->
                  <!--&lt;!&ndash;<label>未打印</label>&ndash;&gt;-->
               <!--&lt;!&ndash;<% end %>&ndash;&gt;-->
            <!--</div>-->
          <!--</td>-->
          <td><%= index+1 %></td>
          <td><%= pick_item.part.blank? ? pick_item.part_id : pick_item.part.nr %></td>
          <td><%= pick_item.quantity %></td>
          <!--<td><%= pick_item.box_quantity %></td>-->
          <td><%= pick_item.order_user.nr %></td>
          <td><%= pick_item.source_location.name if pick_item.source_location %></td>
          <td><%= '是' if pick_item.is_emergency %></td>
          <td><%= pick_item.remark %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>



<% content_for :javascript_includes do %>
    <%= javascript_include_tag "pickitem-manage" %>
<%end%>

<script type="text/javascript">
	$(document).ready(function(){
        init_check();
        $("body").on("change","#check-all-unprinted",function(){
            var checked = $(this).attr('checked') == undefined ? false : true;
            $(".pick-item").not("[printed]").each(function () {
                $(this).prop("checked",checked).trigger("change");
            })
        }).on("change",".pick-item",function(){
            var target = $(this);
            var checked = $(this).attr('checked') == undefined ? false : true;
            var id = $(this).attr("id");
            var state = $(this).attr("state");
            var prestate = $(this).attr("prestate");

            if(prestate == undefined){
                prestate = state;
                if(state == 0 && checked == true){
                    state = 1
                }
                else if(state == 1 && checked == false){
                    state = 0
                }
                else if(state == 2 && checked == true){
                    state = 1
                }
            }
            else{
                var pre_state = state;
                if(state == 0 && checked == true){
                    state = 1
                }
                else if(state == 1 && checked == false && (prestate == 0 || prestate == 1)){
                    state = 0
                }
                else if(state == 1 && checked == false && prestate == 2){
                    state = 2
                }
                else if(state == 2 && checked == true){
                    state = 1
                }
                prestate = pre_state;
            }

            console.log(state);
            console.log(id);
            Manage.pick_item.update(id,{pick_item:{state:state}},function(data){
                target.prop("checked",checked);
                target.attr("state",state);
                target.attr("prestate",prestate);
                target.removeAttr("printed");
                $("div#"+id+" label").remove();
                if(state == 1){
                    $("div#"+id).append($("<label>").text("正在打印"));
                }else if(state == 0){
                    $("div#"+id).append($("<label>").text("未打印"));
                }else if(state == 2){
                    $("div#"+id).append($("<label>").text("已打印"));
                }
            });
        })
    })
</script>
