<h3>正则规范配置</h3>
<div class="config-panel">
  <div>
    <h4 class="bg-primary">
      <span class='config-title'>包装标签规范</span>
    </h4>
    <table class="table table-striped globle-table table-hover">
      <tr>
        <td>规范名称</td>
        <td>规范代码</td>
        <td>前缀字符串</td>
        <td>后缀字符串</td>
        <td>正则表达式</td>
      </tr>
      <% @package_label_regexes.each do |regex| %>
          <tr <%=regex.id%>>
            <td><input type="text" class="name" value="<%=regex.name %>"></td>
            <td><input type="text" class="code" value="<%=regex.code %>"></td>
            <td><input type="text" class="prefix_string" value="<%=regex.prefix_string %>"></td>
            <td><input type="text" class="suffix_string" value="<%=regex.suffix_string %>"></td>
            <td><input type="text" class="regex_string" value="<%=regex.regex_string %>"></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>