<%= form_for(@led) do |f| %>
    <% if @led.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@led.errors.count, "error") %> prohibited this led from being saved:</h2>
          <ul>
            <% @led.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :id, '编号' %>
      <br>
      <%= f.text_field :id %>
    </div>


    <div class="field">
      <%= f.label :position_id, '库位' %>
      <br>
      <%= f.text_field :position_id %>
    </div>

    <div class="field">
      <%= f.label :current_state, '当前状态' %>
      <br>
      <%= f.select(:current_state, LedLightState.list, {include_blank: false}) %>
    </div>

    <div class="field">
      <%= f.label :led_display, '当前显示' %>
      <br>
      <%= f.text_field :led_display %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
