<%= form_for(@led) do |f| %>
    <% if @led.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@led.errors.count, "error") %> prohibited this led from being saved:</h2>
          <ul>
            <% @led.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :id, '编号' %>
      <br>
      <%= f.text_field :id %>
    </div>

    <div class="field">
      <%= f.label :name, '名称' %>
      <br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :modem_id, '控制器' %>
      <br>
      <%= f.select(:modem_id, Modem.all.collect{|m| [m.ip, m.id]}, {include_blank: :true}) %>
    </div>

    <div class="field">
      <%= f.label :position_id, '库位' %>
      <br>
      <%= f.select(:position_id, Position.all.collect{|p| [p.detail, p.id]}, {include_blank: :true}) %>
    </div>

    <div class="field">
      <%= f.label :order_box_id, '料盒动态绑定' %>
      <br>
      <%= f.select(:order_box_id, OrderBox.all.collect{|p| [p.nr, p.id]}, {include_blank: :true}) %>
    </div>

    <div class="field">
      <%= f.label :order_car_id, '所属料车' %>
      <br>
      <%= f.select(:order_car_id, OrderCar.all.collect{|p| [p.nr, p.id]}, {include_blank: :true}) %>
    </div>

    <div class="field">
      <%= f.label :current_state, '当前状态' %>
      <br>
      <%= f.select(:current_state, LedLightState.list, {include_blank: false}) %>
    </div>

    <div class="field">
      <%= f.label :led_display, '当前显示' %>
      <br>
      <%= f.text_field :led_display %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
