<h1>LED 列表</h1>
<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <span>LED号：
        <input type="text" name="led[signal_id]" value="<%= @signal_id %>"/>
      </span>
     <!--<span>协调器号：-->
        <!--<input type="text" name="led[modem_id]" value="<%= @modem_id %>"/>-->
      <!--</span>-->
      <span>库位：
        <input type="text" name="led[position]" value="<%= @position %>"/>
        <input type="hidden" name="led[position_fuzzy]"/>
      </span>
      <input type="submit" value="查 找" class="btn btn-primary"/>
    </div>
  </form>
</div>
<%= link_to "新建LED", send("new_#{@model}_path"), :class => 'btn btn-default' %>
<%= link_to "上传/更新LED", send("import_#{@model.pluralize}_path"), :class => 'btn btn-default' %>
<%= link_to "下载", send("download_#{@model.pluralize}_path"), data: {confirm: '确定下载?'}, :class => 'btn btn-default' %>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @leds %>
  </div>
  <%= will_paginate @leds, :container => false %>
</div>
<table class="table table-bordered table-striped globle-table">
  <thead>
  <tr class="alert">
    <th>编号</th>
    <th>库位</th>
    <th>当前状态</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @leds.each_with_index do |led,i| %>
      <tr class="<%= i%2==0 ? 'alert' : ''%>">
        <td><%= led.id %></td>
        <td><%= led.position.detail if led.position %></td>
        <td><%= LedLightState.display(led.current_state) %></td>
        <td><%= link_to '编辑', edit_led_path(led) %></td>
        <td><%= link_to '删除', led, method: :delete, data: {confirm: '确认删除?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
