<h1>LED 列表</h1>
<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <span>LED号：
        <input type="text" name="led[nr]" value="<%= @nr %>"/>
      </span>
      <span>库位：
        <input type="text" name="led[position]" value="<%= @position %>"/>
        <input type="hidden" name="led[position_fuzzy]"/>
      </span>
      <input type="submit" value="查 找" class="btn btn-primary"/>
    </div>
  </form>
</div>
<%= link_to "新建LED", send("new_#{@model}_path"), :class => 'btn btn-default' %>
<%= link_to "上传/更新LED", import_leds_path, :class => 'btn btn-default' %>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @leds %>
  </div>
  <%= will_paginate @leds, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
<!--<table class="table table-bordered table-striped globle-table">-->
  <thead>
  <tr>
    <th>编号</th>
    <th>名称</th>
    <th>控制器IP</th>
    <th>库位</th>
    <th>料盒动态绑定</th>
    <th>所属料车</th>
    <th>当前状态</th>
    <th>当前显示</th>
    <th>是否有效</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @leds.each_with_index do |led,i| %>
      <tr>
        <td><%= led.nr %></td>
        <td><%= led.name %></td>
        <td><%= led.modem.ip if led.modem %></td>
        <td><%= led.position.detail if led.position %></td>
        <td><%= led.order_box.nr if led.order_box %></td>
        <td><%= led.order_car.nr if led.order_car %></td>
        <td><%= LedLightState.display(led.current_state) %></td>
        <td><%= led.led_display %></td>
        <td>
          <% if led.is_valid %>
              <span class="label label-success">是</span>
          <% else %>
              <span class="label label-warning">否</span>
          <% end %>
        </td>
        <td><%= link_to '编辑', edit_led_path(led) %></td>
        <td><%= link_to '删除', led, method: :delete, data: {confirm: '确认删除?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
