<h1>LED 列表</h1>

<%= link_to "新建LED", send("new_#{@model}_path"), :class => 'btn btn-default' %>
<%= link_to "上传/更新LED", send("import_#{@model.pluralize}_path"), :class => 'btn btn-default' %>
<%= link_to "下载", send("download_#{@model.pluralize}_path"), data: {confirm: '确定下载?'}, :class => 'btn btn-default' %>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @leds %>
  </div>
  <%= will_paginate @leds, :container => false %>
</div>
<table class="table table-bordered table-striped globle-table">
  <thead>
  <tr>
    <th>编号(协调器自动分配的ID)</th>
    <th>MAC</th>
    <th>协调器ID</th>
    <th>协调器IP</th>
    <th>库位</th>
    <th>当前状态</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @leds.each do |led| %>
      <tr>
        <td><%= led.signal_id %></td>
        <td><%= led.mac %></td>
        <td><%= led.modem_id %></td>
        <td><%= led.modem.ip if led.modem %></td>
        <td><%= led.position %></td>
        <td><%= LedLightState.display(led.current_state) %></td>
        <td><%= link_to '编辑', edit_led_path(led) %></td>
        <td><%= link_to '删除', led, method: :delete, data: {confirm: '确认删除?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
