<%= form_for(@scrap_list) do |f| %>
  <% if @scrap_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scrap_list.errors.count, "error") %> prohibited this scrap_list from being saved:</h2>

      <ul>
      <% @scrap_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :name, "名称/备注" %><br>
      <%= f.text_field :name %>
    </div>
  <div class="field">
    <%= f.label :src_warehouse, "源仓库" %><br>
    <%= f.select(:src_warehouse, Whouse.all.collect {|w| [w.id, w.name]}, {include_blank: true})%>
  </div>
  <div class="field">
    <%= f.label :dse_warehouse, "目的仓库" %><br>
    <%= f.select(:dse_warehouse, Whouse.all.collect {|w| [w.id, w.name]}, {include_blank: true})%>
  </div>
  <div class="field">
    <%= f.label :builder, "创建者" %><br>
    <%= f.text_field :builder %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
