<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scrap_list.name %>
</p>

<p>
  <strong>源仓库:</strong>
  <%= @scrap_list.src_warehouse %>
</p>

<p>
  <strong>目的仓库:</strong>
  <%= @scrap_list.dse_warehouse %>
</p>

<p>
  <strong>创建者:</strong>
  <%= @scrap_list.builder %>
</p>

<%= link_to '报废移库', scrap_scrap_list_path, :class => 'btn btn-warning', data: {confirm: "确定报废?"} %>
<br/>
<p style="color:blue;font-weight: bold">
  共：<%= @scrap_list_items.count %>
</p>
<table class="table table-bordered table-striped globle-table">
  <thead>
  <tr>
    <th>NO.</th>
    <th>报废单号</th>
    <th>零件号</th>
    <th>总成号</th>
    <th>数量</th>
    <th>单位</th>
    <th>原因</th>
    <th>登记人</th>
    <th>登记时间</th>
    <th>状态</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @scrap_list_items.each_with_index do |scrap_list_item, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= scrap_list_item.scrap_list_id %></td>
        <td><%= scrap_list_item.part_id %></td>
        <td><%= scrap_list_item.product_id %></td>
        <% if scrap_list_item.state == 200 %>
            <td><%= scrap_list_item.quantity %></td>
        <% else %>
            <td><%= best_in_place scrap_list_item, :quantity, as: :input %></td>
        <% end %>
        <td><%= scrap_list_item.IU %></td>
        <td><%= scrap_list_item.reason %></td>
        <td><%= scrap_list_item.name %></td>
        <td><%= scrap_list_item.time.localtime %></td>
        <td><%= ScrapListItemState.display(scrap_list_item.state) %></td>
        <!--<td><%= best_in_place scrap_list_item, :state, as: :select, collection: ScrapListItemState.list.map { |s| [s[1], s[0]] }.to_h %></td>-->
        <td><%= link_to '删除', scrap_list_item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Back', scrap_lists_path %>
