<style>
    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">报废生成</li>
    <li>
      <a href="/scrap_lists" title="返回报废单">报废单</a>
    </li>
    <li class="active">
      报废详情
    </li>
  </ol>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <strong>Name:</strong>
        <%= @scrap_list.name %>
      </div>
      <div class="col-sm-3">
        <strong>源仓库:</strong>
        <%= @scrap_list.src_warehouse %>
      </div>
      <div class="col-sm-3">
        <strong>目的仓库:</strong>
        <%= @scrap_list.dse_warehouse %>
      </div>
      <div class="col-sm-3">
        <strong>创建者:</strong>
        <%= @scrap_list.builder %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <% if current_user.can_edit_inventory? %>
            <%= link_to '报废移库', scrap_scrap_list_path, :class => 'btn btn-warning', data: {confirm: "确定报废?"}, :style => 'width:150px;' %>
        <% end %>
      </div>

      <div class="col-sm-9">
        <p style="color:blue;font-weight: bold;margin-top: 5px;">
          共：<%= @scrap_list_items.count %>
        </p>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>NO.</th>
    <th>报废单号</th>
    <th>零件号</th>
    <th>总成号</th>
    <th>数量</th>
    <th>单位</th>
    <th>原因</th>
    <th>登记人</th>
    <th>登记时间</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  <% @scrap_list_items.each_with_index do |scrap_list_item, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= scrap_list_item.scrap_list_id %></td>
        <td><%= scrap_list_item.part_id %></td>
        <td><%= scrap_list_item.product_id %></td>
        <% if scrap_list_item.state == 200 %>
            <td><%= scrap_list_item.quantity %></td>
        <% else %>
            <td><%= best_in_place scrap_list_item, :quantity, as: :input %></td>
        <% end %>
        <td><%= scrap_list_item.IU %></td>
        <td><%= scrap_list_item.reason %></td>
        <td><%= scrap_list_item.name %></td>
        <td><%= scrap_list_item.time.blank? ? '' : scrap_list_item.time.localtime %></td>
        <td><%= ScrapListItemState.display(scrap_list_item.state) %></td>
        <!--<td><%= best_in_place scrap_list_item, :state, as: :select, collection: ScrapListItemState.list.map { |s| [s[1], s[0]] }.to_h %></td>-->
        <% if current_user.can_edit_inventory? %>
            <td>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-trash', :style => 'color:darkred;'), scrap_list_item, method: :delete, data: {confirm: 'Are you sure?'}, :title => '删除', :class => 'IconA' %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>