<%= form_for(@user, html: {class: 'form-line'}) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :nr, '工 号' %>
      <% if current_user.admin? || current_user.manager? %>
          <%= f.text_field :nr %>
      <%else%>
          <input type="text" name="id" readonly="" value="<%=current_user.nr%>">
      <%end%>
    </p>

    <p>
      <%= f.label :name, '姓 名' %>
      <% if current_user.admin? || current_user.manager? %>
          <%= f.text_field :name %>
      <%else%>
          <input type="text" name="id" readonly="" value="<%=current_user.name%>">
      <%end%>
    </p>

    <p>
      <%= f.label :password, '密 码' %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, '确认密码' %>
      <%= f.password_field :password_confirmation %>
    </p>

    <p>
      <%= f.label :operation_mode, '操作模式' %>
      <% if current_user.admin? || current_user.manager? %>
          <%= f.select(:operation_mode, OperationMode.list_menu, {include_blank: false})%>
      <%else%>
          <input type="text" name="id" readonly="" value="<%= OperationMode.display(current_user.operation_mode) %>">
      <%end%>
    </p>

    <p>
      <%= f.label :role_id, '角 色' %>

      <% if current_user.admin? || current_user.manager? %>
          <%= f.select(:role_id, Role.menu, {include_blank: false}) %>
      <%else%>
          <input type="text" name="id" readonly="" value="<%= Role.display(current_user.role_id) %>">
      <%end%>
    </p>

    <p>
      <%= f.label :location_id, '地 点' %>
      <% if current_user.admin? || current_user.manager? %>
          <%= f.select(:location_id, Location.all.collect { |l| [l.name, l.id] }, {include_blank: false}) %>
      <%else%>
          <input type="text" name="id" readonly="" value="<%= Location.find(current_user.location_id).name %>">
      <%end%>
    </p>

    <p>
      <%= f.label :email, '邮 箱' %>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :tel, '电 话' %>
      <%= f.text_field :tel %>
    </p>

    <div class="actions">
      <%= f.submit value: '提 交', class: 'btn btn-primary btn-lg' %>
    </div>
<% end %>