<h2>员工列表</h2>

<%= link_to "新建员工", send("new_#{@model}_path") %>
<%= link_to "上传/更新员工", send("import_#{@model.pluralize}_path") %>
<%= link_to "下载", send("download_#{@model.pluralize}_path") %>

<table class="table table-bordered table-striped globle-table">
  <thead>
  <tr>
    <th>序号</th>
    <th>员工号</th>
    <th>上次登陆IP</th>
    <th>所属位置</th>
    <th>角色</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each_with_index do |user,index| %>
      <tr>
        <td><%= index %>
        <td><%= user.id %>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.location.name if user.location%></td>
        <td><%= user.role %></td>
        <td><%= link_to '详细', user %></td>
        <td><%= link_to '编辑', edit_user_path(user) %></td>
        <td><%= link_to '删除', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @users  %>
<br>


