<style>
    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
</style>

<% if current_user.admin? || current_user.manager? %>
    <!--<h3>员工列表</h3>-->
    <!--<hr style="margin: 0;">-->
    <% if current_user.admin? %>
        <div class="col-md-12" style="text-align: center;">
          <% if current_user.permission?(:operate_basic_info_create) %>
              <div class="col-md-3">
                <%= link_to "新建员工", send("new_#{@model}_path"), :class => 'btn btn-primary', :style => 'width:200px;margin:10px 0 0 0;color:white;' %>
              </div>

              <div class="col-md-3">
                <%= link_to "上传/更新员工", send("import_#{@model.pluralize}_path"), :class => 'btn btn-primary', :style => 'width:200px;margin:10px 0 0 0;color:white;' %>
              </div>
          <% end %>
          <div class="col-md-3">
            <%= link_to "下载员工列表", send("download_#{@model.pluralize}_path"), data: {confirm: 'Are you sure?'}, :class => 'btn btn-primary', :style => 'width:200px;margin:10px 0 0 0;color:white;' %>
          </div>
        </div>
    <% end %>
    <div style="margin: 55px 0 0 0;">
      <hr>
      <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
        <div style="text-align: center;">
          <div class="col-md-3">
              <span>员工号：
                <input type="text" name="user[nr]" value="<%= @nr %>"/>
                <input type="hidden" name="user[nr_fuzzy]"/>
              </span>
          </div>

          <div class="col-md-3">
              <span>  所属地点：
                <%= select_tag('user[location_id]', options_from_collection_for_select(Location.all, 'id', 'name', @location_id), include_blank: true) %>
              </span>
          </div>

          <div class="col-md-3">
              <span>  角色：
                <%= select_tag('user[role_id]', options_for_select(Role.menu, @role_id), include_blank: true) %>
              </span>
          </div>
          <div class="col-md-3">
            <input type="submit" value="查 找" style="width: 200px;" class="btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>

    <hr>
    <div class="digg_pagination" style="margin: 45px 0 0 0 ;">
      <div class="page_info" style="width: auto;text-align: left;height: 40px;margin: 40px 0 0 0;padding: 10px 0 0 20px;">
        <%= page_entries_info @users %>
      </div>
      <%= will_paginate @users, :container => false %>
    </div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>序号</th>
    <th>员工号</th>
    <th>姓名</th>
    <th>操作模式</th>
    <th>所属地点</th>
    <th>角色</th>
    <th colspan="3">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each_with_index do |user, index| %>
      <tr>
        <% if current_user.admin? || current_user.manager? || (current_user.id == user.id) %>
            <td><%= index+@users.offset+1 %>
            <td><%= user.nr %>
            <td><%= user.name %>
            <td><%= OperationMode.display(user.operation_mode) %></td>
            <!--<td><%= user.current_sign_in_ip %></td>-->
            <td><%= user.location.name if user.location %></td>
            <td><%= user.role %></td>
            <td>
              <a href="<%= user_path(user) %>" class="IconA" title="详细"><i class="glyphicon glyphicon-eye-open" style="color: green;"> </i></a>

              <% if current_user.permission?(:operate_basic_info_edit) %>
                  <a href="<%= edit_user_path(user) %>" class="IconA" title="编辑"><i class="glyphicon glyphicon-pencil" style="color:#4F94CD;"></i></a>
              <% end %>

              <% if current_user.permission?(:operate_basic_info_delete) %>
                  <a class="IconA" rel="nofollow" href="<%= user_path(user) %>" data-method="delete" data-confirm="Are you sure?" title="删除">
                    <i class="glyphicon glyphicon-trash" style="color:darkred;"></i>
                  </a>
              <% end %>

              <% if current_user.permission?(:manage_permission) %>
                  <a href="<%= permission_groups_users_path(user) %>" class="IconA" title="权限">
                    <i class="glyphicon glyphicon-lock" style="color:#000;"></i>
                  </a>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @users, :container => false %>
</div>
<br></div>
