<h1>Listing users</h1>
<input type="button" value="導入零件庫位信息"/>
<table>
  <thead>
  <tr>
    <!--<th>ID</th>-->
    <th>No</th>
    <th>ID</th>
    <th>IP</th>
    <th>Location</th>
    <th>Role</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each_with_index do |user,index| %>
      <tr>
        <td><%= index %>
        <td><%= user.id %>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.location.name if user.location%></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>