<% if current_user.admin? || current_user.manager? %>
<h2>员工列表</h2>

<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <span>员工号：
        <input type="text" name="user[nr]" value="<%= @nr %>"/>
        <input type="hidden" name="user[nr_fuzzy]"/>
      </span>
      <span>  所属地点：
        <%=  select_tag('user[location_id]',options_from_collection_for_select(Location.all,'id','name',@location_id), include_blank: true)%>
      </span>
      <span>  角色：
        <%=  select_tag('user[role_id]',options_for_select(Role.menu,@role_id), include_blank: true)%>
      </span>
      <input type="submit" value="查 找" class="btn btn-primary"/>
    </div>
  </form>
</div>

<% if current_user.admin?%>
<%= link_to "新建员工", send("new_#{@model}_path") ,:class=>'btn btn-default'%>
<%= link_to "上传/更新员工", send("import_#{@model.pluralize}_path") ,:class=>'btn btn-default'%>
<%= link_to "下载", send("download_#{@model.pluralize}_path") ,data: { confirm: 'Are you sure?' },:class=>'btn btn-default'%>
    <%end%>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users, :container => false %>
</div>
<%end%>

<table class="table table-bordered table-striped globle-table">
  <thead>
  <tr>
    <th>序号</th>
    <th>员工号</th>
    <th>姓名</th>
    <th>操作模式</th>
    <th>所属地点</th>
    <th>角色</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each_with_index do |user,index| %>
      <tr>
        <% if current_user.admin? || current_user.manager? || (current_user.id == user.id) %>
            <td><%= index+@users.offset+1 %>
            <td><%= user.nr%></td>
            <td><%= user.name %>
            <td><%= OperationMode.display(user.operation_mode) %></td>
            <td><%= user.location.name if user.location%></td>
            <td><%= user.role %></td>
            <td><%= link_to '详细', user ,:class=> 'btn btn-default'%></td>
            <td><%= link_to '编辑', edit_user_path(user) ,:class=> 'btn btn-default'%></td>
        <%end%>
        <% if current_user.admin? || current_user.manager? %>
            <td><%= link_to '删除', user, method: :delete, data: {confirm: 'Are you sure?'} ,:class=> 'btn btn-default'%></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @users, :container => false %>
</div>
<br>


