<h1>用户列表</h1>

<%= link_to "新建用户", send("new_#{@model}_path") %>
<%= link_to "上传/更新用户", send("import_#{@model.pluralize}_path") %>
<%= link_to "下载", send("download_#{@model.pluralize}_path") %>

<table class="table table-bordered table-striped globle-table">
  <thead>
  <tr>
    <!--<th>ID</th>-->
    <th>序号</th>
    <th>员工号</th>
    <th>上次登陆IP</th>
    <th>所属位置</th>
    <th>角色</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each_with_index do |user,index| %>
      <tr>
        <td><%= index %>
        <td><%= user.id %>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.location.name if user.location%></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @users, :page_links => false %>
<br>


