<h1><%= @user.nr%></h1>

<h4>姓名: <small><%= @user.name%></small></h4>
<h4>工号： <small><%= @user.nr %></small></h4>
<h4>操作模式： <small><%= OperationMode.display(@user.operation_mode) %></small></h4>
<h4>上次登录IP: <small><%= @user.current_sign_in_ip%></small></h4>
<h4>所属地点: <small><%= @user.location.name if @user.location%></small></h4>
<h4>角色: <small><%= Role.display(@user.role_id) %></small></h4>
<h4>邮箱: <small><%= @user.email %></small></h4>
<h4>电话: <small><%= @user.tel %></small></h4>

<%= link_to '编辑', edit_user_path(@user),:class=>'btn btn-default' %> |
<%= link_to '返回', users_path,:class=>'btn btn-default' %>