<p id="notice"><%= notice %></p>

<p>
  <string>员工号:</string>
  <%= @user.id%>
</p>

<p>
  <string>姓 名:</string>
  <%= @user.name%>
</p>

<p>
  <string>IP:</string>
  <%= @user.current_sign_in_ip%>
</p>

<p>
  <string>地 点:</string>
  <%= @user.location.name if @user.location%>
</p>

<p>
  <string>角 色:</string>
  <%= @user.role%>
</p>

<p>
  <string>邮 箱:</string>
  <%= @user.email%>
</p>
<p>
  <string>电 话:</string>
  <%= @user.tel%>
</p>

<%= link_to '编辑', edit_user_path(@user) %> |
<%= link_to '返回', users_path %>