<h1>Listing pick_orders</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Pick list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pick_orders.each do |pick_order| %>
      <tr>
        <td><%= pick_order.order %></td>
        <td><%= pick_order.pick_list %></td>
        <td><%= link_to 'Show', pick_order %></td>
        <td><%= link_to 'Edit', edit_pick_order_path(pick_order) %></td>
        <td><%= link_to 'Destroy', pick_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pick order', new_pick_order_path %>
