<style type="text/css">
  .col-sm-4{
    margin-top: 20px;
  }
</style>

<%= form_for(@part_type) do |f| %>
  <% if @part_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_type.errors.count, "error") %> prohibited this part_type from being saved:</h2>

      <ul>
      <% @part_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-4">
          <%= f.label :id,'编 号' %>
          <%= f.text_field :nr %>
      </div>
      <div class="col-sm-4">
         <%= f.label :name,'名 称' %>
        <%= f.text_field :name %>
      </div>
      <div class="col-sm-4">
        <div class="actions">
          <%= f.submit value: '提 交', class: 'btn btn-primary',style:'width:200px;color:white;' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
