<%= form_for(@part_position) do |f| %>
  <% if @part_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_position.errors.count, "error") %> prohibited this part_position from being saved:</h2>

      <ul>
      <% @part_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :part_id %><br>
    <%= f.text_field :part_id %>
  </div>
  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.select(:position_id, Position.options, {include_blank: false}) %>
  </div>
  <div class="field">
    <%= f.label :safe_stock %><br>
    <%= f.text_field :safe_stock %>
  </div>
  <div class="field">
    <%= f.label :from_warehouse_id %><br>
    <%= f.select(:from_warehouse_id, Whouse.options, {include_blank: false}) %>
  </div>
  <div class="field">
    <%= f.label :from_position_id %><br>
    <%= f.select(:from_position_id, Position.options, {include_blank: false}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
