<!DOCTYPE html>
<html>
<head>
  <title>LEONI 精密物流控制系统</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user.employee? %>
    <%= render "shared/employee_menu" %>
<% else %>
    <%= render "shared/menu" %>
<% end %>
<p class="notice alert"><%= notice %><%= alert %></p>
<%= yield %>
</body>
<input type="hidden" value="<%= @model %>_li" id='active_li'>
<script type="text/javascript">
    $(function () {
        $("#main-menu li").removeClass('active');
        $('#' + $('#active_li').val()).addClass('active');
    });
</script>
</html>
