<style>
    .col-sm-12 {
        height: 40px;
        line-height: 40px;
    }

    .up_search {
        text-align: center;
        cursor: pointer;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
    
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    } 
    
    .datepicker{
      width: 150px;
    }

    input[type='number']{
      width: 150px;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">
      移库管理
    </li>
    <li class="active">
      库存移动记录查询
    </li>
  </ol>
</div>
<div class="all-search">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div class="col-sm-12">
      <div class="col-sm-3">
        零件号：
        <input type="text" name="movement[partNr]" value="<%= @partNr %>"/>
      </div>
      <!--<div class="col-sm-3">-->
        <!--唯一码：-->
        <!--<input type="text" name="movement[packageId]" value="<#%= @packageId %>"/>-->
      <!--</div>-->
      <div class="col-sm-3">
        类型：
        <%= select_tag('movement[type_id]', options_from_collection_for_select(MoveType.all, :id, :typeId, @type_id), include_blank: true) %>
      </div>
      <div class="col-sm-3">
        员工号：
        <input type="text" name="movement[employee_id]" value="<%= @employee_id %>"/>
      </div>
    </div>

    <div class="col-sm-12" style="border-bottom: 1px dashed #999;">
      <div class="col-sm-3">
        源仓库号：
        <%= select_tag('movement[from_id]', options_from_collection_for_select(Whouse.all, :nr, :name, @from_id), include_blank: true) %>
      </div>
      <div class="col-sm-3">
        源库位号：
        <input type="text" name="movement[fromPosition]" value="<%= @fromPosition %>"/>
      </div>
      <div class="col-sm-3">
        目的仓库号：
        <%= select_tag('movement[to_id]', options_from_collection_for_select(Whouse.all, :nr, :name, @to_id), include_blank: true) %>
      </div>
      <div class="col-sm-3">
        目的库位号：
        <input type="text" name="movement[toPosition]" value="<%= @toPosition %>"/>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4">
        创建日期：
        <input type="text" name="movement[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
        ~ <input type="text" name="movement[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
      </div>
      <div class="col-sm-4">
        FIFO：
        <input type="text" name="movement[fifo][start]" class="datepicker" value="<%= @fifo_start %>"/>
        ~ <input type="text" name="movement[fifo][end]" class="datepicker" value="<%= @fifo_end %>"/>
      </div>
      <div class="col-sm-4">
        数量：
        <input type="number" name="movement[qty][start]" value="<%= @qty_start %>"/>
        ~ <input type="number" name="movement[qty][end]" value="<%= @qty_end %>"/>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4">
        备注：
        <input type="text" name="movement[remarks]" value="<%= @remarks %>"/>
        <input type="hidden" name="movement[remarks_fuzzy]"/>
      </div>
      <div class="col-sm-4">
        <input type="submit" value="查找" class="btn btn-primary" name="search" style="width: 200px;"/>
      </div>
      <div class="col-sm-4">
        <input type="submit" value="导出" class="btn btn-primary" name="download" style="width: 200px;"/>
      </div>
    </div>
  </form>
</div>

<div class="col-sm-12 up_search">
  <i class=" glyphicon glyphicon-chevron-up" title="收起搜索条件"></i>
</div>

<div class="col-sm-12" style="margin-bottom: 20px;margin-top: 10px;">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @movements %>
    </div>
    <%= will_paginate @movements, :container => false %>
  </div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>NO.</th>
    <th>零件号</th>
    <!--<th>唯一码</th>-->
    <th>移动量</th>
    <th>类型</th>
    <th>FIFO</th>
    <th>创建时间</th>
    <th>源仓库</th>
    <th>源库位</th>
    <th>目的仓库</th>
    <th>目的库位</th>
    <th>员工号</th>
    <th>备注</th>
    <th>备注2</th>
    <!--<th></th>-->
  </tr>
  </thead>
  <tbody>
  <% @movements.each_with_index do |movement, i| %>
      <tr>
        <td><%= i+@movements.offset+1 %></td>
        <% if part=Part.find_by_id(movement.partNr) %>
            <td><%= part.nr %></td>
        <% else %>
            <td></td>
        <% end %>
        <!--<td><#%= movement.packageId if movement.packageId %></td>-->
        <td><%= movement.qty %></td>
        <td><%= MoveType.find(movement.type_id).typeId if movement.type_id %> </td>
        <td><%= movement.fifo.localtime if movement.fifo %> </td>
        <td><%= movement.created_at.localtime if movement.created_at %></td>

        <% if fromWh=Whouse.find_by_id(movement.from_id) %>
            <td><%=  fromWh.name %></td>
        <% else %>
            <td></td>
        <% end %>
        <% if fromPosition=Position.find_by_id(movement.fromPosition) %>
            <td><%=  fromPosition.nr %></td>
        <% else %>
            <td></td>
        <% end %>
        <% if toWh=Whouse.find_by_id(movement.to_id) %>
            <td><%=  toWh.name %></td>
        <% else %>
            <td></td>
        <% end %>
        <% if toPosition=Position.find_by_id(movement.toPosition) %>
            <td><%=  toPosition.nr %></td>
        <% else %>
            <td></td>
        <% end %>
        <% if employee=User.find_by_id(movement.employee_id) %>
            <td><%=  employee.nr %></td>
        <% else %>
            <td></td>
        <% end %>
        <td><%= movement.remarks if movement.remarks %> </td>
        <td><%= movement.remark if movement.remark %> </td>
        <!--<td><%= link_to '编辑', :class => 'btn btn-default' %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @movements, :container => false %>
</div>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();
    $('.up_search').click(function () {
        var this_arrow = $(this);
        $('.all-search').slideToggle(300, function () {
            if (this_arrow.children('i').hasClass('glyphicon-chevron-up')) {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-down');
                this_arrow.children('i').attr('title', '展开搜索条件');
            } else {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-up');
                this_arrow.children('i').attr('title', '收起搜索条件');
            }
        });
    })
</script>