<%= form_for(@delivery, url: delivery_path) do |f| %>
    <% if @delivery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

          <ul>
            <% @delivery.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :state, '状 态' %>
      <%= f.select(:state, MovableState.state, {include_blank: false}) %>
    </p>
    <p>*状态可以被修改，但是依然需要使用移动设备进行接收，否则不会产生操作记录</p>

    <p>
      <%= f.label :des_location_id, '目的地' %>
      <%= f.select(:des_location_id, Location.collect { |l| [l.name, l.id] }, {include_blank: false}) %>
    </p>

    <p>
      <%= f.label :remark, '备 注' %>
      <%= f.text_field :remark %>
    </p>

    <div class="actions">
      <%= f.submit value: '提 交', class: 'btn btn-primary btn-lg' %>
    </div>
<% end %>
<script type="text/javascript">
    $(".datepicker").datetimepicker({
        lang: 'ch',
        format: 'Y-m-d H:i'
    })
</script>
