<h2>运单列表</h2>
<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <div>
               <span>运单号：
                    <input type="text" name="delivery[id]" value="<%= @id %>"/>
                 <input type="hidden" name="delivery[id_fuzzy]"/>
               </span>
               <span>创建员工工号：
                    <input type="text" name="delivery[user_id]" value="<%= @user_id %>"/>
                    <input type="hidden" name="delivery[user_id_fuzzy]"/>
               </span>
               <span>接收员工工号：
                    <input type="text" name="delivery[receiver_id]" value="<%= @receiver_id %>"/>
                    <input type="hidden" name="delivery[receiver_id_fuzzy]"/>
               </span>
        </span>
               <span>运单状态：
                 <%= select 'delivery', 'state', @states, prompt: '', selected: @state %>
               </span>
      </div>
      <div>
      <span>
        发运日期：
         <input type="text" name="delivery[delivery_date][start]" class="datepicker" value="<%= @delivery_date_start %>"/>
        ~  <input type="text" name="delivery[delivery_date][end]" class="datepicker" value="<%= @delivery_date_end %>"/>
          </span>
      <span>
        接收日期：
         <input type="text" name="delivery[received_date][start]" class="datepicker" value="<%= @received_date_start %>"/>
        ~  <input type="text" name="delivery[received_date][end]" class="datepicker" value="<%= @received_date_end %>"/>
          </span>
      </div>
      <div>
        <input type="submit" value="查 找" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</div>
<br/>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @deliveries %>
  </div>
  <%= will_paginate @deliveries, :container => false %>
</div>
<table class="table table-bordered table-striped globle-table table-hover">
  <thead>
  <tr>
    <th>NO.</th>
    <th>运单号</th>
    <th>状态</th>
    <th>创建人</th>
    <th>创建员工工号</th>
    <th>创建日期</th>
    <th>发运日期</th>
    <th>接收员工</th>
    <th>接收员工工号</th>
    <th>接收日期</th>
    <th>发送地</th>
    <th>接收地</th>
    <th>备注</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @deliveries.each_with_index do |delivery, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= delivery.id %></td>
        <td><%= DeliveryState.display(delivery.state) %></td>
        <td><%= delivery.user.name %></td>
        <td><%= delivery.user.id %></td>
        <td><%= delivery.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= delivery.delivery_date.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= delivery.receiver.name if delivery.receiver %></td>
        <td><%= delivery.receiver.id if delivery.receiver %></td>
        <td><%= delivery.received_date.localtime.strftime('%Y-%m-%d %H:%M:%S') if delivery.received_date %></td>
        <td><%= delivery.source.name if delivery.source %></td>
        <td><%= delivery.destination.name if delivery.destination %></td>
        <td><%= delivery.remark %></td>
        <td><%= link_to '详细', delivery %></td>
        <td><%= link_to '编辑', edit_delivery_path(delivery) %></td>
        <td><%= link_to '导出数据', export_delivery_path(delivery) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @deliveries, :container => false %>
</div>
<h3><%= link_to '导入离线运单', import_deliveries_path %></h3>
<br>
<script>
    $(function () {
        $(".datepicker").datepicker({
            showButtonPanel: true,
            showWeek: true
        });

//        $(".datepicker").each(function () {
//            if ($(this).val().length == 0)
//                $(this).datepicker('setDate', new Date())
//        });
    });
</script>