<style>
    .col-sm-12 {
        height: 40px;
    }

    select {
        min-width: 150px;
    }

    .up_search {
        text-align: center;
        cursor: pointer;
    }

    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">运输管理</li>
    <li class="active">运输管理</li>
    <li class="active">发运流程</li>
    <li class="active">运单</li>
  </ol>
</div>

<div class="all-search">
  <form method="get" action="<%= send("search_logistics_containers_path") %>">
    <div class="col-sm-12">
      <div class="col-sm-3">
        运单号：
        <input type="text" name="delivery[container_id]" value="<%= @delivery_container_id %>"/>
        <input type="hidden" name="delivery[container_id_fuzzy]"/>
      </div>

      <div class="col-sm-3">
        创建员工号：
        <input type="text" name="delivery[user_id]" value="<%= @delivery_user_id %>"/>
        <input type="hidden" name="delivery[user_id_fuzzy]"/>
      </div>

      <div class="col-sm-3">
        运单状态：
        <%= select 'delivery', 'state', MovableState.state, selected: @delivery_state, include_blank: true %>
      </div>

      <div class="col-sm-3">
        装箱单号： 
        <input type="text" name="containers[extra_batch]" value="<%= @container_extra_batch %>"/>
      </div>
    </div>

    <div class="col-sm-12">
      <% if !current_user.is_client_user? %>
          <div class="col-sm-3">
            发送地：
            <%= select_tag('delivery[source_location_id]', options_from_collection_for_select(Location.all, 'id', 'name', @delivery_source_location_id), include_blank: true) %>
          </div>

          <div class="col-sm-3">
            目的地：
            <%= select_tag('delivery[des_location_id]', options_from_collection_for_select(Location.all, 'id', 'name', @delivery_des_location_id), include_blank: true) %>
          </div>

      <% end %>
      <div class="col-sm-6">
        创建日期：
        <input type="text" name="delivery[created_at][start]" class="datepicker" value="<%= @delivery_created_at_start %>"/>
        ~
        <input type="text" name="delivery[created_at][end]" class="datepicker" value="<%= @delivery_created_at_end %>"/>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4">
        <h4 style="margin-top: 0;">
          根据操作记录
          <hr style="border-bottom: 1px dashed #000;margin: -10px 0 0 120px">
        </h4>
      </div>

      <div class="col-sm-8" style="text-align: right;">
        <input type="hidden" value="delivery" name="model"/>
        <input type="hidden" value="records" name="tables"/><!--使用分号隔开，这里的表应该与上面的参数一致-->
          <div class="col-sm-4">
            <input type="submit" value="查找" class="btn btn-primary" name="search" style="width: 200px;"/>
          </div>
          <div class="col-sm-4">
            <input type="submit" value="导出" class="btn btn-primary" name="download" style="width: 200px;"/>
          </div>
      </div>
    </div>

    <div class="col-sm-12" style="border-bottom: 1px solid #CCCCCC;">
      <div class="col-sm-3">
        员工号：
        <input type="text" name="records[impl_id]" value="<%= @records_impl_id %>"/>
        <input type="hidden" name="records[impl_id_fuzzy]"/>
      </div>
      <div class="col-sm-3">
        操 作：
        <%= select 'records', 'impl_user_type', ImplUserType.list_action_menu, selected: @records_impl_user_type, include_blank: true %>
      </div>
      <div class="col-sm-6">
        时  间：
        <input type="text" name="records[impl_time][start]" class="datepicker" value="<%= @records_impl_time_start %>"/>
        ~ <input type="text" name="records[impl_time][end]" class="datepicker" value="<%= @records_impl_time_end %>"/>
      </div>
    </div>
  </form>
</div>

<div class="col-sm-12 up_search">
  <i class=" glyphicon glyphicon-chevron-up" title="收起搜索条件"></i>
</div>


<div class="col-sm-12" style="margin-bottom: 20px;margin-top: -20px; ">
  <div class="col-sm-2">
    <input type="button" value="打印发运单" class='btn btn-warning' onclick="print_delivery_list();"/>
  </div>
  <div class="col-sm-2">
    <input type="button" value="打印接收确认单" class='btn btn-info' onclick="print_delivery_confirm_list();"/>
  </div>
  <div class="col-sm-2">
    <input type="button" value="打印未接收清单" class='btn btn-success' onclick="print_delivery_unrece_list();"/>
  </div>
  <div class="col-sm-2">
    <input type="button" value="打印接收清单" class='btn btn-primary' onclick="print_delivery_reve_list();"/>
  </div>
  <div class="col-sm-2">
    <% if current_user.can_edit_inventory? %>
        <%= link_to '导入离线运单', import_logistics_containers_path, :class => "btn btn-warning", :style => 'color:white;' %>
    <% end %>
  </div>
</div>

<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @deliveries %>
    </div>
    <%= will_paginate @deliveries, :container => false %>
  </div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th></th>
    <!--基础-->
    <th>NO.</th>
    <th>运单号</th>
    <!--<th>状态</th>-->
    <th>收发货日期</th>
    <th>发送地</th>
    <th>目的地</th>
    <th>装箱单号</th>
    <th>备注</th>
    <th>创建日期</th>
    <!--基础-->
    <!--包含-->
    <th>托清单数</th>
    <!--包含-->
    <!--操作-->
    <th>最新记录</th>
    <!--操作-->
    <!--<th>木盘数</th>-->
    <!--<th>纸箱数</th>-->
    <!--<th>NPS数</th>-->
    <th colspan="3">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @deliveries.each_with_index do |delivery, index|
    delivery_presenter=DeliveryPresenter.new(delivery)
  %>
      <tr>
        <td><input type="checkbox" id="<%= delivery.id %>" class='print-check'></td>
        <td><%= index+@deliveries.offset+1 %></td>
        <td><%= delivery.container_id %></td>
        <!--<td><%= delivery.state_display %></td>-->
        <td><%= delivery.delivery.fifo_time.blank? ? ' ' : delivery.delivery.fifo_time.localtime.strftime('%y.%m.%d') %></td>
        <td><%= delivery.source_location.name %></td>
        <td><%= delivery.destination.name %></td>
        <td><%= delivery.delivery.extra_batch %></td>
        <td><%= delivery.remark %></td>
        <td><%= delivery.created_at.localtime.strftime('%y.%m.%d %H%M') %></td>
        <td>
          <%= link_to delivery_presenter.forklifts.count, forklifts_delivery_path(delivery), style: 'border-radius:10px;padding:5px 20px 5px 20px;background:steelblue;color:white;', :title => '托清单数' %>
        </td>
        <td>
          <%= delivery.get_records.last.display %>
        </td>
        <!--<td><%= delivery.delivery.extra_wooden_count %></td>-->
        <!--<td><%= delivery.delivery.extra_box_count %></td>-->
        <!--<td><%= delivery.delivery.extra_nps_count %></td>-->

        <td>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), {controller: 'deliveries', action: 'show', id: delivery.id}, :class => 'IconA', :title => '运单详情' %>

          <% if current_user.permission?(:operate_delivery) %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), {controller: 'deliveries', action: 'edit', id: delivery.id}, class: 'IconA', :title => '编辑运单' %>
          <% end %>

          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-log-out'), {controller: 'logistics_containers', action: 'export', id: delivery.id}, class: 'IconA', :title => '导出运单' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @deliveries, :container => false %>
</div>

<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
    init_check();

    $('.up_search').click(function () {
        var this_arrow = $(this);
        $('.all-search').slideToggle(300, function () {
            if (this_arrow.children('i').hasClass('glyphicon-chevron-up')) {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-down');
                this_arrow.children('i').attr('title', '展开搜索条件');
            } else {
                this_arrow.children('i').attr('class', 'glyphicon glyphicon-chevron-up');
                this_arrow.children('i').attr('title', '收起搜索条件');
            }
        });
    })
</script>
