<style>
    .col-sm-12 {
        height: 40px;
        line-height: 40px;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    .label {
        font-size: 1em;
    }
</style>

<% dp = DeliveryPresenter.new(@delivery) %>
<!--基础-->
<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">发运流程</li>
    <li>
      <a href="/deliveries" title="返回运单">运单</a>
    </li>
    <li class="active">
      <span class="label label-primary"><%= @delivery.container_id %></span>
      <% if current_user.permission?(:operate_delivery) %>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil'), edit_delivery_path(@delivery), :style => 'color:steelblue;margin-left:10px;', :title => "编辑运单" %>
      <% end %>
    </li>
  </ol>
</div>

<!-- 展示运单状态-->

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-12" style="border-bottom: 1px dashed #999;">
      <div class="col-sm-3">
        状态:
        <%= dp.state_display %>
      </div>
      <div class="col-sm-3">
        创建时间:
        <%= dp.created_at %>
      </div>
      <div class="col-sm-6">
        创建员工号:
        <%= @delivery.user.blank? ? '' : @delivery.user.nr %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-3">创建地:
        <%= @delivery.source.name %>
      </div>
      <div class="col-sm-3">备注:
        <%= @delivery.remark %>
      </div>
      <div class="col-sm-3">目的地:
        <%= @delivery.destination.name if @delivery.destination %>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      托清单列表
    </div>
  </div>

  <% @forklifts = dp.forklifts %>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>NO.</th>
      <th>托清单号</th>
      <th>状态</th>
      <th>备货仓库</th>
      <th>包装箱总数</th>
      <th>已接收箱数</th>
    </tr>
    </thead>
    <tbody>
    <% @forklifts.each_with_index do |f, index| %>
        <% fpresenter = ForkliftPresenter.new(f) %>
        <tr>
          <td><%= index+1 %></td>
          <td>
            <%= link_to content_tag(:span, f.container_id, :class => "label label-primary"), forklift_path(f) %>
          </td>
          <td><%= f.state_display %></td>
          <td><%= f.destinationable.name if f.destinationable %></td>
          <td><%= fpresenter.sum_packages %></td>
          <td><%= fpresenter.accepted_packages %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      操作记录
    </div>
  </div>
  <div class="panel-body">
    <div class="col-sm-3">
      <% @delivery.get_records.each do |r| %>
          <%= r.display %>
      <% end %>
    </div>
  </div>
</div>