<h1><%= @delivery.id%></h1>
<span class="label label-primary"><%= @delivery.id%></span>

<h4>状态: <small><%= DeliveryState.display(@delivery.state) %></small></h4>
<h4>创建时间: <small><%= @delivery.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></small></h4>
<h4>创建员工号: <small><%= @delivery.user_id%></small></h4>
<h4>创建员工: <small><%= @delivery.user.name%></small></h4>
<h4>发送时间: <small><%= @delivery.delivery_date.localtime.strftime('%Y-%m-%d %H:%M:%S') if @delivery.delivery_date %></small></h4>
<h4>接收时间: <small><%= @delivery.received_date.localtime.strftime('%Y-%m-%d %H:%M:%S') if @delivery.received_date %></small></h4>
<h4>接收员工号: <small><%= @delivery.receiver_id if @delivery.receiver_id %></small></h4>
<h4>接收员工: <small><%= @delivery.receiver.name if @delivery.receiver %></small></h4>
<h4>发送地: <small><%= @delivery.source.name if @delivery.source %></small></h4>
<h4>目的地: <small><%= @delivery.destination.name if @delivery.destination %></small></h4>
<h4>托清单数: <small><%= @delivery.forklifts.count %></small></h4>
<h4>备注: <small><%= @delivery.remark %></small></h4>

<%= link_to '返回', deliveries_path ,:class=>'btn btn-default' %>
