<p id="notice"><%= notice %></p>

<p>
  <string>运单号:</string>
  <%= @delivery.id%>
</p>

<p>
  <string>状 态:</string>
  <%= DeliveryState.display(@delivery.state)%>
</p>

<p>
  <string>创建员工:</string>
  <%= @delivery.user.name%>
</p>

<p>
  <string>创建日期:</string>
  <%= @delivery.created_at%>
</p>

<p>
  <string>发运日期:</string>
  <%= @delivery.delivery_date%>
</p>

<p>
  <string>接收日期:</string>
  <%= @delivery.received_date%>
</p>

<p>
  <string>接收员工:</string>
  <%= @delivery.receiver.name if @delivery.receiver%>
</p>


<p>
  <string>发送地:</string>
  <%= @delivery.source.name if @delivery.source%>
</p>

<p>
  <string>目的地:</string>
  <%= @delivery.destination.name if @delivery.destination%>
</p>

<p>
  <string>备 注:</string>
  <%= @delivery.remark%>
</p>

<p>
  <string>托盘列表:</string>
  <ul>
    <% @delivery.forklifts.each do |f| %>
    <%= link_to f.id,f%>
    <% end%>
  </ul>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
