<% dp = DeliveryPresenter.new(@delivery) %>
<!--基础-->
<h2>基础</h2>
<h1><%= @delivery.container_id %></h1>
<span class="label label-primary"><%= @delivery.container_id%></span>
<h4>状态: <small><%= dp.state_display %></small></h4>
<h4>创建时间: <small><%= dp.created_at %></small></h4>
<h4>创建员工号: <small><%= @delivery.user_id%></small></h4>
<h4>创建员工: <small><%= @delivery.user.name%></small></h4>
<h4>创建地: <small><%= @delivery.source.name %></small></h4>
<h4>备注: <small><%= @delivery.remark %></small></h4>
<h4>目的地:<small><%= @delivery.destination.name %></small></h4>
<h2>托清单列表</h2>
<ul>
  <% dp.forklifts.each do |f|%>
  <li><h4><small><%= f.container_id %></small></h4></li>
  <% end %>
</ul>
<h2>操作记录</h2>
<ul>
<% @delivery.get_records.each do |r| %>
  <li><h4><small><%= r.display %></small></h4></li>
<%end%>
</ul>
<%= link_to '返回', deliveries_path ,:class=>'btn btn-default' %>
