<p id="notice"><%= notice %></p>

<p>
  <string>运单号:</string>
  <%= @delivery.id%>
</p>

<p>
  <string>状 态:</string>
  <%= DeliveryState.display(@delivery.state)%>
</p>

<p>
  <string>创建员工:</string>
  <%= @delivery.user.name%>
</p>

<p>
  <string>创建日期:</string>
  <%= @delivery.created_at.localtime%>
</p>

<p>
  <string>发运日期:</string>
  <%= @delivery.delivery_date.localtime if @delivery.delivery_date%>
</p>

<p>
  <string>接收日期:</string>
  <%= @delivery.received_date.localtime if @delivery.received_date %>
</p>

<p>
  <string>接收员工:</string>
  <%= @delivery.receiver.name if @delivery.receiver%>
</p>


<p>
  <string>发送地:</string>
  <%= @delivery.source.name if @delivery.source%>
</p>

<p>
  <string>目的地:</string>
  <%= @delivery.destination.name if @delivery.destination%>
</p>

<p>
  <string>备 注:</string>
  <%= @delivery.remark%>
</p>

<p>
  <string>托盘列表:</string>
  <% @delivery.forklifts.each do |f| %>
    <p><b>托清单号 :</b><%= link_to f.id,f%>, <b>状态 :</b> <%= ForkliftState.display(f.state) %>, <b>包装箱总数 :</b> <%= f.sum_packages%> , <b>已接收箱数 :</b> <%= f.accepted_packages%></p>
  <% end%>
</p>

<%= link_to '编辑', edit_delivery_path(@delivery) %> |
<%= link_to '返回', deliveries_path %>
