<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= f.label :handled,'是否已处理'%>
      <%=f.check_box :handled%>
    </p>

    <p>
      <%= f.label :is_delete,'是否已删除'%>
      <%=f.check_box :is_delete%>
    </p>
    <div class="actions">
      <%= f.submit value: '提 交', class: 'btn btn-primary btn-lg' %>
    </div>
<% end %>
