<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>备货仓库</th>
    <th>备货库位</th>
    <th>数量</th>
    <th>箱数</th>
    <th>是否已完成</th>
  </tr>
  </thead>
  <tbody>
  <% @pickitems.each do |pi| %>
  <tr>
    <td><%= pi.destination_whouse.name%></td>
    <td>
      <% if pp = OrderItemService.verify_department(pi.destination_whouse_id, pi.part_id) %><%= pp.position.detail %>
      <% end %></td>
    </td>
    <td><%= pi.quantity%></td>
    <td><%= pi.box_quantity%></td>
    <td>
      <% if pi.order_item %>
          <input type="checkbox" class="pickitem-checkbox" value="<%= pi.id %>" <%= 'checked' if pi.order_item.is_finished%> />
      <%end%>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function(){
      $("body").on("change",".pickitem-checkbox",function(){
          $(this)
      })
  });
</script>