<h2><%= @order.id%>订单项目列表</h2>
<br/>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @order_items %>
  </div>
  <%= will_paginate @order_items, :container => false %>
</div>
<table class="table table-bordered table-striped globle-table table-hover">
  <thead>
  <tr>
    <td>NO.</td>
    <td>项目号</td>
    <td>零件号</td>
    <td>箱数</td>
    <td>包装数量</td>
  </tr>
  </thead>
  <tbody>
  <% @order_items.each_with_index do |order,index|%>
      <tr>
        <td><%= index+@order_items.offset+1%></td>
        <td><%= order.id %></td>
        <td><%= OrderItemLabelRegex.part_prefix_string+order.part_id %></td>
        <td><%= order.box_quantity %></td>
        <td><%= OrderItemLabelRegex.quantity_prefix_string + order.quantity.to_s %></td>
      </tr>
  <% end%>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @order_items, :container => false %>
</div>
<%= link_to '返回', orders_path ,:class => "btn btn-default btn-lg" %>