<!--<p style="padding-left:30px;">择货员工号：<input type="text" id="user-id-text" class="panel-input-o" value="<%= current_user.id %>" /></p>-->
<!--<div id="filters">-->
  <!--<%= render partial:'filters'%>-->
<!--</div>-->
<div class='panel-header'>
  <p>需求面板</p>
  <div class="choose-employee">
    <label>当前使用员工:</label>
    <input type='text' id="user-id-text" value="<%= current_user.id %>"  />
    <a class='btn btn-xs btn-primary'>更改</a>
  </div>
  <a class='btn btn-warning btn-sm' id="create-select">创建择货单</a>
</div>
<div class="panel-content">
  <!--left-->
  <div class='panel-list  choose-active'>
    <div class='panel-title'>
      <p class="left">需求单列表</p>
      <i class='glyphicon glyphicon-chevron-right'></i>
    </div>
    <div class="filter-part">
      <select multiple class="chosen-select" style="width:210px;" data-placeholder="选择筛选条件" id="require-select-outer">
      </select>
      <a class="btn btn-xs btn-primary active"><i class="glyphicon glyphicon-search"></i></a>
    </div>
    <ul id='order-list-panel' class="order-list-panel">
      <%= render partial: 'list' %>
    </ul>
  </div>
  <!--center-->
  <div class="order-content-div">
    <h4>选择需求单预览</h4>
  </div>
  <!--right-->
  <div id="pick-list-history" class="pick-list-history" >
    <div class='panel-title'>
      <i class='glyphicon glyphicon-chevron-left'></i>
      <p class="right">择货单列表</p>
    </div>
    <%= render partial: 'picklists'%>
  </div>
</div>
<div class="outer-scene" id="outer-scene">
  <div class="inner-create">
    <div class="inner-header">
      <h3>创建择货单</h3>
      <i class="glyphicon glyphicon-remove" id="close-scene"></i>
    </div>
    <div class="inner-body">
      <div class="left">
        <div class="filter-part">
          <select multiple class="chosen-select" style="width:310px;" data-placeholder="选择筛选条件" id="require-select-inner">

              <%= render partial:'filters'%>

          </select>
          <a class="btn btn-xs btn-primary active"><i class="glyphicon glyphicon-search"></i></a>
        </div>

        <div class="filter-result">
          <ul id='order-list-panel'>
            <%= render partial: 'list_for_choose' %>
          </ul>
        </div>
      </div>
      <div class="right">
        <input type="button" class="btn btn-primary" value="生成择货单 " onclick="build_pick_list();" />
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      chosen.init(["require-select-outer","require-select-inner"],[210,310]);
      set_outer_scene();
      $(window).resize(function(){
          set_outer_scene();
      });
      $("body")
              .on("click","#close-scene",function(){
                   $("#outer-scene").css("left","-999em");
              })
              .on("click","#create-select",function(){
                  $("#outer-scene").css("left","0px");
              })
  })
  function set_outer_scene(){

      var screen_width=document.body.clientWidth,
          screen_height=document.body.clientHeight;
      $("#outer-scene").css({
          width:screen_width,
          height:screen_height
      })
  }
    $('body').on('change', '.order-checkbox', function () {
        get_order_items();
    });
    $('body').on('keydown', '#user-id-text', function (e) {
        if (e.keyCode == 13) {
            get_order_items();
            get_user_filters();
        }
    });

    function get_user_filters(){
        $.get('/orders/filters',{user:$('#user-id-text').val()},function(data){
            $("#filters").html(data);
        },'html');
    };

    function get_order_items() {
        var orders = [];
        $('.order-checkbox:checked').each(function () {
            orders.push($(this).val());
        });
        if (orders.length == 0) {
            $('.order-content-div').html("<h4>选择需求单预览</h4>");
        } else {
            $.get('/orders/items', {user_id: $('#user-id-text').val(), order_ids: orders}, function (data) {
                $('.order-content-div').html(data);
            }, 'html');
        }
    }
    function build_pick_list() {
        var user = $('#user-id-text').val();
        var orders = [];
        $('.order-checkbox:checked').each(function () {
            orders.push($(this).val());
        });
        if (!user) {
            alert('请输入择货员工号');
            return;
        }
        if (orders.length == 0) {
            alert('请选择需要处理的需求单');
            return;
        }
        show_handle_dialog();
        $.post('/pick_lists/', {user_id: user, order_ids: orders}, function (data) {
            hide_handle_dialog();
            if (data.result) {
                window.location = '/pick_lists/' + data.content.id;
            } else {
                alert(data.content);
            }
        }, 'json');
    }

    function finish_order_handle(handled) {
        var orders = [];
        $('.order-checkbox:checked').each(function () {
            orders.push($(this).val());
        });
        if (orders.length > 0 && confirm('确定完成处理？')) {
            $.post('/orders/handle', {orders: orders, handled: handled}, function (data) {
             if(handled){
                $.each(data, function (i,order) {
                    console.log(order);
                    $('#' + order).parent().remove();
                });
             }
            }, 'json');
        }
    }
    (function refresh_order() {
        setTimeout(function () {
            var orders = [];
            $('.order-checkbox').each(function () {
                orders.push($(this).val());
            });
            $.ajax({
                url: '/orders/panel_list',
                dataType: 'html',
                data: {orders: orders},
                type: 'get',
                success: function (data) {
                    if (data.length > 0) {
                        $('#order-list-panel').append(data);
                    }
                    refresh_order();
                },
                error: function () {
                    refresh_order();
                },
                complete: function (xhr) {
                    if (xhr.status == 304) return;
                }
            });
        }, 30000);
    })();
</script>