<style type="text/css">
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }

    .col-sm-12 {
        height: 40px;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">运输管理</li>
    <li>
      <a href="/orders" title="返回需求单">需求单</a>
    </li>
    <li class="active">
      查看需求单详情<span class="label label-primary"><%= @order.id %></span>
      <% if current_user.can_edit_inventory? %>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_order_path(@order), :title => '编辑需求单' %>
      <% end %>
    </li>
  </ol>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="col-sm-12" style="border-bottom: 1px dashed #000;">
      <div class="col-sm-3">
        要货员:<%= @order.user.blank? ? '' : @order.user.name %>
      </div>
      <div class="col-sm-3">
        要货员工号:<%= @order.user.blank? ? '' : @order.user.nr %>
      </div>
      <div class="col-sm-3">
        备货地:<%= @order.source.name if @order.source %>
      </div>
      <div class="col-sm-3">
        是否有紧急项目:
        <% if @order.is_emergency %>
            <span class="label label-success">是</span>
        <% else %>
            <span class="label label-warning">否</span>
        <% end %>
      </div>
    </div>

    <div class="col-sm-12" style="margin-top: 20px; ">
      <div class="col-sm-3">
        是否已处理:<%= @order.handled %>
      </div>
      <div class="col-sm-3">
        创建时间:<%= @order.created_at.localtime.strftime('%Y-%m-%d %H:%M') %>
      </div>
      <div class="col-sm-3">
        是否已删除:
        <% if @order.is_delete %>
            <span class="label label-success">是</span>
        <% else %>
            <span class="label label-warning">否</span>
        <% end %>
      </div>
      <div class="col-sm-3">
        备注:<%= @order.remark %>
      </div>
    </div>
  </div>
</div>
