<style>
    .col-sm-12 {
        height: 60px;
        border-bottom: 1px dashed #000;
        line-height: 50px;
    }

    .col-sm-3 {
        display: flex;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }

</style>

<%= form_for(@sys_config) do |f| %>
    <% if @sys_config.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sys_config.errors.count, "error") %> prohibited this sys_config from being saved:</h2>

          <ul>
            <% @sys_config.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <%= f.label :name, '配置名称' %>:
            <%= f.label :name, @sys_config.name %>
          </div>
          <div class="col-sm-3">
            <%= f.label :code, '代码' %>:
            <!-- <%= f.label :code, @sys_config.code%> -->
            <label for="sys_config_code" style="width: 200px;overflow: hidden;text-overflow: ellipsis;" title="<%= @sys_config.code%>"> <%= @sys_config.code%> </label>
          </div>
          <div class="col-sm-3">
            <%= f.label :value, '值' %>:
            <% if SysConfig.is_boolen?(params[:id]) %>
                <%= f.select(:value, [['否', false], ['是', true]], {include_blank: false}, :style => 'height:30px;width:150px;margin-top:10px;') %>
            <% else %>
                <%= f.text_field :value, :style => 'height:30px;margin-top:10px;' %>
            <% end %>
          </div>
          <div class="col-sm-3">
            <%= f.label :description, '描述' %>:
            <%= f.text_area :description, :style => 'height:60px;min-width:150px;' %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit value: '提 交', class: 'btn btn-primary', :style => 'width:150px;color:white;margin-top:20px;' %>
        </div>
      </div>
    </div>
<% end %>
