<div class="config-panel">
  <div>
    <% @sys_config_groups.each do |group| %>
        <h4 class="bg-primary">
          <span class='config-title'><%= group.category %></span>
        </h4>
        <table class="table table-bordered table-striped globle-table">
          <thead>
          <tr>
            <th>配置名称</th>
            <th>代码</th>
            <th>值</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% SysConfig.where(category: group.category).order(:index).each do |sys_config| %>
              <tr>
                <td><%= sys_config.name %></td>
                <td><%= sys_config.code %></td>
				<td title=<%=sys_config.description%>><%= sys_config.value %></td>
                <td><%= link_to '编辑', edit_sys_config_path(sys_config), :class => 'btn btn-default' %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
