<div class="config-panel">
  <div>
    <h4 class="bg-primary">
      <span class='config-title'><%= @locations.first.category %></span>
    </h4>
    <table class="table table-bordered table-striped globle-table">
      <thead>
      <tr>
        <th>配置名称</th>
        <th>代码</th>
        <th>地点</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @locations.each do |location| %>
          <tr>
            <td><%= location.name %></td>
            <td><%= location.code %></td>
            <td title=<%= location.description %>><%= Location.find_by_nr(location.value).name %></td>
          </tr>
      <% end %>
      </tbody>

    </table>
  </div>

  <div>
    <h4 class="bg-primary">
      <span class='config-title'><%= @customs.first.category %></span>
    </h4>
    <table class="table table-bordered table-striped globle-table">
      <thead>
      <tr>
        <th>配置名称</th>
        <th>代码</th>
        <th>客户</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @customs.each do |customs| %>
          <tr>
            <td><%= customs.name %></td>
            <td><%= customs.code %></td>
            <td title=<%= customs.description %>><%= Tenant.find_by_code(customs.value).name %></td>
          </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>