<style>
    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">管理</li>
    <li class="active">配置</li>
    <li class="active">扩展配置</li>
  </ol>
  <ol class="pull-right" style="margin-top: -45px;margin-right: 20px;">
    <button class="btn btn-primary SaveBtn" style="width: 200px;text-align: center;">
      <i class="glyphicon glyphicon-ok"></i> 保存
    </button>
  </ol>
</div>

<div class="panel panel-primary" style="margin: 20px;">
  <div class="panel-heading">
    <h4><%= @locations.first.category %></h4>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="col-md-4">配置名称</th>
      <th class="col-md-4">代码</th>
      <th class="col-md-4">地点</th>
    </tr>
    </thead>
    <% @locations.each do |location| %>
        <tbody>
        <tr>
          <td><%= location.name %></td>
          <td id="<%= location.code %>"><%= location.code %></td>
          <td>
            <select name="Location" id="<%= Location.find_by_nr(location.value).id %>">
            </select>
          </td>
        </tr>
        </tbody>
    <% end %>
  </table>
</div>

<div class="panel panel-primary" style="margin: 20px;">
  <div class="panel-heading">
    <h4><%= @customs.first.category %></h4>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="col-md-4">配置名称</th>
      <th class="col-md-4">代码</th>
      <th class="col-md-4">客户</th>
    </tr>
    </thead>

    <tbody>
    <% @customs.each do |customs| %>
        <tr>
          <td><%= customs.name %></td>
          <td id="<%= customs.code %>"><%= customs.code %></td>
          <td>
            <select name="Tenant" id="<%= Tenant.find_by_code(customs.value).id %>">
            </select>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>

<% @all_locations.each do |location| %>
    <script type="text/javascript" charset="utf-8">
        $('<option value="<%= location[:id] %>" > <%= location[:name] %></option>').appendTo('[name=Location]').ready(function () {
        });
    </script>
<% end %>

<% @all_customs.each do |customs| %>
    <script type="text/javascript" charset="utf-8">
        $('<option value="<%= customs[:id] %>" > <%= customs[:name] %></option>').appendTo('[name=Tenant]').ready(function () {
        });
    </script>
<% end %>

<script type="text/javascript" charset="utf-8">
    $('[name=Location]').each(function () {
        var ID = $(this).attr('id');
        $('#' + ID).find('option[value=' + ID + ']').attr('selected', true);
    });

    $('[name=Tenant]').each(function () {
        var ID = $(this).attr('id');
        $('#' + ID).find('option[value=' + ID + ']').attr('selected', true);
    });

    $('.SaveBtn').unbind().on('click', function () {
        var LocationConfigArray = new Array();
        var CustomConfigArray = new Array();

        <% @locations.each do |location| %>
        var LocationID = $('#' + '<%= location.code %>').next('td').children('select').attr('value');
        LocationConfigArray.push({location_code: '<%= location.code %>', location_id: LocationID});
        <%end %>

        <% @customs.each do |customs| %>
        var CustomID = $('#' + '<%= customs.code %>').next('td').children('select').attr('value');
        CustomConfigArray.push({custom_code: '<%= customs.code %>', location_id: CustomID});
        <%end %>

        var LocationConfig = LocationConfigArray;
        var CustomConfig = CustomConfigArray;

        console.log(LocationConfig);
        $.ajax({
            url: '/sys_configs/jiaxuan_extra',
            type: 'post',
            data: {
                location_config: LocationConfig,
                custom_config: CustomConfig
            },
            success: function (data) {
                $('.notice').html("Save Successfully.");
            },
            error: function () {
                console.log("Something Error.");
            }
        })
    })
</script>