<style>
    .col-sm-12 {
        height: 40px;
    }

    .col-sm-12:first-child {
        margin-top: 20px;
        border-bottom: 1px dashed #000;
    }
</style>

<%= form_for(@order_item) do |f| %>
    <% if @order_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

          <ul>
            <% @order_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-primary">

      <div class="panel-body">
        <div class="col-sm-12">
          <%= f.label :is_emergency, '是否加急' %>
          <%= f.check_box :is_emergency %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit value: '提 交', class: 'btn btn-primary', :style => 'width:200px;margin:20px;' %>
      </div>
    </div>

<% end %>
