<style>
    .col-sm-12 {
        height: 40px;
    }

    .col-sm-12:first-child {
        margin-top: 20px;
    }

    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
</style>

<form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
  <div class="col-sm-12">
    <div class="col-sm-4">
      项目号：
      <input type="text" name="order_item[id]" value="<%= @id %>"/>
      <input type="hidden" name="order_item[id_fuzzy]"/>
    </div>
    <div class="col-sm-4">
      创建员工工号：
      <input type="text" name="order_item[user_id]" value="<%= @user_id %>"/>
      <input type="hidden" name="order_item[user_id_fuzzy]"/>
    </div>
    <div class="col-sm-4">
      所属订单号：
      <input type="text" name="order_item[order_id]" value="<%= @order_id %>"/>
      <input type="hidden" name="order_item[order_id_fuzzy]"/>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="col-sm-6">
      创建日期：
      <input type="text" name="order_item[created_at][start]" class="datepicker" value="<%= @created_at_start %>"/>
      ~ <input type="text" name="order_item[created_at][end]" class="datepicker" value="<%= @created_at_end %>"/>
    </div>

    <div class="col-sm-3">
      <input type="submit" value="查 找" class="btn btn-primary" style="width: 200px;"/>
    </div>
  </div>
</form>

<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @order_items %>
    </div>
    <%= will_paginate @order_items, :container => false %>
  </div>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>NO.</th>
    <th>订单项目号</th>
    <th>要货员</th>
    <th>所属订单</th>
    <th>创建时间</th>
    <th>要货位置</th>
    <th>箱数</th>
    <th>零件号</th>
    <th>数量</th>
    <th>是否加急</th>
    <th>是否已完成</th>
    <th colspan="2">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @order_items.each_with_index do |order_item, index| %>
      <tr>
        <td><%= index+@order_items.offset+1 %></td>
        <td><%= order_item.id %></td>
        <td><%= order_item.user.name %></td>
        <td><span class="label label-info"><%= order_item.order_id %></span></td>
        <td><%= order_item.created_at.localtime.strftime('%Y-%m-%d %H:%M') %></td>
        <td>
          <span class="label label-info"><%= order_item.location.name %></span>
          <span class="label label-info"><%= order_item.whouse.name %></span>
          <span class="label label-info"><% if pp = OrderItemService.verify_department(order_item.whouse_id, order_item.part_id) %><%= pp.position.detail %><% end %></span>
        </td>
        <td><%= order_item.box_quantity %></td>
        <td><span class="label label-info"><%= OrderItemLabelRegex.part_prefix_string + order_item.part_id %></span>
        </td>
        <td><%= OrderItemLabelRegex.quantity_prefix_string + order_item.quantity.to_s %></td>
        <td>
          <% if order_item.is_emergency %>
              <span class="label label-success">是</span>
          <% else %>
              <span class="label label-warning">否</span>
          <% end %>
        </td>
        <td>
          <% if order_item.is_finished %>
              <span class="label label-success">是</span>
          <% else %>
              <span class="label label-warning">否</span>
          <% end %>
        </td>
        <% if current_user.can_edit_inventory? %>
            <td>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), order_item, :class => 'IconA', :title => '详情' %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_order_item_path(order_item), :class => 'IconA', :title => '编辑' %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @order_items, :container => false %>
</div>
<br>
<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });
</script>