<%= form_for(@pick_item_filter) do |f| %>
  <% if @pick_item_filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick_item_filter.errors.count, "error") %> prohibited this pick_item_filter from being saved:</h2>

      <ul>
      <% @pick_item_filter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :filterable_id %><br>
    <%= f.text_field :filterable_id %>
  </div>
  <div class="field">
    <%= f.label :filterable_type %><br>
    <%= f.text_field :filterable_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
