<style>
    .col-sm-12 {
        height: 40px;
    }

    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
</style>
<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">管理</li>
    <li class="active">
      基础信息设置
    </li>
    <li class="active">
      员工择货规则
    </li>
  </ol>
</div>
<div class="panel panel-primary">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div class="panel-body">
      <div class="col-sm-12" style="border-bottom: 1px dashed #000; ">
        <div class="col-sm-4">
          员工号：
          <input type="text" name="pick_item_filter[user_id]" value="<%= @user_id %>"/>
          <input type="hidden" name="pick_item_filter[user_id_fuzzy]"/>
        </div>
        <div class="col-sm-4">
          <input type="submit" value="查 找" class="btn btn-primary" style="width: 150px;color: white;"/>
        </div>
      </div>
    </div>
  </form>

  <div class="panel-body">
    <div class="col-sm-12">
      <% if current_user.permission?(:operate_basic_info_create) %>
          <div class="col-sm-4">
            <%= link_to "新建员工择货规则", send("new_#{@model}_path"), :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
          </div>
          <div class="col-sm-4">
            <%= link_to "上传/更新员工择货规则", send("import_#{@model.pluralize}_path"), :class => 'btn btn-primary', :style => 'width:170px;color:white;' %>
          </div>
      <% end %>
      <div class="col-sm-4">
        <%= link_to "下载员工择货规则", send("download_#{@model.pluralize}_path"), :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @pick_item_filters %>
    </div>
    <%= will_paginate @pick_item_filters, :container => false %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th></th>
    <th>员工号</th>
    <th>筛选类型名称</th>
    <th>筛选类型</th>
    <th>值</th>
    <th colspan="2">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @pick_item_filters.each_with_index do |pick_item_filter, i| %>
      <tr>
        <td><%= i+@pick_item_filters.offset+1 %>
        <td><%= pick_item_filter.user_id %></td>
        <td><%= pick_item_filter.filter_type_display %></td>
        <td><%= pick_item_filter.filterable_type %></td>
        <td><%= pick_item_filter.filterable_id %></td>
        <td>
          <% if current_user.permission?(:operate_basic_info_edit) %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_pick_item_filter_path(pick_item_filter), :class => 'IconA', :title => '编辑' %>
          <% end %>
          <% if current_user.permission?(:operate_basic_info_delete) %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-trash', :style => 'color:darkred;'), pick_item_filter, method: :delete, data: {confirm: '确定删除?'}, :class => 'IconA', :title => '删除' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @pick_item_filters, :container => false %>
</div>