<%= form_for(@part_client) do |f| %>
    <% if @part_client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@part_client.errors.count, "error") %> prohibited this part_client from being saved:</h2>

          <ul>
            <% @part_client.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-sm-12" style="margin-bottom: 20px;">
          <div class="col-sm-6">
            <%= f.label :part_id %>
            <%= f.text_field :part_id, value: @part_client.new_record? ? '' : @part_client.part.nr %>
          </div>
          <div class="col-sm-6">
            <%= f.label :client_part_nr %>
            <%= f.text_field :client_part_nr %>
          </div>
        </div>

        <%= f.hidden_field :client_tenant_id, value: @tenant.id %>

        <div class="col-sm-12" style="border-top: 1px dashed #000;">
          <div class="actions">
            <%= f.submit '完成', :class => 'btn btn-primary', :style => 'width:200px;margin-top:20px;' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
