<h1>客户零件列表</h1>

<table class="table table-bordered table-striped globle-table">
  <thead>
    <tr>
      <th>Part Nr</th>
      <th>Client part nr</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @part_clients.each do |part_client| %>
      <tr>
        <td><%= part_client.part.nr %></td>
        <td><%= part_client.client_part_nr %></td>
        <td><%= link_to 'Edit', edit_tenant_part_client_path(part_client,{tenant_id:part_client.client_tenant_id}) %></td>
        <td><%= link_to 'Destroy', "/tenants/#{part_client.client_tenant_id}/part_clients/#{part_client.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "导入客户零件", import_tenant_part_clients_path%>
</br>
<%= link_to 'New Part client', new_tenant_part_client_path %>
