<style>
    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">管理</li>
    <li class="active">基础信息设置</li>
    <li>
      <a href="/tenants" title="返回客户">客户</a>
    </li>
    <li class="active">
      客户零件列表
    </li>
  </ol>
</div>

<form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="col-sm-12" style="border-bottom: 1px dashed #000;">
        <div class="col-sm-4">
          零件号：
          <input type="text" name="part_client[part_id]" value="<%= @part_id %>"/>
        </div>
        <div class="col-sm-4">
          客户零件号：
          <input type="text" name="part_client[client_part_nr]" value="<%= @client_part_nr %>"/>
          <input type="hidden" name="part_client[client_part_nr_fuzzy]"/>
        </div>
        <div class="col-sm-4">
          <input type="submit" value="查 找" class="btn btn-primary" style="width: 150px;"/>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="panel panel-primary">
  <div class="panel-body">
    <% if current_user.permission?(:operate_basic_info_create) %>
        <%= link_to "导入客户零件", import_tenant_part_clients_path, :title => '导入客户零件', :class => 'btn btn-primary', :style => 'width:150px;color:white;' %>
        <%= link_to '新建客户零件', new_tenant_part_client_path, :title => '新建客户零件', :class => 'btn btn-warning', :style => 'width:150px;margin-left:50px;color:white;' %>
    <% end %>
  </div>
</div>

<div class="col-sm-12" style="margin-bottom: 20px;">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @part_clients %>
    </div>
    <%= will_paginate @part_clients, :container => false %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>序号</th>
    <th>零件号</th>
    <th>客户零件号</th>
    <th colspan="2">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @part_clients.each_with_index do |part_client, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= part_client.part.nr %></td>
        <td><%= part_client.client_part_nr %></td>
        <td>
          <% if current_user.permission?(:operate_basic_info_edit) %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_tenant_part_client_path(part_client, {tenant_id: part_client.client_tenant_id}), :class => 'IconA', :title => '编辑零件' %>
          <% end %>

          <% if current_user.permission?(:operate_basic_info_delete) %>
              <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-trash', :style => 'color:darkred;'), "/tenants/#{part_client.client_tenant_id}/part_clients/#{part_client.id}", method: :delete, data: {confirm: 'Are you sure?'}, :class => 'IconA', :title => '删除零件' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
