<h1>权限列表</h1>

<%= link_to "新建权限", send("new_#{@model}_path") ,:class=>'btn btn-default'%>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @parts %>
  </div>
  <%= will_paginate @permissions, :container => false %>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>权限名称</th>
      <th>描述</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.name %></td>
        <td><%= permission.description %></td>
        <td><%= link_to '详细', permission %></td>
        <td><%= link_to '编辑', edit_permission_path(permission) %></td>
        <td><%= link_to '删除', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @permissions, :container => false %>
</div>

<br>
