<style>
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }

    .col-sm-4 {
        font-size: 1.2em;
    }
</style>

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">管理</li>
    <li class="active">基础信息设置</li>
    <li>
      <%= link_to '权限列表', permissions_path, :title => '返回权限列表' %>
    </li>
    <li class="active">
      查看权限列表
      <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD;'), edit_permission_path(@permission), :title => '编辑权限列表' %>
    </li>
  </ol>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <strong>权限名称:</strong>
        <%= @permission.name %>
      </div>
      <div class="col-sm-4">
        <strong>描述:</strong>
        <%= @permission.description %>
      </div>
    </div>
  </div>
</div>