<style>
    .IconA {
        margin: 0 10px;
        font-size: 1.2em;
    }

    .IconA:hover {
        text-decoration: none;
        background-color: white;
    }
    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }

    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>


<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li class="active">
      包装物流转记录
    </li>
    <li class="active">
      包装物流转记录详情
    </li>
  </ol>
</div>


<div class="col-sm-12" style="margin-top: -10px;margin-bottom: 20px;">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @wrappage_movement_items %>
    </div>
    <%= will_paginate @wrappage_movement_items, :container => false %>
  </div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>NO.</th>
      <th>发出地</th>
      <th>接收地</th>
      <th>数量</th>
      <th>流转方式</th>
      <th>记录员</th>
      <th>运单号</th>
      <th>装箱单号</th>
      <th>上海莱尼出门证号</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @wrappage_movement_items.each_with_index do |wrappage_movement_item, i| %>
      <tr>
        <td><%= i+@wrappage_movement_items.offset+1 %></td>
        <td><%= wrappage_movement_item.src_location.nr %></td>
        <td><%= wrappage_movement_item.des_location.nr %></td>
        <td><%= wrappage_movement_item.qty %></td>
        <td><%= WrappageMoveType.display(wrappage_movement_item.wrappage_move_type_id) %></td>
        <td><%= wrappage_movement_item.user.blank? ? '' : wrappage_movement_item.user.nr %></td>
        <td><%= wrappage_movement_item.sourceable.blank? ? '' : wrappage_movement_item.sourceable.container_id %></td>
        <td><%= wrappage_movement_item.extra_800_nos %></td>
        <td><%= wrappage_movement_item.extra_leoni_out_no %></td>
        <td>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), wrappage_movement_item, :title => '详细', :class => 'IconA' %>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil', :style => 'color:#4F94CD'), edit_wrappage_movement_item_path(wrappage_movement_item), :title => '编辑', :class => 'IconA' %>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-trash', :style => 'color:darkred;'), wrappage_movement_item, method: :delete, data: {confirm: 'Are you sure?'}, :title => '删除', :class => 'IconA' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="digg_pagination">
  <%= will_paginate @wrappage_movement_items, :container => false %>
</div>
<!--<%= link_to 'New Wrappage movement item', new_wrappage_movement_item_path %>-->
