<p id="notice"><%= notice %></p>

<p>
  <strong>Src location:</strong>
  <%= @wrappage_movement_item.src_location_id %>
</p>

<p>
  <strong>Des location:</strong>
  <%= @wrappage_movement_item.des_location_id %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @wrappage_movement_item.qty %>
</p>

<p>
  <strong>Wrappage move type:</strong>
  <%= @wrappage_movement_item.wrappage_move_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @wrappage_movement_item.user %>
</p>

<p>
  <strong>Sourceable:</strong>
  <%= @wrappage_movement_item.sourceable_id %>
</p>

<p>
  <strong>Sourceable type:</strong>
  <%= @wrappage_movement_item.sourceable_type %>
</p>

<p>
  <strong>Extra 800 nos:</strong>
  <%= @wrappage_movement_item.extra_800_nos %>
</p>

<p>
  <strong>Extra leoni out no:</strong>
  <%= @wrappage_movement_item.extra_leoni_out_no %>
</p>

<%= link_to 'Edit', edit_wrappage_movement_item_path(@wrappage_movement_item) %> |
<%= link_to 'Back', wrappage_movement_items_path %>
